---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/achievement/2144?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-67.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '20'
      X-Plan-Quota-Reset:
      - Saturday, September 26, 2015 4:00:00 AM GMT
    body:
      encoding: UTF-8
      string: '{"id":2144,"title":"What a Long, Strange Trip It''s Been","points":50,"description":"Complete
        the world events achievements listed below.","reward":"Rewards: Violet Proto-Drake","rewardItems":[{"id":44177,"name":"Reins
        of the Violet Proto-Drake","icon":"ability_mount_drake_proto","quality":4,"itemLevel":70,"tooltipParams":{"timewalkerLevel":0},"stats":[],"armor":0,"context":"","bonusLists":[]}],"icon":"achievement_bg_masterofallbgs","criteria":[{"id":7553,"description":"To
        Honor One''s Elders","orderIndex":0,"max":1},{"id":7561,"description":"Fool
        For Love","orderIndex":1,"max":1},{"id":9880,"description":"Noble Gardener","orderIndex":2,"max":1},{"id":7555,"description":"For
        The Children","orderIndex":3,"max":1},{"id":0,"description":"The Flame Warden/Keeper","orderIndex":4,"max":1},{"id":7564,"description":"Brewmaster","orderIndex":5,"max":1},{"id":7558,"description":"Hallowed
        Be Thy Name","orderIndex":6,"max":1},{"id":7566,"description":"Merrymaker","orderIndex":7,"max":1}],"accountWide":true,"factionId":2}'
  recorded_at: Sat, 26 Sep 2015 03:11:20 GMT
recorded_with: VCR 2.9.3
