---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/battlePet/stats/258?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&breedId=5&level=25&locale=en_us&qualityId=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-82.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '9'
      X-Plan-Quota-Reset:
      - Saturday, September 26, 2015 4:00:00 AM GMT
    body:
      encoding: UTF-8
      string: '{"speciesId":258,"breedId":5,"petQualityId":4,"level":25,"health":1587,"power":315,"speed":297}'
  recorded_at: Sat, 26 Sep 2015 03:01:26 GMT
recorded_with: VCR 2.9.3
