---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/battlePet/ability/640??locale=en_us&apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-68.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '45'
      X-Plan-Quota-Reset:
      - Sunday, September 27, 2015 6:00:00 AM GMT
    body:
      encoding: UTF-8
      string: '{"id":640,"name":"Toxic Smoke","icon":"spell_shadow_plaguecloud","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false}'
  recorded_at: Sun, 27 Sep 2015 05:34:27 GMT
recorded_with: VCR 2.9.3
