---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/battlePet/ability/640?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-85.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '18'
      X-Plan-Quota-Reset:
      - Thursday, September 24, 2015 1:00:00 PM GMT
    body:
      encoding: UTF-8
      string: '{"id":640,"name":"Toxic Smoke","icon":"spell_shadow_plaguecloud","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false}'
  recorded_at: Thu, 24 Sep 2015 12:25:46 GMT
recorded_with: VCR 2.9.3
