---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/character/outland/madfrogz?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Wed, 13 May 2015 09:51:30 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-83.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '7'
      X-Plan-Quota-Reset:
      - Sunday, September 27, 2015 3:00:00 PM GMT
    body:
      encoding: UTF-8
      string: '{"lastModified":1431510690000,"name":"Madfrogz","realm":"Outland","battlegroup":"Misery","class":1,"race":1,"gender":1,"level":100,"achievementPoints":6635,"thumbnail":"outland/175/77018287-avatar.jpg","calcClass":"Z","totalHonorableKills":14209}'
  recorded_at: Sun, 27 Sep 2015 14:31:45 GMT
recorded_with: VCR 2.9.3
