---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/character/saurfang/milhause?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 02 Mar 2015 15:49:44 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-68.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '59'
      X-Plan-Quota-Reset:
      - Sunday, September 27, 2015 12:00:00 PM GMT
    body:
      encoding: UTF-8
      string: '{"lastModified":1425311384000,"name":"Milhause","realm":"Saurfang","battlegroup":"AU/NZ
        Battle Group","class":10,"race":25,"gender":0,"level":100,"achievementPoints":1140,"thumbnail":"internal-record-3695/234/162958314-avatar.jpg","calcClass":"f","totalHonorableKills":1435}'
  recorded_at: Sun, 27 Sep 2015 11:17:20 GMT
recorded_with: VCR 2.9.3
