---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/wow/character/outland/madfrogz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 19 Apr 2019 14:44:41 GMT
      Content-Language:
      - en-GB
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b9-8611-1df0-b3ab-fa165a04a81a
      x-trace-spanid:
      - 15b200b9-8611-a760-b3ab-fa165a04a81a
      x-trace-parentspanid:
      - 15b200b9-8611-a730-b3ab-fa165a04a81a
    body:
      encoding: UTF-8
      string: '{"lastModified":1555685081000,"name":"Madfrogz","realm":"Outland","battlegroup":"Misery","class":6,"race":11,"gender":0,"level":120,"achievementPoints":1700,"thumbnail":"outland/93/172390749-avatar.jpg","calcClass":"d","faction":0,"totalHonorableKills":716}'
      effective_url: https://eu.api.blizzard.com/wow/character/outland/madfrogz
  recorded_at: Thu, 08 Aug 2019 06:11:10 GMT
recorded_with: VCR 2.9.3
