---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/character/Altar%20of%20Storms/agripper?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&fields=&locale=en_us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Thu, 12 Feb 2015 01:35:11 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-73.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '11'
      X-Plan-Quota-Reset:
      - Thursday, September 24, 2015 1:00:00 PM GMT
    body:
      encoding: UTF-8
      string: '{"lastModified":1423704911000,"name":"Agripper","realm":"Altar of Storms","battlegroup":"Ruin","class":3,"race":2,"gender":0,"level":100,"achievementPoints":13820,"thumbnail":"magtheridon/152/155596952-avatar.jpg","calcClass":"Y","totalHonorableKills":9141}'
  recorded_at: Thu, 24 Sep 2015 12:25:25 GMT
recorded_with: VCR 2.9.3
