---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/act?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864e8-50fb-c4c0-c980-fa165ba0f208
      x-trace-spanid:
      - 15c864e8-50fb-ca70-c980-fa165ba0f208
      x-trace-parentspanid:
      - 15c864e8-50fb-ca40-c980-fa165ba0f208
    body:
      encoding: UTF-8
      string: '{"acts":[{"slug":"act-i","number":1,"name":"Act I","quests":[{"id":87700,"name":"The
        Fallen Star","slug":"the-fallen-star"},{"id":72095,"name":"The Legacy of Cain","slug":"the-legacy-of-cain"},{"id":72221,"name":"A
        Shattered Crown","slug":"a-shattered-crown"},{"id":72061,"name":"Reign of
        the Black King","slug":"reign-of-the-black-king"},{"id":117779,"name":"Sword
        of the Stranger","slug":"sword-of-the-stranger"},{"id":72738,"name":"The Broken
        Blade","slug":"the-broken-blade"},{"id":73236,"name":"The Doom in Wortham","slug"[...]
