---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/artisan/blacksmith
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200c0-dfe3-b060-c080-fa165ab86060
      x-trace-spanid:
      - 15b200c0-dfe4-19c0-c080-fa165ab86060
      x-trace-parentspanid:
      - 15b200c0-dfe4-1990-c080-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"slug":"blacksmith","name":"Blacksmith","portrait":"pt_blacksmith","training":{"tiers":[{"tier":1,"trainedRecipes":[{"id":"Belt_002","slug":"apprentice-hide-belt","name":"Apprentice
        Hide Belt","cost":1000,"reagents":[{"quantity":2,"item":{"id":"Crafting_AssortedParts_01","slug":"reusable-parts","name":"Reusable
        Parts","icon":"crafting_assortedparts_01_demonhunter_male","path":"item/reusable-parts-Crafting_AssortedParts_01"}},{"quantity":2,"item":{"id":"Crafting_Magic_01","slug":"arcane-dust","name":"Arcane
        Dust","icon":"crafting_magic_01_demonhunter_male","path":"item/arcane-dust-Crafting_Magic_01"}}],"itemProduced":{"id":"Belt_002","slug":"hide-belt","name":"Hide
        Belt","icon":"belt_002_demonhunter_male","path":"item/hide-belt-Belt_002"}},{"id":"Boots_002","slug":"apprentice-boots","name":"Apprentice
        Boots","cost":1000,"reagents":[{"quantity":2,"item":{"id":"Crafting_AssortedParts_01","slug":"reusable-parts","name":"Reusable
        Parts","icon":"crafting_assortedparts_01_demonhunter_male","path":"item/reusable-parts-Crafting_AssortedParts_01"}},{"quantity":2,"item":{"id":"Crafting_Magic_01[...]
