---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/artisan/2?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864e8-50fc-2c90-c980-fa165ba0f208
      x-trace-spanid:
      - 15c864e8-50fc-34e0-c980-fa165ba0f208
      x-trace-parentspanid:
      - 15c864e8-50fc-34b0-c980-fa165ba0f208
    body:
      encoding: UTF-8
      string: '{"slug":"mystic","name":"Mystic","portrait":"pt_mystic","training":{"tiers":[{"tier":1,"trainedRecipes":[],"taughtRecipes":[]},{"tier":2,"trainedRecipes":[],"taughtRecipes":[]},{"tier":3,"trainedRecipes":[],"taughtRecipes":[]},{"tier":4,"trainedRecipes":[],"taughtRecipes":[]},{"tier":5,"trainedRecipes":[],"taughtRecipes":[]},{"tier":6,"trainedRecipes":[],"taughtRecipes":[]},{"tier":7,"trainedRecipes":[],"taughtRecipes":[]},{"tier":8,"trainedRecipes":[],"taughtRecipes":[]},{"tier":9,"trainedRecipes":[],"taughtRecipes":[]},{"tier":10,"trainedRecipes":[],"taughtRecipes":[]},{"tier":11,"trainedRecipes":[],"taughtRecipes":[]},{"tier":12,"trainedRecipes":[],"taughtRecipes":[]}]}}'
      effective_url: https://eu.api.blizzard.com/d3/data/artisan/2?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 15:40:59 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/artisan/1?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c1-33ee-abf0-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c1-33ee-bb70-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c1-33ee-bb40-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"slug":"jeweler","name":"Jeweler","portrait":"pt_jeweler","training":{"tiers":[{"tier":1,"trainedRecipes":[{"id":"x1_Amethyst_02","slug":"flawless-amethyst","name":"Flawless
        Amethyst","cost":2500,"reagents":[{"quantity":2,"item":{"id":"x1_Amethyst_01","slug":"amethyst","name":"Amethyst","icon":"x1_amethyst_01_demonhunter_male","path":"item/amethyst-x1_Amethyst_01"}}],"itemProduced":{"id":"x1_Amethyst_02","slug":"flawless-amethyst","name":"Flawless
        Amethyst","icon":"x1_amethyst_02_demonhunter_male","path":"item/flawless-amethyst-x1_Amethyst_02"}}],"taughtRecipes":[]},{"tier":2,"trainedRecipes":[{"id":"x1_Diamond_02","slug":"flawless-diamond","name":"Flawless
        Diamond","cost":2500,"reagents":[{"quantity":2,"item":{"id":"x1_Diamond_01","slug":"diamond","name":"Diamond","icon":"x1_diamond_01_demonhunter_male","path":"item/diamond-x1_Diamond_01"}}],"itemProduced"[...]
