---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/d3/data/artisan/blacksmith?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Thu, 03 Sep 2015 18:46:20 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-52.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '3'
      X-Plan-Quota-Reset:
      - Sunday, September 27, 2015 3:00:00 PM GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "slug" : "blacksmith",
          "name" : "Blacksmith",
          "portrait" : "pt_blacksmith",
          "training" : {
            "tiers" : [ {
              "tier" : 1,
              "levels" : [ {
                "tier" : 1,
                "tierLevel" : 1,
                "percent" : 0,
                "trainedRecipes" : [ {
                  "id" : "T01_Armor_Boots",
                  "slug" : "apprentice-boots",
                  "name" : "Apprentice Boots",
                  "cost" : 1000,
                  "reagents" : [ {
                    "quantity" : 2,
                    "item" : {
                      "id" : "Crafting_AssortedParts_01",
                      "name" : "Reusable Parts",
                      "icon" : "crafting_assortedparts_01_demonhunter_male",
                      "displayColor" : "white",
                      "tooltipParams" : "item/reusable-parts"
                    }
                  }, {
                    "quantity" : 2,
                    "item" : {
                      "id" : "Crafting_Magic_01",
                      "name" : "Arcane Dust",
                      "icon" : "crafting_magic_01_demonhunter_male",
                      "displayColor" : "blue",
                      "tooltipParams" : "item/arcane-dust"
                    }
                  } ],
                  "itemProduced" : {
                    "id" : "Boots_002",
                    "name" : "Apprentice Boots",
                    "icon" : "boots_002_demonhunter_male",
                    "displayColor" : "blue",
                    "tooltipParams" : "recipe/apprentice-boots"
                  }
                }, {
                  "id" : "T01_Armor_Belt",
                  "slug" : "apprentice-hide-belt",
                  "name" : "Apprentice Hide Belt",
                  "cost" : 1000,
                  "re[...]
