---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/act/1?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86602-9bef-03b0-8521-fa165a196292
      x-trace-spanid:
      - 15c86602-9bef-05c0-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86602-9bef-0590-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"slug":"act-i","number":1,"name":"Act I","quests":[{"id":87700,"name":"The
        Fallen Star","slug":"the-fallen-star"},{"id":72095,"name":"The Legacy of Cain","slug":"the-legacy-of-cain"},{"id":72221,"name":"A
        Shattered Crown","slug":"a-shattered-crown"},{"id":72061,"name":"Reign of
        the Black King","slug":"reign-of-the-black-king"},{"id":117779,"name":"Sword
        of the Stranger","slug":"sword-of-the-stranger"},{"id":72738,"name":"The Broken
        Blade","slug":"the-broken-blade"},{"id":73236,"name":"The Doom in Wortham","slug":"the-doom-in-wortham"},{"id":72546,"name":"Trailing
        the Coven","slug":"trailing-the-coven"},{"id":72801,"name":"The Imprisoned
        Angel","slug":"the-imprisoned-angel"},{"id":136656,"name":"Return to New Tristram","slug":"return-to-new-tristram"}]}'
      effective_url: https://eu.api.blizzard.com/d3/data/act/1?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 15:40:58 GMT
[...]
