---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/follower/templar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200bd-2de5-6bc0-3117-fa165ba06406
      x-trace-spanid:
      - 15b200bd-2de5-78e0-3117-fa165ba06406
      x-trace-parentspanid:
      - 15b200bd-2de5-78b0-3117-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"slug":"templar","name":"Templar","realName":"Kormac","portrait":"templar","skills":[{"slug":"heal","name":"Heal","icon":"templar_heal_110","level":5,"tooltipUrl":"/follower/templar/skill/heal","description":"Cooldown:
        30 seconds\n\nHeals you and the Templar for 193,112 Life.","descriptionHtml":"<p><span
        class=\"d3-color-gold\">Cooldown:</span> <span class=\"d3-color-green\">30</span>
        seconds</p>\n\n<p>Heals you and the Templar for <span class=\"d3-color-green\">193,112</span>
        Life.</p>"},{"slug":"intervene","name":"Intervene","icon":"templar_intervene","level":5,"tooltipUrl":"/follower/templar/skill/intervene","description":"Cooldown:
        10 seconds\n\nTaunt enemies within 10 yards of you for 3 seconds when you
        are hit.","descriptionHtml":"<p><span class=\"d3-color-gold\">Cooldown:</span>
        <span class=\"d3[...]
