---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/follower/enchantress?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638a-17a0-e0d0-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638a-17a0-e9c0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638a-17a0-e990-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"slug":"enchantress","name":"Enchantress","realName":"Eirena","portrait":"enchantress","skills":[{"slug":"charm","name":"Charm","icon":"enchantress_charm","level":15,"tooltipUrl":"/follower/enchantress/skill/charm","description":"Cooldown:
        18 seconds\n\nCharms an enemy to fight for you for 8 seconds.","descriptionHtml":"<p><span
        class=\"d3-color-gold\">Cooldown:</span> <span class=\"d3-color-green\">18</span>
        seconds</p>\n\n<p>Charms an enemy to fight for you for <span class=\"d3-color-green\">8</span>
        seconds.</p>"},{"slug":"forceful-push","name":"Forceful Push","icon":"enchantress_forcefulpush","level":15,"tooltipUrl":"/follower/enchantress/skill/forceful-push","description":"Cooldown:
        5 seconds\n\nSummon an Arcane explosion 8 yards around an enemy, dealing 410%
        weapon damage as Arcane and knocking back all monsters caught within it[...]
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/follower/templar?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f8-ff6c-3f40-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f8-ff6c-4ea0-fdd2-fa165ba[...]
