---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/item-type/sword2h?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f8-ff6d-e8e0-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f8-ff6d-fa20-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f8-ff6d-f9f0-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '[{"id":"Unique_Sword_2H_014_1xx","slug":"splintered-oar","name":"Splintered
        Oar","icon":"unique_sword_2h_014_1xx_demonhunter_male","path":"item/splintered-oar-Unique_Sword_2H_014_1xx"},{"id":"Sword_2H_004","slug":"executioner-sword","name":"Executioner
        Sword","icon":"sword_2h_004_demonhunter_male","path":"item/executioner-sword-Sword_2H_004"},{"id":"Unique_Sword_2H_014_x1","slug":"splintered-oar","name":"Splintered
        Oar","icon":"unique_sword_2h_014_x1_demonhunter_male","path":"item/splintered-oar-Unique_Sword_2H_014_x1"},{"id":"Unique_Sword_2H_003_x1","slug":"warmonger","name":"Warmonger","icon":"unique_sword_2h_003[...]
