---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/item-type/sword2h?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86552-5318-7010-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86552-5318-7540-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86552-5318-7510-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '[{"id":"Sword_2H_101","slug":"great-sword","name":"Great Sword","icon":"sword_2h_101_demonhunter_male","path":"item/great-sword-Sword_2H_101"},{"id":"Unique_Sword_2H_002_x1","slug":"the-zweihander","name":"The
        Zweihander","icon":"unique_sword_2h_002_x1_demonhunter_male","path":"item/the-zweihander-Unique_Sword_2H_002_x1"},{"id":"Sword_2H_206","slug":"warlord-sword","name":"Warlord
        Sword","icon":"sword_2h_206_demonhunter_male","path":"item/warlord-sword-Sword_2H_206"},{"id":"Sword_2H_001","slug":"twohanded-sword","name":"Two-Handed
        Sword","icon":"sword_2h_001_demonhunter_male","pa[...]
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/item-type/axe2h?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638a-17a3-54b0-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638a-17a3-5bc0-6753-fa165ab8[...]
