---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/item/corrupted-ashbringer-Unique_Sword_2H_104_x1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200c1-e7d4-2760-3ab6-fa165a196292
      x-trace-spanid:
      - 15b200c1-e7d4-3f20-3ab6-fa165a196292
      x-trace-parentspanid:
      - 15b200c1-e7d4-3ef0-3ab6-fa165a196292
    body:
      encoding: UTF-8
      string: '{"id":"Unique_Sword_2H_104_x1","slug":"corrupted-ashbringer","name":"Corrupted
        Ashbringer","icon":"unique_sword_2h_104_x1_demonhunter_male","tooltipParams":"/item/corrupted-ashbringer-Unique_Sword_2H_104_x1","requiredLevel":70,"stackSizeMax":0,"accountBound":true,"flavorText":"Stories
        tell of a great paladin who wore a single gauntlet of silver and wielded a
        mighty sword with a flashing jewel. He dispatched thousands of Risen Dead
        and Wretched Mothers, but fell to a tragic end. This sword bears some resemblance
        to the legends, but its jewel is dark and threatening. Perhaps there is more
        to the story?","flavorTextHtml":"<span class=\"d3-color-ffc7b377\">Stories
        tell of a great paladin who wore a single gauntlet of silver and wielded a
        mighty sword with a flashing jewel. He dispatched thousands of Risen Dead
        and Wretched Mothers, but fell to a tragic end. This sword bears some resemblance
        to the legends, but its jewel is dark and threatening. Perhaps there is more
        to the story?</span>","typeName":"Legendary Two-Handed Sword","type":{"twoHanded":true,"id":"Sword2H"},"damage":"1137-1702
        Damage\n1.15 Attacks per Second","dps":"1,632.4","damageHtml":"<p>1137-1702
        <span class=\"d3-color-FF888888\">Damage</span></p>\n<p>1.15 <span class=\"d3-color-FF888888\">Attacks
        per Second</span></p>","color":"orange","isSeasonRequiredToDrop":false,"seasonRequiredToDrop":-1,"slots":["right-hand","left-hand","follower-left-hand"],"attributes":{"primary":[{"textHtml":"<span
        class=\"tooltip-icon-bullet\"></span> <span class=\"d3-color-ff6969ff\">+[1177
        - 1439]-[1410 - 1788] Poison Damage</span>","text":"+[1177 - 1439]-[1410 -
        1788] Poison Damage"}],"secondary":[{"textHtml":"<span class=\"tooltip-icon-bullet\"></span>
        <span class=\"d3-color-ff6969ff\">+[9142 - 13,371] Life after Each Kill</span>","text":"+[9142
        - 13,371] Life after Each Kill"},{"textHtml":"<span class=\"tooltip-icon-utility\"></span>
        <span class=\"d3-color-ff6969ff\">+[9 - 15]% Damage to Undead</span>","text":"+[9
        - 15]% Damage to Undead"},{"textHtml":"<span class=\"d3-color-ffff8000\"><span
        class=\"tooltip-icon-utility\"></span> Chance on kill to raise a skeleton
        to fight for you. Upon accumulating 5 skeletons, they each explode for 1000%
        weapon damage and the sword transforms into Ashbringer for a short time. Attacking
        with Ashbringer burns your enemy for <span class=\"d3-color-magic\">5462%</span>
        weapon damage as Holy.</span> <span class=\"d3-color-ff9b9b9b\">[5000 - 6000]%</span>","text":"Chance
        on kill to raise a skeleton to fight for you. Upon accumulating 5 skeletons,
        they each explode for 1000% weapon damage and the sword transforms into Ashbringer
        for a short time. Attacking with Ashbringer burns your enemy for 5462% weapon
        damage as Holy. [5000 - 6000]%"}],"other":[]},"randomAffixes":[{"oneOf":[{"textHtml":"<span
        class=\"tooltip-icon-bullet\"></span> <span class=\"d3-color-ff6969ff\">+[946
        - 1125] Strength</span>","text":"+[946 - 1125] Strength"},{"textHtml":"<span
        class=\"tooltip-icon-bullet\"></span> <span class=\"d3-color-ff6969ff\">+[946
        - 1125] Intelligence</span>","text":"+[946 - 1125] Intelligence"},{"textHtml":"<span
        class=\"tooltip-icon-bullet\"></span> <span class=\"d3-color-ff6969ff\">+[946
        - 1125] Dexterity</span>","text":"+[946 - 1125] Dexterity"}]}],"setItems":[]}'
      effective_url: https://eu.api.blizzard.com/d3/data/item/corrupted-ashbringer-Unique_Sword_2H_104_x1
  recorded_at: Thu, 08 Aug 2019 06:10:56 GMT
recorded_with: VCR 2.9.3
