---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/profile/FaYe-2543/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200c1-e7d5-b3e0-3ab6-fa165a196292
      x-trace-spanid:
      - 15b200c1-e7d5-d8c0-3ab6-fa165a196292
      x-trace-parentspanid:
      - 15b200c1-e7d5-d890-3ab6-fa165a196292
    body:
      encoding: UTF-8
      string: '{"battleTag":"FaYe#2543","paragonLevel":1740,"paragonLevelHardcore":794,"paragonLevelSeason":0,"paragonLevelSeasonHardcore":0,"guildName":"NoUnburiedLeftBehind","heroes":[{"id":104729462,"name":"BITCONNEEECT","class":"necromancer","classSlug":"necromancer","gender":1,"level":70,"kills":{"elites":3951},"paragonLevel":1740,"hardcore":false,"seasonal":false,"dead":false,"last-updated":1519616157},{"id":61453448,"name":"BOOMBOOMBOOM","class":"monk","classSlug":"monk","gender":0,"level":70,"kills":{"elites":693},"paragonLevel":1740,"hardcore":false,"seasonal":false,"dead":false,"last-updated":1518830853},{"id":66637653,"name":"INSPECTING","class":"barbarian","classSlug":"barbarian","gender":0,"level":70,"kills":{"elites":995},"paragonLevel":1740,"hardcore":false,"seasonal":false,"dead":false,"last-updated":1547732867},{"id":91139053,"name":"letshavefun","class":"witch-doctor","classSlug":"witch-doctor","gender":0,"level":70,"kills":{"elites":12918},"paragonLevel":1740,"hardcore":false,"seasonal":false,"dead":false,"last-updated":1519327220},{"id":116138595,"name":"ontimeLUL","class":"barbarian","classSlug":"barbarian","gender":0,"level":70,"kills":{"elites":1400},"paragonLevel":1740,"hardcore":false,"seasonal":false,"dead":false,"last-updated":1547904099},{"id":97410817,"name":"wowie","class":"monk","classSlug":"monk","gender":0,"level":9,"kills":{"elites":6093},"paragonLevel":1740,"hardcore":false,"seasonal":false,"dead":false,"last-updated":1547644136}],"lastHeroPlayed":116138595,"lastUpdated":1547904099,"kills":{"monsters":4577054,"elites":439055,"hardcoreMonsters":315799},"highestHardcoreLevel":70,"timePlayed":{"demon-hunter":1.0,"barbarian":0.407,"witch-doctor":0.203,"necromancer":0.024,"wizard":0.351,"monk":0.535,"crusader":0.226},"progression":{"act1":false,"act3":false,"act2":false,"act5":false,"act4":false},"fallenHeroes":[{"heroId":78822708,"name":"duDuduTwo","class":"wizard","level":70,"elites":2016,"hardcore":true,"death":{"killer":3847,"time":1463579349},"gender":1},{"heroId":38170427,"name":"OldManAss","class":"wizard","level":19,"elites":100,"hardcore":true,"death":{"killer":255704,"time":1395527859},"gender":1},{"heroId":77238598,"name":"duDudu","class":"wizard","level":70,"elites":7574,"hardcore":true,"death":{"killer":343759,"time":1463170932},"gender":1}],"seasonalProfiles":{"season16":{"seasonId":16,"paragonLevel":326,"paragonLevelHardcore":0,"kills":{"monsters":20897,"elites":1378,"hardcoreMonsters":0},"timePlayed":{"demon-hunter":0.0,"barbarian":0.006,"witch-doctor":0.0,"necromancer":0.0,"wizard":0.0,"monk":0.0,"crusader":0.0},"highestHardcoreLevel":0},"season15":{"seasonId":15,"paragonLevel":0,"paragonLevelHardcore":0,"kills":{"monsters":87,"elites":3,"hardcoreMonsters":0},"timePlayed":{"demon-hunter":0.0,"barbarian":0.0,"witch-doctor":0.0,"necromancer":0.0,"wizard":0.0,"monk":0.0,"crusader":0.0},"highestHardcoreLevel":0},"season13":{"seasonId":13,"paragonLevel":600,"paragonLevelHardcore":0,"kills":{"monsters":56005,"elites":3951,"hardcoreMonsters":0},"timePlayed":{"demon-hunter":0.0,"barbarian":0.0,"witch-doctor":0.0,"necromancer":0.015,"wizard":0.0,"monk":0.0,"crusader":0.0},"highestHardcoreLevel":0},"season0":{"seasonId":0,"paragonLevel":1740,"paragonLevelHardcore":794,"kills":{"monsters":4577054,"elites":439055,"hardcoreMonsters":315799},"timePlayed":{"demon-hunter":1.0,"barbarian":0.407,"witch-doctor":0.203,"necromancer":0.024,"wizard":0.351,"monk":0.535,"crusader":0.226},"highestHardcoreLevel":70},"season12":{"seasonId":12,"paragonLevel":164,"paragonLevelHardcore":0,"kills":{"monsters":14741,"elites":1066,"hardcoreMonsters":0},"timePlayed":{"demon-hunter":0.0,"barbarian":0.0,"witch-doctor":0.0,"necromancer":0.006,"wizard":0.0,"monk":0.0,"crusader":0.0},"highestHardcoreLevel":0}},"mysticHardcore":{"slug":"mystic","level":0},"blacksmithSeasonHardcore":{"slug":"blacksmith","level":0},"jewelerSeasonHardcore":{"slug":"jeweler","level":0},"blacksmithSeason":{"slug":"blacksmith","level":12},"jewelerSeason":{"slug":"jeweler","level":12},"mysticSeason":{"slug":"mystic","level":12},"blacksmithHardcore":{"slug":"blacksmith","level":0},"jewelerHardcore":{"slug":"jeweler","level":0},"mysticSeasonHardcore":{"slug":"mystic","level":0},"blacksmith":{"slug":"blacksmith","level":12},"jeweler":{"slug":"jeweler","level":12},"mystic":{"slug":"mystic","level":12}}'
      effective_url: https://eu.api.blizzard.com/d3/profile/FaYe-2543/
  recorded_at: Thu, 08 Aug 2019 06:11:03 GMT
recorded_with: VCR 2.9.3
