---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/artisan/jeweler/recipe/flawless-amethyst?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f8-ff6e-8dd0-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f8-ff6e-8f00-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f8-ff6e-8ed0-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"id":"x1_Amethyst_02","slug":"flawless-amethyst","name":"Flawless
        Amethyst","cost":2500,"reagents":[{"quantity":2,"item":{"id":"x1_Amethyst_01","slug":"amethyst","name":"Amethyst","icon":"x1_amethyst_01_demonhunter_male","path":"item/amethyst-x1_Amethyst_01"}}],"itemProduced":{"id":"x1_Amethyst_02","slug":"flawless-amethyst","name":"Flawless
        Amethyst","icon":"x1_amethyst_02_demonhunter_male","path":"item/flawless-amethyst-x1_Amethyst_02"}}'
      effective_url: https://eu.api.blizzard.com/d3/data/artisan/jeweler/recipe/flawless-amethyst?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 15:41:08 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/artisan/blacksmith/recipe/apprentice-flamberge?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864e8-5102-e2a0-c980-fa165ba0f208
      x-trace-spanid:
      - 15c864e8-5102-e620-c980-fa165ba0f208
      x-trace-parentspanid:
      - 15c864e8-5102-e5b0-c980-fa165ba0f208
    body:
      encoding: UTF-8
      string: '{"id":"Sword_2H_003","slug":"apprentice-flamberge","name":"Apprentice
        Flamberge","cost":1000,"reagents":[{"quantity":5,"item":{"id":"Crafting_AssortedParts_01","slug":"reusable-parts","name":"Reusable
        Parts","icon":"crafting_assortedparts_01_demonhunter_male","path":"item/reusable-parts-Crafting_AssortedParts_01"}},{"quantity":5,"item":{"id":"Crafting_Magic_01","slug":"arcane-dust","name":"Arcane
        Dust","icon":"crafting_magic_01_demonhunter_male","path":"item/arcane-dust-Crafting_Magic_01"}}],"itemProduced":{"id":"Sword_2H_003","slug":"dervish","name":"Dervish","icon":"sword_2h_003_demonhunter_male","path":"item/dervish-Sword_2H_003"}}'
      effective_url: https://eu.api.blizzard.com/d3/data/artisan/blacksmith/recipe/apprentice-flamberge?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 15:41:08 GMT
recorded_with: VCR 2.9.3
