---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/d3/season/1?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Sat, 21 Dec 2019 15:41:00 GMT
      Battlenet-Namespace:
      - 2-6-eu
      Battlenet-Schema:
      - season
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638a-17a6-7520-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638a-17a6-76b0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638a-17a6-7680-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/d3/season/1?namespace=2-6-eu"}},"leaderboard":[{"ladder":{"href":"https://eu.api.blizzard.com/data/d3/season/1/leaderboard/achievement-points?namespace=2-6-EU"}},{"team_size":1,"ladder":{"href":"https://eu.api.blizzard.com/data/d3/season/1/leaderboard/rift-hardcore-barbarian?namespace=2-6-EU"},"hardcore":true,"hero_class_string":"barbarian"},{"team_size":1,"ladder":{"href":"https://eu.api.blizzard.com/data/d3/season/1/leaderboard/rift-barbarian?namespace=2-6-EU"},"hardcore":true,"hero_class_string":"barbarian"},{"team_size":1,"ladder":{"href":"https://eu.api.blizzard.com/data/d3/season/1/leaderboard/rift-hardcore-crusader?namespace=2-6-EU"},"hero_class_string":"crusader"},{"team_size":1,"ladder":{"href":"https://eu.api.blizzard.com/data/d3/season/1/leaderboard/rift-crusader?namespace=2-6-EU"},"hero_class_string":"crusad[...]
[...]
