---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/d3/data/hero/barbarian/skill/bash?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f8-ff70-d3d0-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f8-ff70-d970-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f8-ff70-d940-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"skill":{"slug":"bash","name":"Bash","icon":"barbarian_bash","level":1,"tooltipUrl":"/class/barbarian/active/bash","description":"Generate:
        6 Fury per attack\n\nBrutally smash an enemy for 320% weapon damage.","descriptionHtml":"<p><span
        class=\"d3-color-gold\">Generate:</span> <span class=\"d3-color-green\">6</span>
        Fury per attack</p>\n\n<p>Brutally smash an enemy for <span class=\"d3-color-green\">320%</span>
        weapon damage.</p>"},"runes":[{"slug":"frostbite","type":"c","name":"Frostbite","level":6,"description":"Each
        hit Freezes the enemy for 1.5 seconds.\n\nEnemies can be frozen by Bash once
        every 5 seconds.","descriptionHtml":"<p>Each hit <span class=\"d3-color-green\">Freezes</span>
        the enemy for <span class=\"d3-color-green\">1.5</span> seconds.</p>\n\n<p>Enemies
        can be frozen by Bash once every <span class=\"d3-color-green\">5</span> seconds.</p>"},{"slug":"onslaught","type":"a","name":"Onslaught","level":13,"descriptio[...]
