---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/data/character/achievements?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-59.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '68'
      X-Plan-Quota-Reset:
      - Sunday, September 27, 2015 8:00:00 AM GMT
    body:
      encoding: UTF-8
      string: '{"achievements":[{"id":92,"achievements":[{"id":6,"title":"Level 10","points":10,"description":"Reach
        level 10.","rewardItems":[],"icon":"achievement_level_10","criteria":[{"id":5212,"description":"Reach
        level 10","orderIndex":1,"max":10}],"accountWide":false,"factionId":2},{"id":7,"title":"Level
        20","points":10,"description":"Reach level 20.","rewardItems":[],"icon":"achievement_level_20","criteria":[{"id":5212,"description":"Reach
        level 20","orderIndex":1,"max":20}],"accountWide":false,"factionId":2},{"id":8,"title":"Level
        30","points":10,"description":"Reach level 30.","rewardItems":[],"icon":"achievement_level_30","criteria":[{"id":5212,"description":"Reach
        level 30","orderIndex":1,"max":30}],"accountWide":false,"factionId":2}[...]
