---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/data/character/races?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-69.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '62'
      X-Plan-Quota-Reset:
      - Sunday, September 27, 2015 12:00:00 PM GMT
    body:
      encoding: UTF-8
      string: '{"races":[{"id":1,"mask":1,"side":"alliance","name":"Human"},{"id":2,"mask":2,"side":"horde","name":"Orc"},{"id":3,"mask":4,"side":"alliance","name":"Dwarf"},{"id":4,"mask":8,"side":"alliance","name":"Night
        Elf"},{"id":5,"mask":16,"side":"horde","name":"Undead"},{"id":6,"mask":32,"side":"horde","name":"Tauren"},{"id":7,"mask":64,"side":"alliance","name":"Gnome"},{"id":8,"mask":128,"side":"horde","name":"Troll"},{"id":9,"mask":256,"side":"horde","name":"Goblin"},{"id":10,"mask":512,"side":"horde","name":"Blood
        Elf"},{"id":11,"mask":1024,"side":"alliance","name":"Draenei"},{"id":22,"mask":2097152,"side":"alliance","name":"Worgen"},{"id":24,"mask":8388608,"side":"neutral","name":"Pandaren"},{"id":25,"mask":16777216,"side":"alliance","name":"Pandaren"},{"id":26,"mask":33554432,"side":"horde","name":"Pandaren"}]}'
  recorded_at: Sun, 27 Sep 2015 11:17:23 GMT
recorded_with: VCR 2.9.3
