---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/data/guild/rewards?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-73.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '65'
      X-Plan-Quota-Reset:
      - Sunday, September 27, 2015 12:00:00 PM GMT
    body:
      encoding: UTF-8
      string: '{"rewards":[{"minGuildLevel":0,"minGuildRepLevel":7,"achievement":{"id":5840,"title":"Dragonwrath,
        Tarecgosa''s Rest - Guild Edition","points":10,"description":"Owner of Dragonwrath,
        Tarecgosa''s Rest.","reward":"Reward: Dragonwrath Whelpling","rewardItems":[{"id":71033,"name":"Lil''
        Tarecgosa","icon":"inv_misc_petdragonwhelptarecgosa","quality":1,"itemLevel":1,"tooltipParams":{"timewalkerLevel":0},"stats":[],"armor":0,"context":"","bonusLists":[]}],"icon":"stave_2h_tarecgosa_e_01stagefinal","criteria":[{"id":17718,"description":"Dragonwrath,
        Tarecgosa''s Rest","orderIndex":1,"max":1}],"accountWide":false,"factionId":2},"item":{"id":71033,"name":"Lil''
        Tarecgosa","icon":"inv_misc_petdragonwhelptarecgosa","quality":1,"itemLevel":1,"tooltipParams":{"timewalkerLevel":0},"stats":[],"armor":0,"context":"","bonusLists":[]}},{"minGuildLevel":0,"minGuildRepLevel":5,"achievement":{"id":6681,"title":"Guild
        Pandaria Dungeon Hero","points":10,"description":"Complete the heroic Pandaria
        dungeon achievements listed below while in a guild group.","reward":"Reward:
        Tailored Guild Shirts","rewardItems":[...]
