---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/guild/saurfang/razors%20edge?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&fields=&locale=en_us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sat, 26 Sep 2015 02:04:44 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-79.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '4'
      X-Plan-Quota-Reset:
      - Saturday, September 26, 2015 3:00:00 AM GMT
    body:
      encoding: UTF-8
      string: '{"lastModified":1443233084000,"name":"Razors Edge","realm":"Saurfang","battlegroup":"AU/NZ
        Battle Group","level":25,"side":0,"achievementPoints":2185,"emblem":{"icon":39,"iconColor":"ffb1b8b1","border":2,"borderColor":"ffffffff","backgroundColor":"ff4f2300"}}'
  recorded_at: Sat, 26 Sep 2015 02:19:05 GMT
recorded_with: VCR 2.9.3
