---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/hearthstone/metadata?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"3226-wUCEvVo0tYrEU9mEuW7yWyIOKCk"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c86389-52ff-e550-6753-fa165ab86060
      x-trace-spanid:
      - 15c86389-52ff-ebb0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c86389-52ff-eb80-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"sets":[{"id":1347,"slug":"descent-of-dragons","releaseDate":"2019-12-01T00:00:00","name":"Descent
        of Dragons","collectibleCount":140,"collectibleRevealedCount":140,"nonCollectibleCount":104,"nonCollectibleRevealedCount":55},{"id":1158,"slug":"saviors-of-uldum","releaseDate":"2019-08-06T00:00:00","name":"Saviors
        of Uldum","collectibleCount":135,"collectibleRevealedCount":135,"nonCollectibleCount":74,"nonCollectibleRevealedCount":35},{"id":1130,"slug":"rise-of-shadows","releaseDate":"2019-04-01T00:00:00","name":"Rise
        of Shadows","collectibleCount":136,"collectibleRevealedCount":136,"nonCollectibleCount":73,"nonCollectibleRevealedCount":36},{"id":1129,"slug":"rastakhans-rumble","releaseDate":"2018-[...]
