---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/hearthstone/metadata?locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"2d2a-We1UbvJ46LhKxpzfNNfxFTo+Cy8"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15b200b7-2b61-6210-cb05-fa164d1bd489
      x-trace-spanid:
      - 15b200b7-2b61-6cc0-cb05-fa164d1bd489
      x-trace-parentspanid:
      - 15b200b7-2b61-6c90-cb05-fa164d1bd489
    body:
      encoding: UTF-8
      string: '{"sets":[{"id":1158,"slug":"saviors-of-uldum","releaseDate":"2019-08-06T00:00:00","name":"Saviors
        of Uldum","collectibleCount":135,"collectibleRevealedCount":135,"nonCollectibleCount":37,"nonCollectibleRevealedCount":35},{"id":1130,"slug":"rise-of-shadows","releaseDate":"2019-04-01T00:00:00","name":"Rise
        of Shadows","collectibleCount":136,"collectibleRevealedCount":136,"nonCollectibleCount":37,"nonCollectibleRevealedCount":36},{"id":1129,"slug":"rastakhans-rumble","releaseDate":"2018-12-01T00:00:00","name":"Rastakhan''s
        Rumble","collectibleCount":135,"collectibleRevealedCount":135,"nonCollectibleCount":29,"nonCollectibleRevealedCount":29},{"id":1127,"slug":"the-boomsday-project","releaseDate"[...]
