---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/hearthstone/metadata/sets?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"1088-ZHTLKTtTS9lLEajD8ha6CQaFg9M"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c86601-d7d0-c5c0-8521-fa165a196292
      x-trace-spanid:
      - 15c86601-d7d0-d7f0-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86601-d7d0-d7c0-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '[{"id":1347,"slug":"descent-of-dragons","releaseDate":"2019-12-01T00:00:00","name":"Descent
        of Dragons","collectibleCount":140,"collectibleRevealedCount":140,"nonCollectibleCount":104,"nonCollectibleRevealedCount":55},{"id":1158,"slug":"saviors-of-uldum","releaseDate":"2019-08-06T00:00:00","name":"Saviors
        of Uldum","collectibleCount":135,"collectibleRevealedCount":135,"nonCollectibleCount":74,"nonCollectibleRevealedCount":35},{"id":1130,"slug":"rise-of-shadows","releaseDate":"2019-04-01T00:00:00","name":"Rise
        of Shadows","collectibleCount":136,"collectibleRevealedCount":136,"nonCollectibleCount":73,"nonCollectibleRevealedCount":36},{"id":1129,"slug":"rastakhans-rumble","releaseDate":"2018-[...]
