---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/hearthstone/metadata/sets?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"1088-ZHTLKTtTS9lLEajD8ha6CQaFg9M"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c865d3-031f-4180-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d3-031f-4770-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d3-031f-4740-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '[{"id":1347,"slug":"descent-of-dragons","releaseDate":"2019-12-01T00:00:00","name":"Descent
        of Dragons","collectibleCount":140,"collectibleRevealedCount":140,"nonCollectibleCount":104,"nonCollectibleRevealedCount":55},{"id":1158,"slug":"saviors-of-uldum","releaseDate":"2019-08-06T00:00:00","name":"Saviors
        of Uldum","collectibleCount":135,"collectibleRevealedCount":135,"nonCollectibleCount":74,"nonCollectibleRevealedCount":35},{"id":1130,"slug":"rise-of-shadows","releaseDate":"2019-04-01T00:00:00","name":"Rise
        of Shadows","collectibleCount":136,"collectibleRevealedCount":136,"nonCollectibleCount":73,"nonCollectibleRevealedCount":36},{"id":1129,"slug":"rastakhans-rumble","releaseDate":"2018-[...]
- request:
    method: get
    uri: https://eu.api.blizzard.com/hearthstone/metadata/keywords?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"1162-4a2WaYvthVCFJ/aRRXWidabIWF0"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c86551-bb1f-c8e0-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86551-bb1f-ce80-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86551-bb1f-ce50-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '[{"id":1,"slug":"taunt","name":"Taunt","refText":"Enemies must attack
        minions that have Taunt.","text":"Enemies must attack this minion."},{"id":2,"slug":"spellpower","name":"Spell
        Damage","refText":"Your spells deal extra damage.","text":"Your spell cards
        deal {0} extra damage."},{"id":3,"slug":"divine-shield","name":"Divine Shield","refText":"The
        first time a Shielded minion takes damage, ignore it.","text":"The first time
        this minion takes damage, ignore it."},{"id":4,"slug":"charge","name":"Charge","refText":"Can
        attack immediately. ","text":"Can attack[...]
