---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/hearthstone/cards/52119-arch-villain-rafaam?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"2da-+l9HNt8JIo7U6jayeC7hxVchhYc"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c865d2-fd30-9aa0-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d2-fd30-a9d0-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d2-fd30-a9a0-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"id":52119,"collectible":1,"slug":"52119-arch-villain-rafaam","classId":9,"multiClassIds":[],"cardTypeId":4,"cardSetId":1130,"rarityId":5,"artistName":"Alex
        Horley Orlandelli","health":8,"attack":7,"manaCost":7,"name":"Arch-Villain
        Rafaam","text":"<b><b>Taunt</b> Battlecry:</b> Replace your hand and deck
        with <b>Legendary</b> minions.","image":"https://d15f34w2p8l1cc.cloudfront.net/hearthstone/56c8b21f56380e726255287ff4ce9fd4f50041cdbc1f246009f6288a8d8287ad.png","imageGold":"","flavorText":"Minions
        must wash hands before being LIQUIDATED AND REPLACED BY SOMEONE BETTER.","cropImage":"https://d15f34w2p8l1cc.cloudfront.net/hearthstone/88803effaa821c7d76f5f0c3b1fd044ba62a884dcc207cb318d32583986fe9a6.jpg","keywordIds":[1,8]}'
      effective_url: https://eu.api.blizzard.com/hearthstone/cards/52119-arch-villain-rafaam?eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 21:01:48 GMT
recorded_with: VCR 2.9.3
