---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/hearthstone/metadata/sets?locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"fab-MHzcpRaoN/B0osJPQ57rEKTkXmU"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15b200b6-1392-b590-e32b-fa164dc0bcb5
      x-trace-spanid:
      - 15b200b6-1392-bac0-e32b-fa164dc0bcb5
      x-trace-parentspanid:
      - 15b200b6-1392-ba90-e32b-fa164dc0bcb5
    body:
      encoding: UTF-8
      string: '[{"id":1158,"slug":"saviors-of-uldum","releaseDate":"2019-08-06T00:00:00","name":"Saviors
        of Uldum","collectibleCount":135,"collectibleRevealedCount":135,"nonCollectibleCount":37,"nonCollectibleRevealedCount":35},{"id":1130,"slug":"rise-of-shadows","releaseDate":"2019-04-01T00:00:00","name":"Rise
        of Shadows","collectibleCount":136,"collectibleRevealedCount":136,"nonCollectibleCount":37,"nonCollectibleRevealedCount":36},{"id":1129,"slug":"rastakhans-rumble","releaseDate":"2018-12-01T00:00:00","name":"Rastakhan''s
        Rumble","collectibleCount":135,"collectibleRevealedCount":135,"nonCollectibleCount":29,"nonCollectibleRevealedCount":29},{"id":1127,"slug":"the-boomsday-project","releaseDate"[...]
