---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/d3/profile/FaYe-2543/?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-74.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '49'
      X-Plan-Quota-Reset:
      - Sunday, September 27, 2015 12:00:00 PM GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "battleTag" : "FaYe#2543",
          "paragonLevel" : 1225,
          "paragonLevelHardcore" : 0,
          "paragonLevelSeason" : 1150,
          "paragonLevelSeasonHardcore" : 0,
          "guildName" : "NoUnburiedLeftBehind",
          "heroes" : [ {
            "id" : 58290259,
            "name" : "FaYee",
            "class" : "demon-hunter",
            "gender" : 1,
            "level" : 70,
            "kills" : {
              "elites" : 76706
            },
            "paragonLevel" : 1225,
            "hardcore" : false,
            "seasonal" : false,
            "last-updated" : 1440757571,
            "dead" : false
          }, {
            "id" : 54564445,
            "name" : "FaYe",
            "class" : "demon-hunter",
            "gender" : 1,
            "level" : 70,
            "kills" : {
              "elites" : 44515
            },
            "paragonLevel" : 1225,
            "hardcore" : false,
            "seasonal" : false,
            "last-updated" : 1440586117,
            "dead" : false
          }, {
            "id" : 65241682,
            "name" : "Alkawaiizer",
            "[...]
