---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/realm/status?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sun, 27 Sep 2015 11:15:34 GMT
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-82.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '78'
      X-Plan-Quota-Reset:
      - Sunday, September 27, 2015 12:00:00 PM GMT
    body:
      encoding: UTF-8
      string: '{"realms":[{"type":"pvp","population":"medium","queue":true,"wintergrasp":{"area":1,"controlling-faction":0,"status":0,"next":1443353713658},"tol-barad":{"area":21,"controlling-faction":0,"status":0,"next":1443359133798},"status":true,"name":"Aegwynn","slug":"aegwynn","battlegroup":"Vengeance","locale":"en_US","timezone":"America/Los_Angeles","connected_realms":["daggerspine","bonechewer","gurubashi","hakkar","aegwynn"]},{"type":"pve","population":"medium","queue":true,"wintergrasp":{"area":1,"controlling-faction":1,"status":2,"next":1443353690007},"tol-barad":{"area":21,"controlling-faction":1,"status":0,"next":1443359062155},"status":true,"name":"Aerie
        Peak","slug":"aerie-peak","battlegroup":"Vindication","locale":"en_US","timezone":"America/Los_Angeles","connected_realms":["aerie-peak"]},{"type":"pvp","population":"medium","queue":true,"wint[...]
