---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/sc2/ladder/season/1?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"56-dIC7En/gnNuUg90iwgwqCTE1qXk"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c865c1-20f8-a520-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c1-20f8-ab10-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c1-20f8-aae0-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"seasonId":42,"number":4,"year":2019,"startDate":"1574796158","endDate":"1579759200"}'
      effective_url: https://eu.api.blizzard.com/sc2/ladder/season/1?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 13:30:55 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/sc2/ladder/season/2?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"56-Jot+8Gc0VWzs92lG7GbZDTxsfJA"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c86602-805b-aa20-8521-fa165a196292
      x-trace-spanid:
      - 15c86602-805b-b9b0-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86602-805b-b980-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"seasonId":42,"number":4,"year":2019,"startDate":"1574819530","endDate":"1579759200"}'
      effective_url: https://eu.api.blizzard.com/sc2/ladder/season/2?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 13:30:55 GMT
recorded_with: VCR 2.9.3
