---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/sc2/legacy/profile/2/1/2137104/matches?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"172-KzguATtsSHWJp/ps7sfTItF91/I"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c864e8-3b6b-a220-c980-fa165ba0f208
      x-trace-spanid:
      - 15c864e8-3b6b-a660-c980-fa165ba0f208
      x-trace-parentspanid:
      - 15c864e8-3b6b-a630-c980-fa165ba0f208
    body:
      encoding: UTF-8
      string: '{"matches":[{"map":"Bel''Shir Vestige LE","type":"Co-Op","decision":"Win","speed":"Faster","date":1368973017},{"map":"Ulaan
        Deeps","type":"Co-Op","decision":"Loss","speed":"Faster","date":1305856218},{"map":"Monsoon","type":"3v3","decision":"Loss","speed":"Faster","date":1305854720},{"map":"Monsoon","type":"Co-Op","decision":"Loss","speed":"Faster","date":1305853807}]}'
      effective_url: https://eu.api.blizzard.com/sc2/legacy/profile/2/1/2137104/matches?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 13:30:45 GMT
recorded_with: VCR 2.9.3
