---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/sc2/ladder/2200?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-68.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '20'
      X-Plan-Quota-Reset:
      - Monday, September 28, 2015 12:00:00 PM GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "ladderMembers" : [ {
            "character" : {
              "id" : 1854778,
              "realm" : 1,
              "displayName" : "Saul",
              "clanName" : "",
              "clanTag" : "",
              "profilePath" : "/profile/1854778/1/Saul/"
            },
            "joinTimestamp" : 1298162744,
            "points" : 3229.0,
            "wins" : 338,
            "losses" : 309,
            "highestRank" : 100,
            "previousRank" : 1,
            "favoriteRaceP1" : "ZERG"
          }, {
            "character" : {
              "id" : 1185880,
              "realm" : 1,
              "displayName" : "darkemblem",
              "clanName" : "",
              "clanTag" : "",
              "profilePath" : "/profile/1185880/1/darkemblem/"
            },
            "joinTimestamp" : 1298320549,
            "points" : 2718.0,
            "wins" : 209,
            "losses" : 189,
            "highestRank" : 100,
            "previousRank" : 2,
            "favo[...]
