---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/sc2/legacy/ladder/1/2200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"667b-qUhlwOP6lbFm1GTSEtBNyGzrV4M"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15b200b5-ba43-9490-a36f-fa164d02be05
      x-trace-spanid:
      - 15b200b5-ba43-a7a0-a36f-fa164d02be05
      x-trace-parentspanid:
      - 15b200b5-ba43-a770-a36f-fa164d02be05
    body:
      encoding: UTF-8
      string: '{"ladderMembers":[{"character":{"id":"1854778","realm":1,"region":1,"displayName":"Saul","clanName":"","clanTag":"","profilePath":"/profile/1/1/1854778"},"joinTimestamp":1298162744,"points":3229,"wins":338,"losses":309,"highestRank":100,"previousRank":1,"favoriteRaceP1":"ZERG"},{"character":{"id":"1185880","realm":1,"region":1,"displayName":"darkemblem","clanName":"","clanTag":"","profilePath":"/profile/1/1/1185880"},"joinTimestamp":1298320549,"points":2718,"wins":209,"losses":189,"highestRank":100,"previousRank":2,"favoriteRaceP1":"RANDOM"},{"character":{"id":"303658","realm":1,"region":1,"displayName":"SeVxAvARicE","clanName":"","clanTag":"","profilePath":"/profile/1/1/303658"},"joinTimestamp":1292718723,"points":2183,"wins":300,"losses":306,"highestRank":1,"[...]
