---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/sc2/profile/2137104/1/skt/matches?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-67.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '23'
      X-Plan-Quota-Reset:
      - Monday, September 28, 2015 12:00:00 PM GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "matches" : [ {
            "map" : "Airstrike",
            "type" : "CUSTOM",
            "decision" : "BAILER",
            "speed" : "FASTER",
            "date" : 1425172458
          }, {
            "map" : "Daybreak LE",
            "type" : "CUSTOM",
            "decision" : "WIN",
            "speed" : "FASTER",
            "date" : 1362927359
          }, {
            "map" : "SC Universe RPG: Chronicles of Fate",
            "type" : "CUSTOM",
            "decision" : "BAILER",
            "speed" : "NORMAL",
            "date" : 1362922742
          }, {
            "map" : "StarJeweled",
            "type" : "CUSTOM",
            "decision" : "[...]
