---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/sc2/legacy/profile/2/1/2137105/matches?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"be-WeSmcMKBk1FozoGFReITxQF1ruk"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c865c1-20f2-0100-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c1-20f2-0470-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c1-20f2-0440-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"matches":[{"map":"Gutterhulk","type":"2v2","decision":"Loss","speed":"Faster","date":1305807240},{"map":"Left
        2 Die","type":"Custom","decision":"Loss","speed":"Faster","date":1305805702}]}'
      effective_url: https://eu.api.blizzard.com/sc2/legacy/profile/2/1/2137105/matches?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 13:30:45 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/sc2/legacy/profile/2/1/2137104/matches?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"172-KzguATtsSHWJp/ps7sfTItF91/I"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c86389-fc67-dd60-6753-fa165ab86060
      x-trace-spanid:
      - 15c86389-fc67-e510-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c86389-fc67-e4e0-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"matches":[{"map":"Bel''Shir Vestige LE","type":"Co-Op","decision":"Win","speed":"Faster","date":1368973017},{"map":"Ulaan
        Deeps","type":"Co-Op","decision":"Loss","speed":"Faster","date":1305856218},{"map":"Monsoon","type":"3v3","decision":"Loss","speed":"Faster","date":1305854720},{"map":"Monsoon","type":"Co-Op","decision":"Loss","speed":"Faster","date":1305853807}]}'
      effective_url: https://eu.api.blizzard.com/sc2/legacy/profile/2/1/2137104/matches?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 13:30:45 GMT
recorded_with: VCR 2.9.3
