---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/sc2/player/2137104?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"ea-UuZ9XtWMhb53iegLggcRXuz8vMc"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c86389-fc60-4a00-6753-fa165ab86060
      x-trace-spanid:
      - 15c86389-fc60-ffd0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c86389-fc60-ffa0-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '[{"name":"Rigs","profileUrl":"https://www.starcraft2.com/profile/1/1/1235050","avatarUrl":"https://static.starcraft2.com/starport/d0e7c831-18ab-4cd6-adc7-9d4a28f49ec7/portraits/0-5.jpg","profileId":"1235050","regionId":1,"realmId":1}]'
      effective_url: https://eu.api.blizzard.com/sc2/player/2137104?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 13:30:37 GMT
recorded_with: VCR 2.9.3
