---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/sc2/legacy/profile/1/1/2137104/matches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"912-QLwiY2rAxq7zZldRXmqg0GG0UHM"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15b200b5-ba44-1910-a36f-fa164d02be05
      x-trace-spanid:
      - 15b200b5-ba44-39c0-a36f-fa164d02be05
      x-trace-parentspanid:
      - 15b200b5-ba44-3990-a36f-fa164d02be05
    body:
      encoding: UTF-8
      string: '{"matches":[{"map":"Airstrike","type":"Custom","decision":"Left","speed":"Faster","date":1425172458},{"map":"Daybreak
        LE","type":"Custom","decision":"Win","speed":"Faster","date":1362927359},{"map":"SC
        Universe RPG: Chronicles of Fate","type":"Custom","decision":"Left","speed":"Normal","date":1362922742},{"map":"StarJeweled","type":"Custom","decision":"Win","speed":"Faster","date":1362919799},{"map":"StarJeweled","type":"Custom","decision":"Loss","speed":"Faster","date":1362919486},{"map":"StarJeweled","type":"Custom","decision":"Loss","speed":"Faster","date":1362919[...]
