---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/sc2/legacy/profile/2/1/2137104?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"b5f-w1LOROHsgt5bNuVrnPvlGoK4vkg"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c865c1-20f3-31a0-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c1-20f3-3500-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c1-20f3-34d0-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"id":"2137104","realm":1,"displayName":"katarn","clanName":"","clanTag":"","profilePath":"/profile/2/1/2137104","portrait":{"x":0,"y":0,"w":152,"h":152,"offset":0,"url":"https://static.starcraft2.com/starport/d0e7c831-18ab-4cd6-adc7-9d4a28f49ec7/portraits/0-152-grid.jpg"},"career":{"primaryRace":"TERRAN","terranWins":0,"protossWins":0,"zergWins":0,"highest1v1Rank":null,"highestTeamRank":null,"seasonTotalGames":0,"careerTotalGames":1},"swarmLevels":{"level":2,"terran":{"level":2,"totalLevelXP":65000,"currentLevelXP":47479},"zerg":{"level":0,"totalLevelXP":5000,"currentLevelXP":0},"protoss":{"level":0,"totalLevelXP":5000,"currentLevelXP":0}},"campaign":{},"season":{"seasonId":42,"seasonNumber":4,"seasonYear":2019,"totalGamesThisSeason":0,"stats":[{"type":"1v1","wins":0,"games":0},{"type":"2v2","wins":0,"games":0},{"type":"3v3","wins":0,"games":0},{"type":"4v4","wins":0,"games":0},{"type":"Archon","wins":0,"games":0}]},"rewards":{"selected":["18730036","2009110693","2359737029","2951153716"],"earned":["15768155","18730036","24676187","58624234","92851551","170345607","175118693","268555963","301758540","306523769","334383271","415049813","442861206","522060623","535063834","535257061","569055983","570858554","574205234","595469804","648212375","656055948","695505991","800865563","861201319","879683935","918219367","923590681","957728898","985481741","1103653240","1159285604","1185292261","1187203361","1211360877","1244367155","1422135942","1434315354","1465828875","1500394717","1625603542","[...]
- request:
    method: get
    uri: https://eu.api.blizzard.com/sc2/legacy/profile/2/1/2137104/matches?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"172-KzguATtsSHWJp/ps7sfTItF91/I"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c86389-fc69-8850-6753-fa165ab86060
      x-trace-spanid:
      - 15c86389-fc69-93c0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c86389-fc69-9390-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"matches":[{"map":"Bel''Shir Vestige LE","type":"Co-Op","decision":"Win","speed":"Faster","date":1368973017},{"map":"Ulaan
        Deeps","type":"Co-Op","decision":"Loss","speed":"Faster","date":1305856218},{"map":"Monsoon","type":"3v3","decision":"Loss","speed":"Faster","date":1305854720},{"map":"Monsoon","type":"Co-Op","decision":"Loss","speed":"Faster","date":1305853807}]}'
      effective_url: https://eu.api.blizzard.com/sc2/legacy/profile/2/1/2137104/matches?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 13:30:47 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/sc2/legacy/profile/2/1/2137104/ladders?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"3f-VWIXFQ/97RiigAUvY3NoA/2tDiQ"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c865c1-20f3-3600-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c1-20f3-3c60-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c1-20f3-3c30-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"currentSeason":[],"previousSeason":[],"showcasePlacement":[]}'
      effective_url: https://eu.api.blizzard.com/sc2/legacy/profile/2/1/2137104/ladders?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 13:30:47 GMT
recorded_with: VCR 2.9.3
