---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/sc2/metadata/profile/2/1/2137104?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"ea-ngM/Z0rwhENkK/w48Np5BGX7dBk"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c86602-805a-9a20-8521-fa165a196292
      x-trace-spanid:
      - 15c86602-805a-c040-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86602-805a-c010-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"name":"katarn","profileUrl":"https://www.starcraft2.com/profile/2/1/2137104","avatarUrl":"https://static.starcraft2.com/starport/d0e7c831-18ab-4cd6-adc7-9d4a28f49ec7/portraits/0-0.jpg","profileId":"2137104","regionId":2,"realmId":1}'
      effective_url: https://eu.api.blizzard.com/sc2/metadata/profile/2/1/2137104?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 13:30:54 GMT
recorded_with: VCR 2.9.3
