---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/sc2/profile/2/1/2137104?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"3d6f3-kYt6pWdKx/k+G8NnjsVarvjjMxU"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c86602-8076-53a0-8521-fa165a196292
      x-trace-spanid:
      - 15c86602-8076-5d30-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86602-8076-5d00-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"summary":{"id":"2137104","realm":1,"displayName":"katarn","portrait":"https://static.starcraft2.com/starport/d0e7c831-18ab-4cd6-adc7-9d4a28f49ec7/portraits/0-0.jpg","decalTerran":"https://static.starcraft2.com/starport/d0e7c831-18ab-4cd6-adc7-9d4a28f49ec7/decals/2-0.jpg","decalProtoss":"https://static.starcraft2.com/starport/d0e7c831-18ab-4cd6-adc7-9d4a28f49ec7/decals/2-25.jpg","decalZerg":"https://static.starcraft2.com/starport/d0e7c831-18ab-4cd6-adc7-9d4a28f49ec7/decals/2-50.jpg","totalSwarmLevel":2,"totalAchievementPoints":20},"snapshot":{"seasonSnapshot":{"1v1":{"rank":-1,"leagueName":null,"totalGames":0,"totalWins":0},"2v2":{"rank":-1,"leagueName":null,"totalGames":0,"totalWins":0},"3v3":{"rank":-1,"leagueName":null,"totalGames":0,"totalWins":0},"4v4":{"rank":-1,"leagueName":null,"totalGames":0,"totalWins":0},"Archon":{"rank":-1,"leagueName":null,"totalGames":0,"totalWins":0}},"totalRankedSeasonGamesPlayed":0},"career":{"terranWins":0,"zergWins":0,"protossWins":0,"totalCareerGames":1,"totalGamesThisSeason":0,"current1v1LeagueName":null,"currentBestTeamLeagueName":null,"best1v1Finish":{"leagueName":null,"timesAchieved":0},"bestTeamFinish":{"leagueName":null,"timesAchieved":0}},"swarmLevels":{"level":2,"terran":{"level":2,"maxLevelPoints":65000,"currentLevelPoints":47479},"zerg":{"level":0,"maxLevelPoints":5000,"currentLevelPoints":0},"protoss":{"level":0,"maxLevelPoints":5000,"currentLevelPoints":0}},"campaign":{"difficultyCompleted":{}},"categoryPointProgress":[{"categoryId":"4325379","pointsEarned":0},{"categoryId":"4325410","pointsEarned":0},{"categoryId":"4330138","pointsEarned":0},{"categoryId":"4364473","pointsEarned":0},{"categoryId":"4386911","pointsEarned":0},{"categoryId":"4325377","pointsEarned":20},{"categoryId":"4325382","pointsEarned":0},{"categoryId":"4325408","pointsEarned":0}],"achievementShowcase":[],"earnedRewards":[{"rewardId":"3065782512","selected":false},{"rewardId":"1244367155","selected":false},{"rewardId":"3719319749","selected":false},{"rewardId":"595469804","selected":false},{"rewardId":"4172710431","selected":false},{"rewardId":"301758540","selected":false},{"rewardId":"24676187","selected":false},{"rewardId":"3788149940","selected":false},{"rewardId":"3321648143","selected":false},{"rewardId":"175118693","selected":false},{"rewardId":"3851663319","selected":false},{"rewardId":"2951153716","selected":true},{"rewardId":"442861206","selected":false},{"rewardId":"1422135942","selected":false},{"rewardId":"3721089590","selected":false},{"rewardId":"1159285604","achievementId":"91475320768611","selected":false},{"rewardId":"3484380374","achievementId":"91475320768611","selected":false},{"rewardId":"4179780094","achievementId":"91475320768611","selected":false},{"rewardId":"1628057977","selected":false},{"rewardId":"3216466912","selected":false},{"rewardId":"2009110693","selected":true},{"rewardId":"2560554373","selected":false},{"rewardId":"3168567118","selected":false},{"rewardId":"3441709157","selected":false},{"rewardId":"18730036","selected":true},{"rewardId":"985481741","selected":false},{"rewardId":"1919498533","achievementId":"91475320768464","selected":false},{"rewardId":"1187203361","selected":false},{"rewardId":"1103653240","selected":false},{"rewardId":"2359737029","selected":true},{"category":"Thor","rewardId":"3979921667","selected":false},{"category":"Overlord","rewardId":"3717180683","selected":false},{"category":"Supply
        Depot","rewardId":"2820704051","selected":false},{"category":"Ultralisk","rewardId":"1751841167","selected":false},{"category":"Marine","rewardId":"656055948","selected":false},{"category":"Zergling","rewardId":"4067220888","selected":false},{"category":"Zealot","rewardId":"3673336716","selected":false},{"category":"Pylon","rewardId":"1500394717","selected[...]
