---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/sc2/ladder/season/2?eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"56-Jot+8Gc0VWzs92lG7GbZDTxsfJA"
      content-type:
      - application/json; charset=utf-8
      x-trace-traceid:
      - 15c86389-fc70-d720-6753-fa165ab86060
      x-trace-spanid:
      - 15c86389-fc70-e990-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c86389-fc70-e960-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"seasonId":42,"number":4,"year":2019,"startDate":"1574819530","endDate":"1579759200"}'
      effective_url: https://eu.api.blizzard.com/sc2/ladder/season/2?eu&locale=en_gb
  recorded_at: Sat, 21 Dec 2019 13:30:55 GMT
recorded_with: VCR 2.9.3
