---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/sc2/profile/2137104/1/skt/?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-70.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '21'
      X-Plan-Quota-Reset:
      - Monday, September 28, 2015 12:00:00 PM GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 2137104,
          "realm" : 1,
          "displayName" : "skt",
          "clanName" : "",
          "clanTag" : "",
          "profilePath" : "/profile/2137104/1/skt/",
          "portrait" : {
            "x" : -270,
            "y" : -360,
            "w" : 90,
            "h" : 90,
            "offset" : 27,
            "url" : "http://media.blizzard.com/sc2/portraits/2-90.jpg"
          },
          "career" : {
            "primaryRace" : "TERRAN",
            "terranWins" : 0,
            "protossWins" : 0,
            "zergWins" : 0,
            "highest1v1Rank" : "BRONZE",
            "highestTeamRank" : "PLATINUM",
            "seasonTotalGames" : 0,
            "careerTotalGames" : 85
          },
          "swarmLevels" : {
            "level" : 0,
            "terran" : {
              "level" : 0,
              "totalLevelXP" : 5000,
              "currentLevelXP" : 0
            },
            "zerg" : {
              "level" : 0,
              "totalLevelXP" : 5000,
              "currentLevelXP" : 0
            },
            "protoss" : {
              "level" : 0,
              "totalLevelXP" : 5000,
              "currentLevelXP" : 0
            }
          },
          "campaign" : { },
          "season" : {
            "seasonId" : 23,
            "seasonNumber" : 3,
            "seasonYear" : 2015,
            "totalGamesThisSeason" : 0
          },
          "rewards" : {
            "selected" : [ 18730036, 1533389363, 2009110693, 2359737029, 2665125299, 2820704051 ],
            "earned" : [ 19065053, 328039243, 354595443, 547085114, 595375415, 615147322, 620687021, 653404382, 700641953, 716760434, 722125123, 744177281, 764871618, 780594184, 863976264, 943692309, 949322676, 991012247, 1002357867, 1159285604, 1174115730, 1177038943, 1202205842, 1232091643, 1294733777, 1330937594, 1364110229, 1399145799, 1435566629, 1533389363, 1567006651, 1569209874, 1628001624, 1702690519, 1728751618, 1756072743, 1798698573, 1907871808, 2000337393, 2031806605, 2071251289, 2073454839, 2085805482, 2119427912, 2139482325, 2340900877, 2349257404, 2420367594, 2449282564, 2636717639, 2665125299, 2690072246, 2710644389, 2718858952, 2730379211, 2753058248, 2809480242, 2825428175, 2951203821, 3030985253, 3152244759, 3189274569, 3205179785, 3484380374, 3587635379, 3607085810, 3621197834, 3670737945, 3690831617, 3692299263, 3718126383, 3798567608, 3821720584, 3901884329, 3918875355, 3992742131, 4000903407, 4017064141, 4017588258, 4034057894, 4137955515, 4139268406, 4162301223, 4179780094, 4180779287, 4208075645 ]
          },
          "achievements" : {
            "points" : {
              "totalPoints" : 430,
              "categoryPoints" : {
                "4325382" : 0,
                "4325380" : 120,
                "4325408" : 10,
                "4325379" : 80,
                "4325410" : 0,
                "4325377" : 220
              }
            },
            "achievements" : [ {
              "achievementId" : 91475330083013,
              "completionDate" : 1425171753
            }, {
              "achievementId" : 91475320768609,
              "completionDate" : 1425171753
            }, {
              "achievementId" : 91475320768606,
              "completionDate" : 1425171753
            }, {
              "achievementId" : 91475320768589,
              "completionDate" : 1390988655
            }, {
              "achievementId" : 91475320767608,
              "completionDate" : 1363806900
            }, {
              "achievementId" : 914[...]
