---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/spell/8056?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-52.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '11'
      X-Plan-Quota-Reset:
      - Sunday, September 27, 2015 7:00:00 AM GMT
    body:
      encoding: UTF-8
      string: '{"id":8056,"name":"Frost Shock","icon":"spell_frost_frostshock","description":"Instantly
        shocks an enemy with frost, dealing 2,654 Frost damage and reducing the target''s
        movement speed by 50%. Lasts 8 sec.","range":"25 yd range","powerCost":"1.25%
        of base mana","castTime":"Instant","cooldown":"6 sec cooldown"}'
  recorded_at: Sun, 27 Sep 2015 06:48:58 GMT
recorded_with: VCR 2.9.3
