---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-summary?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '9'
      Last-Modified:
      - Sun, 22 Dec 2019 09:05:19 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - pvp-summary
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86604-0502-fe30-8521-fa165a196292
      x-trace-spanid:
      - 15c86604-0503-1340-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86604-0503-1310-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-summary?namespace=profile-eu"}},"brackets":[{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-bracket/2v2?namespace=profile-eu"}],"honor_level":41,"pvp_map_statistics":[{"world_map":{"name":"Alterac
        Valley","id":30},"match_statistics":{"played":186,"won":108,"lost":78}},{"world_map":{"name":"Classic
        Warsong Gulch","id":489},"match_statistics":{"played":268,"won":164,"lost":104}},{"world_map":{"name":"Classic
        Arathi Basin","id":529},"match_statistics":{"played":228,"won":124,"lost":104}},{"world_map":{"name":"Eye
        of the Storm","id":566},"match_statistics":{"played":177,"won":102,"lost":75}},{"world_map":{"name":"Strand
        of the Ancients","id":607},"match_statistics":{"played":204,"won":101,"lost":103}},{"world_map":{"name":"Isl[...]
