---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/mount/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - mount
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-b380-3270-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-b380-3470-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-b380-3440-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/mount/?namespace=static-8.2.5_31884-eu"}},"mounts":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/mount/6?namespace=static-8.2.5_31884-eu"},"name":"Brown
        Horse","id":6},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mount/7?namespace=static-8.2.5_31884-eu"},"name":"Gray
        Wolf","id":7},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mount/8?namespace=static-8.2.5_31884-eu"},"name":"White
        Stallion","id":8},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mount/9?namespace=static-8.2.5_31884-eu"},"name":"Black
        Stallion","id":9},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mount/11?namespace=static-8.2.5_31884-eu"},"[...]
