---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/azerite-essence/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - azerite-essence
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-c3f8-af40-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-c3f8-b140-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-c3f8-b110-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/azerite-essence/?namespace=static-8.2.5_31884-eu"}},"azerite_essences":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/azerite-essence/2?namespace=static-8.2.5_31884-eu"},"name":"Azeroth''s
        Undying Gift","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/azerite-essence/3?namespace=static-8.2.5_31884-eu"},"name":"Sphere
        of Suppression","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/azerite-essence/4?namespace=static-8.2.5_31884-eu"},"name":"Worldvein
        Resonance","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/azerite-essence/5?namespace=static-8.2.5_31884-eu"},"name":"Essence
        of the Focusing Iris","id":5},{"key":{"href":"https://eu.api.blizz[...]
