---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-class/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUVm8EwO3fHFv4QPKEr83N7cRXGFSeFbk1
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 30 Sep 2020 01:07:24 GMT
      Battlenet-Namespace:
      - static-8.3.7_35114-eu
      Battlenet-Schema:
      - playable-class
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 2f3dc982-0a41-38f5-9b51-18093e12ed12
      x-trace-spanid:
      - 16371d6a-a6bd-5620-13e9-fa165a9d7aff
      x-trace-parentspanid:
      - 16371d6a-a6bd-55f0-13e9-fa165a9d7aff
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/?namespace=static-8.3.7_35114-eu"}},"classes":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/1?namespace=static-8.3.7_35114-eu"},"name":"Warrior","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/2?namespace=static-8.3.7_35114-eu"},"name":"Paladin","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/3?namespace=static-8.3.7_35114-eu"},"name":"Hunter","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/4?namespace=static-8.3.7_35114-eu"},"name":"Rogue","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/5?namespace=static-8.3.7_35114-eu"},"name":"Priest","id":5},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/6?namespace=static-8.3.7_35114-eu"},"name":"Death
        Knight","id":6},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/7?namespace=static-8.3.7_35114-eu"},"name":"Shaman","id":7},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/8?namespace=static-8.3.7_35114-eu"},"name":"Mage","id":8},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/9?namespace=static-8.3.7_35114-eu"},"name":"Warlock","id":9},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/10?namespace=static-8.3.7_35114-eu"},"name":"Monk","id":10},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/11?namespace=static-8.3.7_35114-eu"},"name":"Druid","id":11},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/12?namespace=static-8.3.7_35114-eu"},"name":"Demon
        Hunter","id":12}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-class/index?namespace=static-eu&locale=en_gb
  recorded_at: Sat, 03 Oct 2020 19:13:16 GMT
recorded_with: VCR 2.9.3
