---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/mount/6?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:22 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - mount
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c2-004d-cb90-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c2-004d-d390-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c2-004d-d360-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/mount/6?namespace=static-8.2.5_31884-eu"}},"id":6,"name":"Brown
        Horse","creature_displays":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-display/2404?namespace=static-8.2.5_31884-eu"}}],"description":"A
        favorite among Stormwind''s guards thanks to its patience and stamina.","source":{"type":"VENDOR","name":"Vendor"},"faction":{"type":"ALLIANCE","name":"Alliance"}}'
      effective_url: https://eu.api.blizzard.com/data/wow/mount/6?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:36 GMT
recorded_with: VCR 2.9.3
