---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/azerite-essence/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:22 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-c3f8-5760-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-c3f8-59d0-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-c3f8-59a0-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/azerite-essence/2?namespace=static-8.2.5_31884-eu"}},"assets":[{"key":"icon","value":"https://render-eu.worldofwarcraft.com/icons/56/spell_azerite_essence08.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/azerite-essence/2?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:31 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/azerite-essence/3?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:22 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638b-2c9b-4fd0-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638b-2c9b-5160-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638b-2c9b-5130-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/azerite-essence/3?namespace=static-8.2.5_31884-eu"}},"assets":[{"key":"icon","value":"https://render-eu.worldofwarcraft.com/icons/56/inv_azeritedebuff.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/azerite-essence/3?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:31 GMT
recorded_with: VCR 2.9.3
