---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '18'
      Last-Modified:
      - Sun, 22 Dec 2019 09:05:19 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-bd28-1340-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-bd28-3050-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-bd28-3020-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"}},"id":142650023,"name":"Sheday","gender":{"type":"MALE","name":"Male"},"faction":{"type":"ALLIANCE","name":"Alliance"},"race":{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-8.2.5_31884-eu"},"name":"Human","id":1},"character_class":{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/2?namespace=static-8.2.5_31884-eu"},"name":"Paladin","id":2},"active_spec":{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/70?namespace=static-8.2.5_31884-eu"},"name":"Retribution","id":70},"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"},"guild":{"key":{"href":"https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion?namespace=profile-eu"},"name":"Avalerion","id":36886834,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"level":120,"experience":0,"achievement_points":32165,"achievements":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/achievements?namespace=profile-eu"},"titles":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/titles?namespace=profile-eu"},"pvp_summary":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-summary?namespace=profile-eu"},"raid_progression":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/raid-progression?namespace=profile-eu"},"media":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/character-media?namespace=profile-eu"},"last_login_timestamp":1577005519000,"average_item_level":446,"equipped_item_level":444,"specializations":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/specializations?namespace=profile-eu"},"statistics":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/statistics?namespace=profile-eu"},"mythic_keystone_profile":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/mythic-keystone-profile?namespace=profile-eu"},"equipment":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/equipment?namespace=profile-eu"},"appearance":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/appearance?namespace=profile-eu"},"collections":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/collections?namespace=profile-eu"},"active_title":{"key":{"href":"https://eu.api.blizzard.com/data/wow/title/400?namespace=static-8.2.5_31884-eu"},"name":"Famed
        Slayer of the Harbinger","id":400,"display_string":"{name}, Famed Slayer of
        the Harbinger"},"reputations":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/reputations?namespace=profile-eu"},"quests":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/quests?namespace=profile-eu"}}'
      effective_url: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 16:36:51 GMT
recorded_with: VCR 2.9.3
