---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/pvp-tier/1?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:15 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - pvp-tier
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-b389-e980-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-b389-eb90-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-b389-eb60-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/pvp-tier/1?namespace=static-8.2.5_31884-eu"}},"id":1,"name":"Unranked","min_rating":0,"max_rating":1400,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/pvp-tier/1?namespace=static-8.2.5_31884-eu"}},"bracket":{"id":0,"type":"ARENA_2v2"},"rating_type":0}'
      effective_url: https://eu.api.blizzard.com/data/wow/pvp-tier/1?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:48 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/pvp-tier/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:15 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - pvp-tier
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864e9-2c36-c860-c980-fa165ba0f208
      x-trace-spanid:
      - 15c864e9-2c36-c9f0-c980-fa165ba0f208
      x-trace-parentspanid:
      - 15c864e9-2c36-c9c0-c980-fa165ba0f208
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/pvp-tier/2?namespace=static-8.2.5_31884-eu"}},"id":2,"name":"Combatant","min_rating":1370,"max_rating":1600,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/pvp-tier/2?namespace=static-8.2.5_31884-eu"}},"bracket":{"id":0,"type":"ARENA_2v2"},"rating_type":1}'
      effective_url: https://eu.api.blizzard.com/data/wow/pvp-tier/2?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:48 GMT
recorded_with: VCR 2.9.3
