---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - playable-race
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86601-cc5d-6960-8521-fa165a196292
      x-trace-spanid:
      - 15c86601-cc5d-6c90-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86601-cc5d-6c60-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-1.13.2_31446-classic-eu"}},"id":1,"name":"Human","gender_name":{"male":"Human","female":"Human"},"faction":{"type":"ALLIANCE","name":"Alliance"},"is_selectable":true,"is_allied_race":false}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:26:36 GMT
recorded_with: VCR 2.9.3
