---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/realm/500?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '7'
      Last-Modified:
      - Wed, 30 Sep 2020 01:07:24 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - realm
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 3913beff-119b-3ae2-95b3-d050cd447d09
      x-trace-spanid:
      - 16371d6a-e40e-f6b0-b9e9-fa165b57cb90
      x-trace-parentspanid:
      - 16371d6a-e40e-f680-b9e9-fa165b57cb90
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/realm/500?namespace=dynamic-eu"}},"id":500,"region":{"key":{"href":"https://eu.api.blizzard.com/data/wow/region/3?namespace=dynamic-eu"},"name":"Europe","id":3},"connected_realm":{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/1325?namespace=dynamic-eu"},"name":"Aggramar","category":"English","locale":"enGB","timezone":"Europe/Paris","type":{"type":"NORMAL","name":"Normal"},"is_tournament":false,"slug":"aggramar"}'
      effective_url: https://eu.api.blizzard.com/data/wow/realm/500?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sat, 03 Oct 2020 20:37:48 GMT
recorded_with: VCR 2.9.3
