---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/data/pet/types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200e8-ad15-5e10-9756-fa164cbd2448
      x-trace-spanid:
      - 15b200e8-ad15-5f40-9756-fa164cbd2448
      x-trace-parentspanid:
      - 15b200e8-ad15-5f10-9756-fa164cbd2448
    body:
      encoding: UTF-8
      string: '{"petTypes":[{"id":0,"key":"humanoid","name":"Humanoid","typeAbilityId":238,"strongAgainstId":1,"weakAgainstId":7},{"id":1,"key":"dragonkin","name":"Dragonkin","typeAbilityId":245,"strongAgainstId":5,"weakAgainstId":3},{"id":2,"key":"flying","name":"Flying","typeAbilityId":239,"strongAgainstId":8,"weakAgainstId":1},{"id":3,"key":"undead","name":"Undead","typeAbilityId":242,"strongAgainstId":0,"weakAgainstId":8},{"id":4,"key":"critter","name":"Critter","typeAbilityId":236,"strongAgainstId":3,"weakAgainstId":0},{"id":5,"key":"magical","name":"Magic","typeAbilityId":243,"strongAgainstId":2,"weakAgainstId":9},{"id":6,"key":"elemental","name":"Elemental","typeAbilityId":241,"strongAgainstId":9,"weakAgainstId":4},{"id":7,"key":"beast","name":"Beast","typeAbilityId":237,"strongAgainstId":4,"weakAgainstId":2},{"id":8,"key":"water","name":"Aquatic","typeAbilityId":240,"strongAgainstId":6,"weakAgainstId":5},{"id":9,"key":"mechanical","name":"Mechanical","typeAbilityId":244,"strongAgainstId":7,"weakAgainstId":6}]}'
      effective_url: https://us.api.blizzard.com/wow/data/pet/types
  recorded_at: Thu, 08 Aug 2019 06:11:47 GMT
recorded_with: VCR 2.9.3
