---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/item-class/index?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:31 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - item-class
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86601-c890-f6c0-8521-fa165a196292
      x-trace-spanid:
      - 15c86601-c890-f850-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86601-c890-f820-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/item-class/?namespace=static-1.13.2_31446-classic-eu"}},"item_classes":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/0?namespace=static-1.13.2_31446-classic-eu"},"name":"Consumable","id":0},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1?namespace=static-1.13.2_31446-classic-eu"},"name":"Container","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/2?namespace=static-1.13.2_31446-classic-eu"},"name":"Weapon","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/4?namespace=static-1.13.2_31446-classic-eu"},"name":"Armor","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/5?namespace=static-1.13.2_31446-classic-eu"},"name":"Reagent","id":5},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/6?namespace=static-1.13.2_31446-classic-eu"},"name":"Projectile","id":6},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/7?namespace=static-1.13.2_31446-classic-eu"},"name":"Trade
        Goods","id":7},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/9?namespace=static-1.13.2_31446-classic-eu"},"name":"Recipe","id":9},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/11?namespace=static-1.13.2_31446-classic-eu"},"name":"Quiver","id":11},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/12?namespace=static-1.13.2_31446-classic-eu"},"name":"Quest","id":12},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/13?namespace=static-1.13.2_31446-classic-eu"},"name":"Key","id":13},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/15?namespace=static-1.13.2_31446-classic-eu"},"name":"Miscellaneous","id":15}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/item-class/index?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:05:33 GMT
recorded_with: VCR 2.9.3
