---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/wow/guild/sargeras/Remember%20My%20Duck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 08 Aug 2019 03:01:26 GMT
      Content-Language:
      - en-GB
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200be-c5e3-b2b0-4ade-fa165a07058b
      x-trace-spanid:
      - 15b200be-c5e3-d130-4ade-fa165a07058b
      x-trace-parentspanid:
      - 15b200be-c5e3-d100-4ade-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"lastModified":1565233286000,"name":"Remember My Duck","realm":"Sargeras","battlegroup":"Embuscade
        / Hinterhalt","level":25,"side":1,"achievementPoints":1590,"emblem":{"icon":164,"iconColor":"ff101517","iconColorId":15,"border":3,"borderColor":"ff0f1415","borderColorId":15,"backgroundColor":"ff4f2300","backgroundColorId":44}}'
      effective_url: https://eu.api.blizzard.com/wow/guild/sargeras/Remember%20My%20Duck
  recorded_at: Thu, 08 Aug 2019 06:11:50 GMT
recorded_with: VCR 2.9.3
