---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/title/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - title
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638b-2cad-6e70-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638b-2cad-7070-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638b-2cad-7040-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/title/?namespace=static-8.2.5_31884-eu"}},"titles":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/title/1?namespace=static-8.2.5_31884-eu"},"name":"Private","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/title/2?namespace=static-8.2.5_31884-eu"},"name":"Corporal","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/title/3?namespace=static-8.2.5_31884-eu"},"name":"Sergeant","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/title/4?namespace=static-8.2.5_31884-eu"},"name":"Master
        Sergeant","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/title/5?namespace=static-8.2.5_31884-eu"},"name":"Sergeant
       [...]
