---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/data/guild/achievements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b5-5ff8-eff0-9773-fa164d589faf
      x-trace-spanid:
      - 15b200b5-5ff8-f130-9773-fa164d589faf
      x-trace-parentspanid:
      - 15b200b5-5ff8-f100-9773-fa164d589faf
    body:
      encoding: UTF-8
      string: '{"achievements":[{"id":15088,"achievements":[{"id":5362,"title":"Everyone
        Needs a Logo","points":10,"description":"Create and purchase a guild crest.","rewardItems":[],"icon":"inv_shirt_guildtabard_01","criteria":[{"id":15327,"description":"","orderIndex":1,"max":1}],"accountWide":false,"factionId":2},{"id":4913,"title":"It
        All Adds Up","points":10,"description":"Spend 50,000 gold on guildmember repairs.","rewardItems":[],"icon":"achievement_guildperk_cashflow_rank2","criteria":[{"id":13757,"description":"","orderIndex":0,"max":500000000}],"accountWide":false,"factionId":2},{"id":5420,"title":"It
        All Really Adds Up","points":10,"description":"Spend 100,000 gold on guildmember
        repairs.","rewardItems":[],"icon":"achievement_guildperk_cashflow_rank2","criteria":[{"id":13757,"description":"","orderIndex":0,"max":1000000000}],"accountWide":false,"factionId":2},{"id":5201,"title":"Profit
        Sharing","points":10,"description":"Loot 100,000 gold from creatures.","reward":"Reward:
        Guild Herald","rewardItems":[{"id":65363,"name":"Guild Herald","icon":"achievement_guildperk_honorablemention_rank2","quality":2,"itemLevel":1,"tooltipParams":{"timewalkerLevel":0,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[],"armor":0,"context":"","bonusLists":[],"artifactId":0,"displayInfoId":0,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{}},{"id":65364,"name":"Guild
        Herald","icon":"achievement_guildperk_honorablemention_rank2","quality":2,"itemLevel":1,"tooltipParams":{"timewalkerLevel":0,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[],"armor":0,"context":"","bonusLists":[],"artifactId":0,"displayInfoId":0,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{}}],"icon":"inv_misc_coin_06","criteria":[{"id":4093,"description":"",[...]
