---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/reputation-faction/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - reputation-faction
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-b38b-21d0-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-b38b-24d0-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-b38b-24a0-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/reputation-faction/?namespace=static-8.2.5_31884-eu"}},"factions":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-faction/21?namespace=static-8.2.5_31884-eu"},"name":"Booty
        Bay","id":21},{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-faction/47?namespace=static-8.2.5_31884-eu"},"name":"Ironforge","id":47},{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-faction/54?namespace=static-8.2.5_31884-eu"},"name":"Gnomeregan","id":54},{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-faction/59?namespace=static-8.2.5_31884-eu"},"name":"Thorium
        Brotherhood","id":59},{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-fa[...]
