---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-bracket/2v2?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '7'
      Last-Modified:
      - Sun, 22 Dec 2019 09:05:19 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - pvp-bracket
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c2-3d0d-e7b0-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c2-3d0d-e920-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c2-3d0d-e8f0-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-bracket/2v2?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"},"name":"Sheday","id":142650023,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"faction":{"type":"ALLIANCE","name":"Alliance"},"bracket":{"id":0,"type":"ARENA_2v2"},"rating":1672,"season":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/28?namespace=dynamic-eu"},"id":28},"tier":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-tier/3?namespace=static-8.2.5_31884-eu"},"id":3},"season_match_statistics":{"played":41,"won":26,"lost":15},"weekly_match_statistics":{"played":0,"won":0,"lost":0}}'
      effective_url: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-bracket/2v2?namespace=profile-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 22:32:46 GMT
recorded_with: VCR 2.9.3
