---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/professions?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 8 Jun 2020 11:30:19 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-professions
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 93ced4f7-2afd-35fe-9a74-98c55ad942b8
      x-trace-spanid:
      - 160c77c6-f6e4-8b80-9d8a-fa165ac57d21
      x-trace-parentspanid:
      - 160c77c6-f6e4-8b50-9d8a-fa165ac57d21
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/professions?namespace=profile-eu"}},"primaries":[{"profession":{"key":{"href":"https://eu.api.blizzard.com/data/wow/profession/171?namespace=static-8.3.0_32861-eu"},"name":"Alchemy","id":171},"tiers":[{"skill_points":175,"max_skill_points":175,"tier":{"name":"Kul
        Tiran Alchemy","id":2478},"known_recipes":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/recipe/38774?namespace=static-8.3.0_32861-eu"},"name":"Steelskin
        Potion","id":38774},{"key":{"href":"https://eu.api.blizzard.com/data/wow/recipe/38777?namespace=static-8.3.0_32861-eu"},"name":"Potion
        of Replenishment","id":38777},{"key":{"href":"https://eu.api.blizzard.com/data/wow/recipe/38780?namespace=static-8.3.0_32861-eu"},"name":"Potion
        of Bursting Blood","id":38780},{"key":{"href":"https://eu.api.blizzard.com/da[...]
