---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/keystone-affix/6?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:01 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - keystone-affix
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c2-004e-2de0-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c2-004e-2f00-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c2-004e-2ed0-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/keystone-affix/6?namespace=static-8.2.5_31884-eu"}},"id":6,"name":"Raging","description":"Non-boss
        enemies enrage at 30% health remaining, dealing 100% increased damage until
        defeated.","media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/keystone-affix/6?namespace=static-8.2.5_31884-eu"},"id":6}}'
      effective_url: https://eu.api.blizzard.com/data/wow/keystone-affix/6?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:36 GMT
recorded_with: VCR 2.9.3
