---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-family/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:15 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - creature-family
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86552-f587-8190-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86552-f587-8320-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86552-f587-82f0-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/2?namespace=static-8.2.5_31884-eu"}},"id":2,"name":"Cat","specialization":{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/74?namespace=static-8.2.5_31884-eu"},"name":"Ferocity","id":74},"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-family/2?namespace=static-8.2.5_31884-eu"},"id":2}}'
      effective_url: https://eu.api.blizzard.com/data/wow/creature-family/2?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:24 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-family/1?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:15 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - creature-family
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86552-f587-84b0-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86552-f587-8730-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86552-f587-8700-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/1?namespace=static-8.2.5_31884-eu"}},"id":1,"name":"Wolf","specialization":{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/74?namespace=static-8.2.5_31884-eu"},"name":"Ferocity","id":74},"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-family/1?namespace=static-8.2.5_31884-eu"},"id":1}}'
      effective_url: https://eu.api.blizzard.com/data/wow/creature-family/1?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:24 GMT
recorded_with: VCR 2.9.3
