---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-class/8?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 30 Sep 2020 01:07:25 GMT
      Battlenet-Namespace:
      - static-8.3.7_35114-eu
      Battlenet-Schema:
      - playable-class
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - bf1cd7f4-04e0-301d-9fb3-075621e2e647
      x-trace-spanid:
      - 16371d6b-f1ef-fab0-1ec7-fa165ad918d9
      x-trace-parentspanid:
      - 16371d6b-f1ef-fa80-1ec7-fa165ad918d9
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/8?namespace=static-8.3.7_35114-eu"}},"id":8,"name":"Mage","gender_name":{"male":"Mage","female":"Mage"},"power_type":{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/0?namespace=static-8.3.7_35114-eu"},"name":"Mana","id":0},"specializations":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/62?namespace=static-8.3.7_35114-eu"},"name":"Arcane","id":62},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/63?namespace=static-8.3.7_35114-eu"},"name":"Fire","id":63},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/64?namespace=static-8.3.7_35114-eu"},"name":"Frost","id":64}],"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/playable-class/8?namespace=static-8.3.7_35114-eu"},"id":8},"pvp_talent_slots":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/8/pvp-talent-slots?namespace=static-8.3.7_35114-eu"}}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-class/8?namespace=static-eu&locale=en_gb
  recorded_at: Sat, 03 Oct 2020 19:13:15 GMT
[...]
