---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/realm/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 08 Aug 2019 06:09:51 GMT
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b2-f216-8ed0-ca62-fa164dd3675a
      x-trace-spanid:
      - 15b200b2-f216-9000-ca62-fa164dd3675a
      x-trace-parentspanid:
      - 15b200b2-f216-8fd0-ca62-fa164dd3675a
    body:
      encoding: UTF-8
      string: '{"realms":[{"type":"normal","population":"n/a","queue":false,"status":true,"name":"Aegwynn","slug":"aegwynn","battlegroup":"Vengeance","locale":"en_US","timezone":"America/Chicago","connected_realms":["gurubashi","bonechewer","aegwynn","hakkar","daggerspine"]},{"type":"normal","population":"high","queue":false,"status":true,"name":"Aerie
        Peak","slug":"aerie-peak","battlegroup":"Vindication","locale":"en_US","timezone":"America/Los_Angeles","connected_realms":["aerie-peak"]},{"type":"normal","population":"medium","queue":false,"status":true,"name":"Agamaggan","slug":"agamaggan","battlegroup":"Shadowburn","locale":"en_US","timezone":"America/Chicago","connected_realms":["burning-legion[...]
