---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/data/character/classes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b6-101b-63a0-e32b-fa164dc0bcb5
      x-trace-spanid:
      - 15b200b6-101b-64d0-e32b-fa164dc0bcb5
      x-trace-parentspanid:
      - 15b200b6-101b-64a0-e32b-fa164dc0bcb5
    body:
      encoding: UTF-8
      string: '{"classes":[{"id":1,"mask":1,"powerType":"rage","name":"Warrior"},{"id":2,"mask":2,"powerType":"mana","name":"Paladin"},{"id":3,"mask":4,"powerType":"focus","name":"Hunter"},{"id":4,"mask":8,"powerType":"energy","name":"Rogue"},{"id":5,"mask":16,"powerType":"mana","name":"Priest"},{"id":6,"mask":32,"powerType":"runic-power","name":"Death
        Knight"},{"id":7,"mask":64,"powerType":"mana","name":"Shaman"},{"id":8,"mask":128,"powerType":"mana","name":"Mage"},{"id":9,"mask":256,"powerType":"mana","name":"Warlock"},{"id":10,"mask":512,"powerType":"energy","name":"Monk"},{"id":11,"mask":1024,"powerType":"mana","name":"Druid"},{"id":12,"mask":2048,"powerType":"fury","name":"Demon
        Hunter"}]}'
      effective_url: https://us.api.blizzard.com/wow/data/character/classes
  recorded_at: Thu, 08 Aug 2019 06:11:39 GMT
recorded_with: VCR 2.9.3
