---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/marks/hunter-pets?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Thu, 19 Dec 2019 07:55:59 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-hunter-pets
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638b-7eb7-5bd0-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638b-7eb7-6fd0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638b-7eb7-6fa0-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/marks/hunter-pets?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/marks?namespace=profile-eu"},"name":"Marks","id":121099247,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"hunter_pets":[{"name":"stats","level":100,"creature":{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature/29452?namespace=static-8.2.5_31884-eu"},"name":"Vargul
        Blighthound","id":29452},"slot":6,"creature_display":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-display/25785?namespace=static-8.2.5_31884-eu"}}},{"name":"versatility","level":100,"creature":{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature/78275?namespace=static-8.2.5_31884-eu"},"name":"Silverpelt
        Doe","id":78275},"slot":12,"creature_display":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-display/53764?namespace=static-8.2.5_31884-eu"}}},{"name":"mstery","level":100,"creature":{"ke[...]
