---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/character/saurfang/milhause?fields=petSlots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 02 Mar 2015 15:49:44 GMT
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b2-f213-58d0-ca62-fa164dd3675a
      x-trace-spanid:
      - 15b200b2-f213-6430-ca62-fa164dd3675a
      x-trace-parentspanid:
      - 15b200b2-f213-6400-ca62-fa164dd3675a
    body:
      encoding: UTF-8
      string: '{"lastModified":1425311384000,"name":"Milhause","realm":"Saurfang","battlegroup":"AU/NZ
        Battle Group","class":10,"race":25,"gender":0,"level":100,"achievementPoints":1045,"thumbnail":"saurfang/234/162958314-avatar.jpg","calcClass":"f","faction":0,"petSlots":[{"slot":1,"isEmpty":true,"isLocked":true,"abilities":[]},{"slot":2,"isEmpty":true,"isLocked":true,"abilities":[]},{"slot":3,"isEmpty":true,"isLocked":true,"abilities":[]}],"totalHonorableKills":1435}'
      effective_url: https://us.api.blizzard.com/wow/character/saurfang/milhause?fields=petSlots
  recorded_at: Thu, 08 Aug 2019 06:11:36 GMT
recorded_with: VCR 2.9.3
