---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/covenant/conduit/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EU9UTgGxUGGNV2468OnmLjJiKYHlMFGSGw
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 25 Nov 2020 02:08:13 GMT
      Battlenet-Namespace:
      - static-9.0.2_36532-eu
      Battlenet-Schema:
      - covenant-conduit
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 8093779f-b536-3f6a-8acd-a0015311c12d
      x-trace-spanid:
      - 16480bf6-e4ce-8230-7fcd-fa165a3b47a5
      x-trace-parentspanid:
      - 16480bf6-e4ce-8200-7fcd-fa165a3b47a5
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/covenant/conduit/?namespace=static-9.0.2_36532-eu"}},"conduits":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/covenant/conduit/10?namespace=static-9.0.2_36532-eu"},"name":"Fueled
        by Violence","id":10},{"key":{"href":"https://eu.api.blizzard.com/data/wow/covenant/conduit/11?namespace=static-9.0.2_36532-eu"},"name":"Ashen
        Juggernaut","id":11},{"key":{"href":"https://eu.api.blizzard.com/data/wow/covenant/conduit/12?namespace=static-9.0.2_36532-eu"},"name":"Crash
        the Ramparts","id":12},{"key":{"href":"https://eu.api.blizzard.com/data/wow/covenant/conduit/13?namespace=static-9.0.2_36532-eu"},"name":"Cacophonous
        Roar","id":13},{"key":{"href":"https://eu.api.blizzard.com/[...]
