---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/playable-class/8?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 30 Sep 2020 01:07:25 GMT
      Battlenet-Namespace:
      - static-8.3.7_35114-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 7c01f43b-77e9-375c-9a4c-8d424849bf60
      x-trace-spanid:
      - 16371d6a-63cc-fe10-16be-fa165a30479e
      x-trace-parentspanid:
      - 16371d6a-63cc-fde0-16be-fa165a30479e
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/playable-class/8?namespace=static-8.3.7_35114-eu"}},"assets":[{"key":"icon","value":"https://render-eu.worldofwarcraft.com/icons/56/classicon_mage.jpg","file_data_id":626001}],"id":8}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/playable-class/8?namespace=static-eu&locale=en_gb
  recorded_at: Sat, 03 Oct 2020 22:06:35 GMT
recorded_with: VCR 2.9.3
