---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/title/6?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:16 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - title
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c2-0056-b000-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c2-0056-b200-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c2-0056-b1d0-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/title/6?namespace=static-8.2.5_31884-eu"}},"id":6,"name":"Knight","gender_name":{"male":"Knight
        {name}","female":"Knight {name}"}}'
      effective_url: https://eu.api.blizzard.com/data/wow/title/6?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:51 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/title/7?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:16 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - title
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c2-0056-b400-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c2-0056-b920-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c2-0056-b8f0-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/title/7?namespace=static-8.2.5_31884-eu"}},"id":7,"name":"Knight-Lieutenant","gender_name":{"male":"Knight-Lieutenant
        {name}","female":"Knight-Lieutenant {name}"}}'
      effective_url: https://eu.api.blizzard.com/data/wow/title/7?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:51 GMT
recorded_with: VCR 2.9.3
