---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/character-media?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '4'
      Last-Modified:
      - Sat, 21 Dec 2019 10:50:08 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c2-3ccf-77a0-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c2-3ccf-7920-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c2-3ccf-78f0-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/character-media?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"},"name":"Sheday","id":142650023,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"avatar_url":"https://render-eu.worldofwarcraft.com/character/stormrage/167/142650023-avatar.jpg","bust_url":"https://render-eu.worldofwarcraft.com/character/stormrage/167/142650023-inset.jpg","render_url":"https://render-eu.worldofwarcraft.com/character/stormrage/167/142650023-main.jpg"}'
      effective_url: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/character-media?namespace=profile-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 22:30:34 GMT
recorded_with: VCR 2.9.3
