---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/pvp-tier/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - pvp-tier
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-b38a-1600-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-b38a-1720-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-b38a-16f0-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/pvp-tier/?namespace=static-8.2.5_31884-eu"}},"tiers":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-tier/1?namespace=static-8.2.5_31884-eu"},"name":"Unranked","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-tier/2?namespace=static-8.2.5_31884-eu"},"name":"Combatant","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-tier/3?namespace=static-8.2.5_31884-eu"},"name":"Challenger","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-tier/4?namespace=static-8.2.5_31884-eu"},"name":"Rival","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-tier/5?namespace=static-8.2.5_31884-eu"},"name":"Duelist","id":5},{"[...]
