---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/encounters/dungeons?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUwirJ2L8Z9vFZjdkTFQv52o8jyUe6VkcQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Sat, 7 Mar 2020 09:41:14 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-raid-progression-dungeons
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15f9e472-561c-e540-34f0-fa165b63c5df
      x-trace-spanid:
      - 15f9e472-561c-f6f0-34f0-fa165b63c5df
      x-trace-parentspanid:
      - 15f9e472-561c-f6c0-34f0-fa165b63c5df
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/encounters/dungeons?namespace=profile-eu"}},"expansions":[{"expansion":{"key":{"href":"https://eu.api.blizzard.com/data/wow/journal-expansion/68?namespace=static-8.3.0_32861-eu"},"name":"Classic","id":68},"instances":[{"instance":{"key":{"href":"https://eu.api.blizzard.com/data/wow/journal-instance/63?namespace=static-8.3.0_32861-eu"},"name":"Deadmines","id":63},"modes":[{"difficulty":{"type":"HEROIC","name":"Heroic"},"status":{"type":"COMPLETE","name":"Complete"},"progress":{"completed_count":1,"total_count":1,"encounters":[{"encounter":{"key":{"href":"https://eu.api.blizzard.com/data/wow/journal-encounter/95?namespace=static-8.3.0_32861-eu"},"name":"Vanessa
        VanCleef","id":95},"completed_count":2,"last_kill_timestamp":1309860941000}]}}]},{"instance":{"key":{"href":"https://eu.api.blizzard.com/data/wow/journal-instance/64?namespace=static-8.3.0_32861-eu"},"name":"Shadowfang
        Keep","id":64},"modes":[{"difficulty":{"type":"HEROIC","name":"Heroic"},"status":{"type":"COMPLETE","name":"Complete"},"progress":{"completed_count":1,"total_count":1,"encounters":[{"encounter":{"key":{"href":"https://eu.api.blizzard.com/data/wow/journal-encounter/100?namespace=static-8.3.0_32861-eu"},"name":"Lord
        Godfrey","[...]
