---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/pvp-season/index?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '3'
      Last-Modified:
      - Sun, 22 Dec 2019 14:19:10 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - pvp-season
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86553-246e-fcc0-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86553-246e-ff00-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86553-246e-fed0-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/?namespace=dynamic-eu"}},"seasons":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/22?namespace=dynamic-eu"},"id":22},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/23?namespace=dynamic-eu"},"id":23},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/24?namespace=dynamic-eu"},"id":24},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/25?namespace=dynamic-eu"},"id":25},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/26?namespace=dynamic-eu"},"id":26},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/27?namespace=dynamic-eu"},"id":27},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/28?namespace=dynamic-eu"},"id":28}],"current_season":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/28?namespace=dynamic-eu"},"id":28}}'
      effective_url: https://eu.api.blizzard.com/data/wow/pvp-season/index?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:48 GMT
recorded_with: VCR 2.9.3
