---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-family/2?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - creature-family
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86601-ad69-4df0-8521-fa165a196292
      x-trace-spanid:
      - 15c86601-ad69-5180-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86601-ad69-5150-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/2?namespace=static-1.13.2_31446-classic-eu"}},"id":2,"name":"Cat","media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-family/2?namespace=static-1.13.2_31446-classic-eu"},"id":2}}'
      effective_url: https://eu.api.blizzard.com/data/wow/creature-family/2?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 17:46:42 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-family/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - creature-family
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c0-7bed-d8e0-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c0-7bed-e240-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c0-7bed-e1e0-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/1?namespace=static-1.13.2_31446-classic-eu"}},"id":1,"name":"Wolf","media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-family/1?namespace=static-1.13.2_31446-classic-eu"},"id":1}}'
      effective_url: https://eu.api.blizzard.com/data/wow/creature-family/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 17:46:42 GMT
recorded_with: VCR 2.9.3
