---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/character/saurfang/milhause
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 02 Mar 2015 15:49:44 GMT
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b5-e23f-0ad0-981b-fa164da8105b
      x-trace-spanid:
      - 15b200b5-e23f-1910-981b-fa164da8105b
      x-trace-parentspanid:
      - 15b200b5-e23f-18e0-981b-fa164da8105b
    body:
      encoding: UTF-8
      string: '{"lastModified":1425311384000,"name":"Milhause","realm":"Saurfang","battlegroup":"AU/NZ
        Battle Group","class":10,"race":25,"gender":0,"level":100,"achievementPoints":1045,"thumbnail":"saurfang/234/162958314-avatar.jpg","calcClass":"f","faction":0,"totalHonorableKills":1435}'
      effective_url: https://us.api.blizzard.com/wow/character/saurfang/milhause
  recorded_at: Thu, 08 Aug 2019 06:11:35 GMT
recorded_with: VCR 2.9.3
