---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/mythic-keystone/season/1?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Wed, 18 Dec 2019 07:00:05 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - mythic-keystone-season
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-c3fd-7cc0-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-c3fd-8070-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-c3fd-8040-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/season/1?namespace=dynamic-eu"}},"id":1,"start_timestamp":1535500800000,"end_timestamp":1548226800000,"periods":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/660?namespace=dynamic-eu"},"id":660},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/661?namespace=dynamic-eu"},"id":661},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/662?namespace=dynamic-eu"},"id":662},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/663?namespace=dynamic-eu"},"id":663},{"key":{"href":"https://eu.api.blizzard.com/data/wow/my[...]
[...]
