---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/quest/13146
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b5-ba49-9b10-a36f-fa164d02be05
      x-trace-spanid:
      - 15b200b5-ba49-9c50-a36f-fa164d02be05
      x-trace-parentspanid:
      - 15b200b5-ba49-9c20-a36f-fa164d02be05
    body:
      encoding: UTF-8
      string: '{"id":13146,"title":"Generosity Abounds","reqLevel":77,"suggestedPartyMembers":0,"category":"Icecrown","level":80}'
      effective_url: https://us.api.blizzard.com/wow/quest/13146
  recorded_at: Thu, 08 Aug 2019 06:11:59 GMT
recorded_with: VCR 2.9.3
