---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/wow/character/stormrage/sheday?fields=items&fields=reputation&fields=audit&fields=statistics&fields=achievements&fields=pets&fields=pvp&fields=professions&fields=quests&fields=mounts&fields=titleseu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUwirJ2L8Z9vFZjdkTFQv52o8jyUe6VkcQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 07 Mar 2020 09:41:15 GMT
      Content-Language:
      - en-GB
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15f9e472-9bb9-2830-f530-fa165adffd22
      x-trace-spanid:
      - 15f9e472-9bb9-8ad0-f530-fa165adffd22
      x-trace-parentspanid:
      - 15f9e472-9bb9-8aa0-f530-fa165adffd22
    body:
      encoding: UTF-8
      string: '{"lastModified":1583574075000,"name":"Sheday","realm":"Stormrage","battlegroup":"Glutsturm
        / Emberstorm","class":2,"race":1,"gender":0,"level":120,"achievementPoints":32355,"thumbnail":"stormrage/167/142650023-avatar.jpg","calcClass":"b","faction":0,"items":{"averageItemLevel":477,"averageItemLevelEquipped":477,"head":{"id":171009,"name":"Paramount
        Orthogonal Optics","icon":"inv_helm_goggles_draenortradeskill_d_01","quality":4,"itemLevel":480,"tooltipParams":{"transmogItem":77664,"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":74,"amount":1514},{"stat":7,"amount":3750}],"armor":1133,"context":"trade-skill","bonusLists":[],"artifactId":0,"displayInfoId":159428,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"itemId":77664,"itemAppearanceModId":0,"transmogItemAppearanceModId":0},"azeriteEmpoweredItem":{"azeritePowers":[{"id":13,"tier":0,"spellId":263978,"bonusListId":0},{"id":502,"tier":1,"spellId":280181,"bonusListId":0},{"id":104,"tier":2,"spellId":267884,"bonusListId":0},{"id":501,"tier":3,"spellId":280178,"bonusListId":0},{"id":139,"tier":4,"spellId":287268,"bonusListId":0}]}},"neck":{"id":158075,"name":"Heart
        of Azeroth","icon":"inv_heartofazeroth","quality":6,"itemLevel":491,"tooltipParams":{"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":32,"amount":354},{"stat":49,"amount":354},{"stat":36,"amount":354},{"stat":7,"amount":971},{"stat":71,"amount":496}],"armor":0,"context":"quest-reward","bonusLists":[6316,4932,4933],"artifactId":0,"displayInfoId":0,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{},"azeriteItem":{"azeriteLevel":79,"azeriteExperience":5409,"azeriteExperienceRemaining":29583}},"shoulder":{"id":174165,"name":"Writhing
        Spaulders of Madness","icon":"inv_shoulder_plate_nzothraidmythic_d_01","quality":4,"itemLevel":475,"tooltipParams":{"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":74,"amount":1084},{"stat":7,"amount":2666}],"armor":1004,"context":"raid-mythic","bonusLists":[4824,1517,4786,6512],"artifactId":0,"displayInfoId":179635,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"itemAppearanceModId":3},"azeriteEmpoweredItem":{"azeritePowers":[{"id":0,"tier":0,"spellId":0,"bonusListId":0},{"id":83,"tier":1,"spellId":268437,"bonusListId":0},{"id":42,"tier":2,"spellId":267883,"bonusListId":0},{"id":394,"tier":3,"spellId":278594,"bonusListId":0},{"id":139,"tier":4,"spellId":287268,"bonusListId":0}]}},"back":{"id":169223,"name":"Ashjra''kamas,
        Shroud of Resolve","icon":"inv_cape_blacktalon_d_01_blue","quality":5,"itemLevel":492,"tooltipParams":{"transmogItem":134111,"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":32,"amount":71},{"stat":49,"amount":71},{"stat":36,"amount":71},{"stat":71,"amount":501},{"stat":7,"amount":980},{"stat":23,"amount":4}],"armor":207,"context":"quest-reward","bonusLists":[6283,1472],"artifactId":0,"displayInfoId":180935,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"itemId":134111,"itemAppearanceModId":152,"transmogItemAppearanceModId":0}},"chest":{"id":174164,"name":"Breastplate
        of Twilight Decimation","icon":"inv_chest_plate_nzothraidmythic_d_01","quality":4,"itemLevel":480,"tooltipParams":{"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":74,"amount":1514},{"stat":7,"amount":3108}],"armor":1394,"context":"raid-mythic","bonusLists":[4824,1517,4786,6510],"artifactId":0,"displayInfoId":181142,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"itemAppearanceModId":3},"azeriteEmpoweredItem":{"azeritePowers":[{"id":13,"tier":0,"spellId":263978,"bonusListId":0},{"id":83,"tier":1,"spellId":268437,"bonusListId":0},{"id":20,"tier":2,"spellId":267665,"bonusListId":0},{"id":582,"tier":3,"spellId":317137,"bonusListId":0},{"id":139,"tier":4,"spellId":287268,"bonusListId":0}]}},"shirt":{"id":52019,"name":"Precious''
        Ribbon","icon":"inv_misc_ribbon_01","quality":2,"itemLevel":1,"tooltipParams":{"transmogItem":98085,"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[],"armor":0,"context":"","bonusLists":[],"artifactId":0,"displayInfoId":64872,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"itemId":98085,"itemAppearanceModId":0,"transmogItemAppearanceModId":0}},"tabard":{"id":63379,"name":"Baradin''s
        Wardens Tabard","icon":"inv_misc_tabard_baradinwardens","quality":3,"itemLevel":1,"tooltipParams":{"transmogItem":20132,"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[],"armor":0,"context":"","bonusLists":[],"artifactId":0,"displayInfoId":73464,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"itemId":20132,"itemAppearanceModId":0,"transmogItemAppearanceModId":0}},"wrist":{"id":174170,"name":"Dragonbone
        Vambraces","icon":"inv_bracer_plate_nzothraidmythic_d_01","quality":4,"itemLevel":475,"tooltipParams":{"transmogItem":16857,"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":40,"amount":117},{"stat":74,"amount":428},{"stat":36,"amount":71},{"stat":7,"amount":816}],"armor":586,"context":"raid-mythic","bonusLists":[4824,6516,6515,1517,4786],"artifactId":0,"displayInfoId":179641,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"itemId":16857,"itemAppearanceModId":3,"transmogItemAppearanceModId":0}},"hands":{"id":174169,"name":"Gauntlets
        of Foul Inquisition","icon":"inv_glove_plate_nzothraidmythic_d_01","quality":4,"itemLevel":475,"tooltipParams":{"gem0":168639,"transmogItem":77727,"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":32,"amount":105},{"stat":49,"amount":147},{"stat":74,"amount":570},{"stat":7,"amount":1089}],"armor":837,"context":"raid-mythic","bonusLists":[4824,1808,6516,6513,1517,4786],"artifactId":0,"displayInfoId":181146,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"itemId":77727,"itemAppearanceModId":3,"transmogItemAppearanceModId":0}},"waist":{"id":174174,"name":"Belt
        of Muttering Truths","icon":"inv_belt_plate_nzothraidmythic_d_01","quality":4,"itemLevel":475,"tooltipParams":{"tinker":4223,"transmogItem":16858,"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":32,"amount":149},{"stat":49,"amount":103},{"stat":74,"amount":570},{"stat":7,"amount":1089}],"armor":753,"context":"raid-mythic","bonusLists":[4824,6516,6513,1517,4786],"artifactId":0,"displayInfoId":181443,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"itemId":16858,"itemAppearanceModId":3,"transmogItemAppearanceModId":0}},"legs":{"id":158361,"name":"Sharkwater
        Waders","icon":"inv_pant_plate_kultirasdungeon_c_01","quality":4,"itemLevel":475,"tooltipParams":{"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":49,"amount":211},{"stat":74,"amount":760},{"stat":36,"amount":125},{"stat":22,"amount":1},{"stat":62,"amount":144},{"stat":7,"amount":1452}],"armor":1172,"context":"challenge-mode-jackpot","bonusLists":[6536,41,6578,6579,6483,6453,6513,1647,4786],"artifactId":0,"displayInfoId":166394,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"itemAppearanceModId":3}},"feet":{"id":174173,"name":"Boots
        of Hallucinatory Reality","icon":"inv_boot_plate_nzothraidmythic_d_01","quality":4,"itemLevel":475,"tooltipParams":{"transmogItem":77726,"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":49,"amount":96},{"stat":74,"amount":570},{"stat":36,"amount":155},{"stat":7,"amount":1089}],"armor":921,"context":"raid-mythic","bonusLists":[4824,6516,6513,1517,4786],"artifactId":0,"displayInfoId":179640,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"itemId":77726,"itemAppearanceModId":3,"transmogItemAppearanceModId":0}},"finger1":{"id":175008,"name":"Lurking
        Schemer''s Band","icon":"inv_70_raid_ring8d","quality":4,"itemLevel":475,"tooltipParams":{"gem0":168639,"enchant":6108,"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":32,"amount":287},{"stat":36,"amount":303},{"stat":22,"amount":1},{"stat":7,"amount":816}],"armor":0,"context":"raid-mythic","bonusLists":[4824,6578,6579,6546,6513,1517,4786],"artifactId":0,"displayInfoId":0,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"enchantDisplayInfoId":6108}},"finger2":{"id":174530,"name":"Ring
        of Collective Consciousness","icon":"inv_70_raid_ring8d","quality":4,"itemLevel":475,"tooltipParams":{"enchant":6108,"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":32,"amount":338},{"stat":36,"amount":253},{"stat":7,"amount":816}],"armor":0,"context":"raid-mythic","bonusLists":[4824,6516,6515,1517,4786],"artifactId":0,"displayInfoId":0,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"enchantDisplayInfoId":6108}},"trinket1":{"id":174500,"name":"Vita-Charged
        Titanshard","icon":"spell_nature_lightningoverload","quality":4,"itemLevel":475,"tooltipParams":{"set":[174500],"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":36,"amount":240}],"armor":0,"context":"raid-mythic","bonusLists":[4824,6513,1517,4786],"artifactId":0,"displayInfoId":0,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{}},"trinket2":{"id":174044,"name":"Humming
        Black Dragonscale","icon":"inv_misc_scales_stonypale","quality":4,"itemLevel":475,"tooltipParams":{"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":71,"amount":723}],"armor":0,"context":"raid-mythic","bonusLists":[4824,6513,1517,4786],"artifactId":0,"displayInfoId":0,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{}},"mainHand":{"id":172196,"name":"Vorzz
        Yoq''al","icon":"inv_mace_1h_nzothraid_d_02","quality":4,"itemLevel":475,"tooltipParams":{"enchant":5965,"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":40,"amount":103},{"stat":36,"amount":65},{"stat":5,"amount":380},{"stat":22,"amount":3},{"stat":7,"amount":726}],"armor":0,"weaponInfo":{"damage":{"min":491,"max":632,"exactMin":491.0,"exactMax":632.0},"weaponSpeed":2.6,"dps":215.96155},"context":"raid-mythic","bonusLists":[4824,6541,6578,6579,1517,4786,6513],"artifactId":0,"displayInfoId":181340,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"enchantDisplayInfoId":5965,"itemAppearanceModId":3}},"offHand":{"id":158713,"name":"Disc
        of Indomitable Will","icon":"inv_shield_1h_battledungeon_c_02","quality":4,"itemLevel":475,"tooltipParams":{"transmogItem":77596,"timewalkerLevel":120,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":49,"amount":110},{"stat":4,"amount":428},{"stat":36,"amount":78},{"stat":5,"amount":1312},{"stat":22,"amount":2},{"stat":7,"amount":816}],"armor":4021,"context":"challenge-mode-jackpot","bonusLists":[6536,6578,6579,6548,6513,1647,4786],"artifactId":0,"displayInfoId":168230,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{"itemId":77596,"itemAppearanceModId":3,"transmogItemAppearanceModId":0}}},"professions":{"primary":[{"id":171,"name":"Alchemy","icon":"trade_alchemy","rank":175,"max":300,"recipes":[2329,2330,7183,7934,251305,251306,251309,251310,251311,251314,251808,251822,251832,252335,252339,252342,252345,252350,252352,252356,252359,252362,252369,252377,252380,252384,252387,252390,252392,252395,252398,252401,260403,276977,278420,279160,279163,279166,279170,286547,286630,286921,287234,287288,287447,291084,298727,298731,298736,298743,298746,298749,298752,298845,298848,298852,298855,298864,298995,298996,298997,300751,300754,301312,305992,305993,305994,307172]},{"id":2478,"name":"Kul
      [...]
