---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/guild-crest/border/1?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d4-aa9a-e940-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d4-aa9a-eb60-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d4-aa9a-eb30-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/border/1?namespace=static-8.2.5_31884-eu"}},"assets":[{"key":"image","value":"https://eu.battle.net/wow/static/images/guild/tabards/border_01.png"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/guild-crest/border/1?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:26 GMT
recorded_with: VCR 2.9.3
