---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/pet/ability/640
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b5-60d0-b320-f58a-fa164c1165d9
      x-trace-spanid:
      - 15b200b5-60d0-b520-f58a-fa164c1165d9
      x-trace-parentspanid:
      - 15b200b5-60d0-b4f0-f58a-fa164c1165d9
    body:
      encoding: UTF-8
      string: '{"id":640,"name":"Toxic Smoke","icon":"spell_shadow_plaguecloud","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false}'
      effective_url: https://us.api.blizzard.com/wow/pet/ability/640
  recorded_at: Thu, 08 Aug 2019 06:11:21 GMT
recorded_with: VCR 2.9.3
