---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/achievement-category/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - achievement-category
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-b37b-0530-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-b37b-07f0-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-b37b-07c0-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/achievement-category/?namespace=static-8.2.5_31884-eu"}},"categories":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement-category/81?namespace=static-8.2.5_31884-eu"},"name":"Feats
        of Strength","id":81},{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement-category/92?namespace=static-8.2.5_31884-eu"},"name":"Character","id":92},{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement-category/95?namespace=static-8.2.5_31884-eu"},"name":"Player
        vs. Player","id":95},{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement-category/96?namespace=static-8.2.5_31884-eu"},"name":"Quests","id":96},{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement-c[...]
