---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/pet/39?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:36 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - pet
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-b383-8300-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-b383-8580-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-b383-8550-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/pet/39?namespace=static-8.2.5_31884-eu"}},"id":39,"name":"Mechanical
        Squirrel","battle_pet_type":{"type":"MECHANICAL","name":"Mechanical"},"description":"A
        mechanical squirrel''s logic center tells it to collect and store both nuts
        and bolts for the winter.","is_capturable":false,"is_tradable":true,"is_battlepet":true,"is_alliance_only":false,"is_horde_only":false,"abilities":[{"ability":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet-ability/384?namespace=static-8.2.5_31884-eu"},"name":"Metal
        Fist","id":384},"slot":0,"required_level":1},{"ability":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet-ability/389?namespace=static-8.2.5_31884-eu"},"name":"Overtune","id":389},"slot":1,"required_level":2},{"ability":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet-ability/459?namespace=static-8.2.5_31884-eu"},"name":"Wind-Up","id":459},"slot":2,"required_level":4},{"ability":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet-ability/202?namespace=static-8.2.5_31884-eu"},"name":"Thrash","id":202},"slot":0,"required_level":10},{"ability":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet-ability/392?namespace=static-8.2.5_31884-eu"},"name":"Extra
        Plating","id":392},"slot":1,"required_level":15},{"ability":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet-ability/278?namespace=static-8.2.5_31884-eu"},"name":"Repair","id":278},"slot":2,"required_level":20}],"source":{"type":"PROFESSION","name":"Profession"},"icon":"https://render-eu.worldofwarcraft.com/icons/56/inv_pet_mechanicalsquirrel.jpg","creature":{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature/2671?namespace=static-8.2.5_31884-eu"},"name":"Mechanical
        Squirrel","id":2671},"is_random_creature_display":false}'
      effective_url: https://eu.api.blizzard.com/data/wow/pet/39?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:41 GMT
recorded_with: VCR 2.9.3
