---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/item/set/1060
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b6-7a42-6540-91ec-fa164dd23032
      x-trace-spanid:
      - 15b200b6-7a42-6680-91ec-fa164dd23032
      x-trace-parentspanid:
      - 15b200b6-7a42-6650-91ec-fa164dd23032
    body:
      encoding: UTF-8
      string: '{"id":1060,"name":"Deep Earth Vestments","setBonuses":[{"description":"Reduces
        the mana cost of Healing Touch and Rejuvenation by 5%.","threshold":2},{"description":"Your
        Rejuvenation and Regrowth spells have a 10% chance to Timeslip and have double
        the normal duration.","threshold":4}],"items":[76749,76750,76751,76752,76753]}'
      effective_url: https://us.api.blizzard.com/wow/item/set/1060
  recorded_at: Thu, 08 Aug 2019 06:11:52 GMT
recorded_with: VCR 2.9.3
