---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/playable-class/1?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:02 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-76d8-7100-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-76d8-7300-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-76d8-72d0-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/playable-class/1?namespace=static-8.2.5_31884-eu"}},"assets":[{"key":"icon","value":"https://render-eu.worldofwarcraft.com/icons/56/classicon_warrior.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/playable-class/1?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:29 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/playable-class/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:02 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86552-f58b-08c0-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86552-f58b-0bb0-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86552-f58b-0b80-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/playable-class/2?namespace=static-8.2.5_31884-eu"}},"assets":[{"key":"icon","value":"https://render-eu.worldofwarcraft.com/icons/56/classicon_paladin.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/playable-class/2?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:29 GMT
recorded_with: VCR 2.9.3
