---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/data/character/achievements
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b3-73ef-55d0-0be5-fa164df98e5c
      x-trace-spanid:
      - 15b200b3-73ef-5700-0be5-fa164df98e5c
      x-trace-parentspanid:
      - 15b200b3-73ef-56d0-0be5-fa164df98e5c
    body:
      encoding: UTF-8
      string: '{"achievements":[{"id":92,"achievements":[{"id":6,"title":"Level 10","points":10,"description":"Reach
        level 10.","rewardItems":[],"icon":"achievement_level_10","criteria":[{"id":5212,"description":"Reach
        level 10","orderIndex":1,"max":10}],"accountWide":false,"factionId":2},{"id":7,"title":"Level
        20","points":10,"description":"Reach level 20.","rewardItems":[],"icon":"achievement_level_20","criteria":[{"id":5212,"description":"Reach
        level 20","orderIndex":1,"max":20}],"accountWide":false,"factionId":2},{"id":8,"title":"Level
        30","points":10,"description":"Reach level 30.","rewardItems":[],"icon":"achievement_level_30","criteria":[{"id":5212,"description":"Reach
        level 30","orderIndex":1,"max":30}],"accountWide":false,"factionId":2}[...]
