---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/reputation-tiers/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - reputation-tiers
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-c403-8270-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-c403-8500-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-c403-84d0-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/reputation-tiers/?namespace=static-8.2.5_31884-eu"}},"reputation_tiers":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-tiers/0?namespace=static-8.2.5_31884-eu"},"id":0},{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-tiers/2?namespace=static-8.2.5_31884-eu"},"name":"Farmer
        Fung","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-tiers/16?namespace=static-8.2.5_31884-eu"},"name":"Chee
        Chee","id":16},{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-tiers/17?namespace=static-8.2.5_31884-eu"},"name":"Ella","id":17},{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-tiers/18?namespace=static-8.2.5_31884-eu"},"name":"Fish
        Fellreed","id":18},{"key":{"href":"https://eu.api.blizzard.com/data/w[...]
