---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/token/index?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Sun, 22 Dec 2019 15:35:31 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - token
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86553-2470-f8b0-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86553-2470-fa40-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86553-2470-fa10-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/token/?namespace=dynamic-eu"}},"last_updated_timestamp":1577028931000,"price":2352340000}'
      effective_url: https://eu.api.blizzard.com/data/wow/token/index?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:51 GMT
recorded_with: VCR 2.9.3
