---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/token/index?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUVm8EwO3fHFv4QPKEr83N7cRXGFSeFbk1
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Sat, 3 Oct 2020 21:08:05 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - token
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - df31ee86-d268-3e82-8768-2ae367626e48
      x-trace-spanid:
      - 16371d6a-b498-3780-13e9-fa165a9d7aff
      x-trace-parentspanid:
      - 16371d6a-b498-3750-13e9-fa165a9d7aff
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/token/?namespace=dynamic-eu"}},"last_updated_timestamp":1601759284000,"price":1894280000}'
      effective_url: https://eu.api.blizzard.com/data/wow/token/index?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sat, 03 Oct 2020 21:10:34 GMT
recorded_with: VCR 2.9.3
