---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/achievement/6?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:21:01 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638b-2c9a-1e90-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638b-2c9a-2330-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638b-2c9a-2300-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/achievement/6?namespace=static-8.2.5_31884-eu"}},"assets":[{"key":"icon","value":"https://render-eu.worldofwarcraft.com/icons/56/achievement_level_10.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/achievement/6?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:30 GMT
recorded_with: VCR 2.9.3
