---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/spell/186886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b8-27db-4e00-9c49-fa164c2234c3
      x-trace-spanid:
      - 15b200b8-27db-4f50-9c49-fa164c2234c3
      x-trace-parentspanid:
      - 15b200b8-27db-4f20-9c49-fa164c2234c3
    body:
      encoding: UTF-8
      string: '{"id":186886,"name":"Summon Frostmourne Bunny","icon":"trade_engineering","description":"","range":"40
        yd range","castTime":"Instant"}'
      effective_url: https://us.api.blizzard.com/wow/spell/186886
  recorded_at: Thu, 08 Aug 2019 06:12:02 GMT
recorded_with: VCR 2.9.3
