---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/keystone-affix/6?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:01 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - keystone-affix
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-b380-76e0-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-b380-78b0-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-b380-7880-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/keystone-affix/6?namespace=static-8.2.5_31884-eu"}},"id":6,"name":"Raging","description":"Non-boss
        enemies enrage at 30% health remaining, dealing 100% increased damage until
        defeated.","media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/keystone-affix/6?namespace=static-8.2.5_31884-eu"},"id":6}}'
      effective_url: https://eu.api.blizzard.com/data/wow/keystone-affix/6?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:37 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/keystone-affix/7?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:01 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - keystone-affix
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638b-2ca0-0b00-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638b-2ca0-0e40-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638b-2ca0-0e10-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/keystone-affix/7?namespace=static-8.2.5_31884-eu"}},"id":7,"name":"Bolstering","description":"When
        any non-boss enemy dies, its death cry empowers nearby allies, increasing
        their maximum health and damage by 20%.","media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/keystone-affix/7?namespace=static-8.2.5_31884-eu"},"id":7}}'
      effective_url: https://eu.api.blizzard.com/data/wow/keystone-affix/7?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:37 GMT
recorded_with: VCR 2.9.3
