---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/covenant/conduit/40?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EU9UTgGxUGGNV2468OnmLjJiKYHlMFGSGw
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 25 Nov 2020 02:09:28 GMT
      Battlenet-Namespace:
      - static-9.0.2_36532-eu
      Battlenet-Schema:
      - covenant-conduit
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - bae07e03-1629-3065-a1da-81c738be8c3d
      x-trace-spanid:
      - 16480bf3-daa1-fe00-3aa9-fa165ba2e3cd
      x-trace-parentspanid:
      - 16480bf3-daa1-fdd0-3aa9-fa165ba2e3cd
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/covenant/conduit/40?namespace=static-9.0.2_36532-eu"}},"id":40,"name":"Ire
        of the Ascended","item":{"key":{"href":"https://eu.api.blizzard.com/data/wow/item/181600?namespace=static-9.0.2_36532-eu"},"name":"Ire
        of the Ascended","id":181600},"socket_type":{"type":"POTENCY","name":"Potency
        Conduit Slot"},"ranks":[{"id":535,"tier":0,"spell_tooltip":{"spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/337058?namespace=static-9.0.2_36532-eu"},"name":"Ire
        of the Ascended","id":337058},"description":"Radiant Spark increases the damage
        your spells deal to the target by an additional 5.0%.","cast_time":"Passive"}},{"id":536,"tier":1,"spell_tooltip":{"spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/337058?namespace=static-9.0.2_36532-eu"},"name":"Ire
        of the Ascended","id":337058},"description":"Radiant Spark increases the damage
        your spells deal to the target by an additional 5.5%.","cast_time":"Passive"}},{"id":537,"tier":2,"spell_tooltip":{"spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/337058?namespace=static-9.0.2_36532-eu"},"name":"Ire
 [...]
[...]
