---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUVm8EwO3fHFv4QPKEr83N7cRXGFSeFbk1
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 30 Sep 2020 01:07:25 GMT
      Battlenet-Namespace:
      - static-8.3.7_35114-eu
      Battlenet-Schema:
      - playable-race
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 5387cae9-a8fc-33f8-a2b7-6aea3cfaff67
      x-trace-spanid:
      - 16371d68-59e2-1f30-d3df-fa165bd81d81
      x-trace-parentspanid:
      - 16371d68-59e2-1f00-d3df-fa165bd81d81
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-8.3.7_35114-eu"}},"id":2,"name":"Orc","gender_name":{"male":"Orc","female":"Orc"},"faction":{"type":"HORDE","name":"Horde"},"is_selectable":true,"is_allied_race":false}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-eu&locale=en_gb
  recorded_at: Sat, 03 Oct 2020 19:37:05 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-race/3?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUVm8EwO3fHFv4QPKEr83N7cRXGFSeFbk1
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 30 Sep 2020 01:07:25 GMT
      Battlenet-Namespace:
      - static-8.3.7_35114-eu
      Battlenet-Schema:
      - playable-race
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 02f1b7fc-2b06-3d6e-bf55-a144da3bfb5c
      x-trace-spanid:
      - 16371d69-24b7-27d0-f532-fa165bbae7a7
      x-trace-parentspanid:
      - 16371d69-24b7-27a0-f532-fa165bbae7a7
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/3?namespace=static-8.3.7_35114-eu"}},"id":3,"name":"Dwarf","gender_name":{"male":"Dwarf","female":"Dwarf"},"faction":{"type":"ALLIANCE","name":"Alliance"},"is_selectable":true,"is_allied_race":false}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-race/3?namespace=static-eu&locale=en_gb
  recorded_at: Sat, 03 Oct 2020 19:37:05 GMT
recorded_with: VCR 2.9.3
