---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:02 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - playable-race
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864e8-fa23-ac90-c980-fa165ba0f208
      x-trace-spanid:
      - 15c864e8-fa23-af70-c980-fa165ba0f208
      x-trace-parentspanid:
      - 15c864e8-fa23-af40-c980-fa165ba0f208
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-8.2.5_31884-eu"}},"id":1,"name":"Human","gender_name":{"male":"Human","female":"Human"},"faction":{"type":"ALLIANCE","name":"Alliance"},"is_selectable":true,"is_allied_race":false}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:30 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:02 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - playable-race
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638a-f01c-2c90-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638a-f01c-2fe0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638a-f01c-2fb0-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-8.2.5_31884-eu"}},"id":2,"name":"Orc","gender_name":{"male":"Orc","female":"Orc"},"faction":{"type":"HORDE","name":"Horde"},"is_selectable":true,"is_allied_race":false}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:30 GMT
recorded_with: VCR 2.9.3
