---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/item/19019?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:13:49 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d2-f2ed-3bc0-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d2-f2ed-3eb0-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d2-f2ed-3e80-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/item/19019?namespace=static-1.13.2_31446-classic-eu"}},"assets":[{"key":"icon","value":"https://render-classic-eu.worldofwarcraft.com/icons/56/inv_sword_39.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/item/19019?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:09:27 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/item/19020?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:13:49 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864e7-af2e-e0a0-c980-fa165ba0f208
      x-trace-spanid:
      - 15c864e7-af2e-e520-c980-fa165ba0f208
      x-trace-parentspanid:
      - 15c864e7-af2e-e4f0-c980-fa165ba0f208
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/item/19020?namespace=static-1.13.2_31446-classic-eu"}},"assets":[{"key":"icon","value":"https://render-classic-eu.worldofwarcraft.com/icons/56/inv_scroll_03.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/item/19020?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:09:27 GMT
recorded_with: VCR 2.9.3
