---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/specializations?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '6'
      Last-Modified:
      - Sun, 22 Dec 2019 09:05:20 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-specializations
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86553-5f44-be40-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86553-5f44-c370-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86553-5f44-c300-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/specializations?namespace=profile-eu"}},"specializations":[{"specialization":{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/70?namespace=static-8.2.5_31884-eu"},"name":"Retribution","id":70},"talents":[{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/22175?namespace=static-8.2.5_31884-eu"},"name":"Execution
        Sentence","id":22175},"spell_tooltip":{"spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/267798?namespace=static-8.2.5_31884-eu"},"name":"Execution
        Sentence","id":267798},"description":"Calls down the Light''s punishment upon
        an enemy target, dealing 25,253 Holy damage and increasing the target''s Holy
        damage taken from your attacks by 20% for 12 sec.","cast_time":"Instant","power_cost":"3
        Holy Power","range":"20 yd range","cooldown":"30 sec cooldown"},"tier_index":0,"column_index":2},{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/22593?namespace=static-8.2.5_31884-eu"},"name":"Hammer
        of Wrath","id":22593},"spell_tooltip":{"spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/24275?namespace=static-8.2.5_31884-eu"},"name":"Hammer
        of Wrath","id":24275},"description":"Hurls a divine hammer that strikes an
        enemy for 11,617 Holy damage. Only usable on enemies that have less than 20%
        health, or while you are em[...]
