---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-family/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - creature-family
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d2-d43b-c5a0-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d2-d43b-c7f0-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d2-d43b-c7c0-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/1?namespace=static-1.13.2_31446-classic-eu"}},"id":1,"name":"Wolf","media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-family/1?namespace=static-1.13.2_31446-classic-eu"},"id":1}}'
      effective_url: https://eu.api.blizzard.com/data/wow/creature-family/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 17:46:41 GMT
recorded_with: VCR 2.9.3
