---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/connected-realm/index?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '5'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - connected-realm
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86553-2465-3d40-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86553-2465-3f60-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86553-2465-3f30-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/?namespace=dynamic-eu"}},"connected_realms":[{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/509?namespace=dynamic-eu"},{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/510?namespace=dynamic-eu"},{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/512?namespace=dynamic-eu"},{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/516?namespace=dynamic-eu"},{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/531?namespace=dynamic-eu"},{"href":"https://eu.api.blizzard.com/data/wow/connecte[...]
