---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/encounters/raids?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Sat, 7 Mar 2020 09:41:14 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-raid-progression-raids
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15f9e46f-6eed-3d90-6123-fa165af2aab5
      x-trace-spanid:
      - 15f9e46f-6eed-6400-6123-fa165af2aab5
      x-trace-parentspanid:
      - 15f9e46f-6eed-63d0-6123-fa165af2aab5
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/encounters/raids?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"},"name":"Sheday","id":142650023,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"expansions":[{"expansion":{"key":{"href":"https://eu.api.blizzard.com/data/wow/journal-expansion/68?namespace=static-8.3.0_32861-eu"},"name":"Classic","id":68},"instances":[{"instance":{"key":{"href":"https://eu.api.blizzard.com/data/wow/journal-instance/741?namespace=static-8.3.0_32861-eu"},"name":"Molten
        Core","id":741},"modes":[{"difficulty":{"type":"NORMAL","name":"Normal"},"status":{"type":"COMPLETE","name":"Complete"},"progress":{"completed_count":1,"total_count":1,"encounters":[{"encounter":{"key":{"href":"https://eu.api.blizzard.com/data/wow/journal-encounter/1528?namespace=static-8.3.0_32861-eu"},"name":"Ragnaros","id":1528},"completed_count":38,"last_kill_timestamp":1500846677000}]}}]},{"instance":{"key":{"href":"https://eu.api.blizzard.com/data/wow/journal-instance/742?namespace=static-8.3.0_32861-eu"},"name":"Blackwing
        Lair","id":742},"modes":[{"difficulty":{"type":"NORMAL","name":"Normal"},"status":{"type":"COMPLETE","name":"Complete"},"progress":{"completed_count":2,"total_count":2,"encounters":[{"encounter":{"key":{"href":"https://eu.api.blizzard.com/data/wow/journal-encounter/1529?namespace=static-8.3.0_32861-eu"},"name":"Razorgore
        the[...]
