---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - playable-race
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c0-948e-65c0-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c0-948e-67c0-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c0-948e-6790-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-1.13.2_31446-classic-eu"}},"id":2,"name":"Orc","gender_name":{"male":"Orc","female":"Orc"},"faction":{"type":"HORDE","name":"Horde"},"is_selectable":true,"is_allied_race":false}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:26:37 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - playable-race
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d2-f63a-7d20-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d2-f63a-8160-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d2-f63a-8130-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-1.13.2_31446-classic-eu"}},"id":1,"name":"Human","gender_name":{"male":"Human","female":"Human"},"faction":{"type":"ALLIANCE","name":"Alliance"},"is_selectable":true,"is_allied_race":false}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:26:37 GMT
recorded_with: VCR 2.9.3
