---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/collections/pets?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '5'
      Last-Modified:
      - Sun, 22 Dec 2019 09:05:19 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - collection-pets
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d5-3999-60b0-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d5-3999-84f0-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d5-3999-84c0-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/collections/pets?namespace=profile-eu"}},"pets":[{"species":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet/175?namespace=static-8.2.5_31884-eu"},"name":"Phoenix
        Hatchling","id":175},"level":1,"quality":{"type":"RARE","name":"Rare"},"stats":{"breed_id":5,"health":149,"power":11,"speed":13},"creature_display":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-display/23574?namespace=static-8.2.5_31884-eu"}},"id":60495465},{"species":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet/202?namespace=static-8.2.5_31884-eu"},"name":"Baby
        Blizzard Bear","id":202},"level":25,"quality":{"type":"RARE","name":"Rare"},"stats":{"breed_id":7,"health":1546,"power":289,"speed":260},"is_favorite":true,"name":"Jacques","creature_display":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-display/16189?namespace=static-8.2.5_31884-eu"}},"id":60495466},{"species":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet/179?namespace=static-8.2.5_31884-eu"},"name":"Spirit
        of Competition","id":179},"level":25,"quality":{"type":"RARE","name":"Rare"},"stats":{"breed_id":7,"health":1627,"power":289,"speed":244},"is_favorite":true,"name":"Spiritus","creature_display":{"ke[...]
