---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/guild-crest/index?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:31 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - guild-crest-component
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864e7-ac76-cce0-c980-fa165ba0f208
      x-trace-spanid:
      - 15c864e7-ac76-d1e0-c980-fa165ba0f208
      x-trace-parentspanid:
      - 15c864e7-ac76-d1b0-c980-fa165ba0f208
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/guild-crest/?namespace=static-1.13.2_31446-classic-eu"}},"emblems":[{"id":0,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/0?namespace=static-1.13.2_31446-classic-eu"}}},{"id":1,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/1?namespace=static-1.13.2_31446-classic-eu"}}},{"id":2,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/2?namespace=static-1.13.2_31446-classic-eu"}}},{"id":3,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/3?name[...]
