---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/mount/7?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:22 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - mount
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-b380-1010-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-b380-11a0-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-b380-1170-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/mount/7?namespace=static-8.2.5_31884-eu"}},"id":7,"name":"Gray
        Wolf","creature_displays":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-display/2320?namespace=static-8.2.5_31884-eu"}}],"description":"This
        breed of wolf prefers hunting in the fog, relying on its smoky hide to camouflage
        it from unsuspecting prey.","source":{"type":"VENDOR","name":"Vendor"},"should_exclude_if_uncollected":true}'
      effective_url: https://eu.api.blizzard.com/data/wow/mount/7?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:36 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/mount/6?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:22 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - mount
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-b380-11e0-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-b380-13f0-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-b380-13c0-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/mount/6?namespace=static-8.2.5_31884-eu"}},"id":6,"name":"Brown
        Horse","creature_displays":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-display/2404?namespace=static-8.2.5_31884-eu"}}],"description":"A
        favorite among Stormwind''s guards thanks to its patience and stamina.","source":{"type":"VENDOR","name":"Vendor"},"faction":{"type":"ALLIANCE","name":"Alliance"}}'
      effective_url: https://eu.api.blizzard.com/data/wow/mount/6?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:36 GMT
recorded_with: VCR 2.9.3
