---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/mythic-keystone/season/2?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Wed, 18 Dec 2019 07:00:05 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - mythic-keystone-season
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86553-2469-65d0-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86553-2469-69a0-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86553-2469-6970-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/season/2?namespace=dynamic-eu"}},"id":2,"start_timestamp":1548226800000,"end_timestamp":1562742000000,"periods":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/682?namespace=dynamic-eu"},"id":682},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/683?namespace=dynamic-eu"},"id":683},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/684?namespace=dynamic-eu"},"id":684},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/685?namespace=dynamic-eu"},"id":685},{"key":{"href":"https://eu.api.blizzard.com/data/wow/my[...]
