---
http_interactions:
- request:
    method: get
    uri: https://us.api.battle.net/wow/item/set/1060?apikey=uc5zg6857kv8mfcvnvhxyhxqm6ug8wyx&locale=en_us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-81.mashery.com
      X-Plan-Qps-Allotted:
      - '100'
      X-Plan-Qps-Current:
      - '1'
      X-Plan-Quota-Allotted:
      - '36000'
      X-Plan-Quota-Current:
      - '30'
      X-Plan-Quota-Reset:
      - Sunday, September 27, 2015 3:00:00 PM GMT
    body:
      encoding: UTF-8
      string: '{"id":1060,"name":"Deep Earth Vestments","setBonuses":[{"description":"Reduces
        the mana cost of Healing Touch and Rejuvenation by 5%.","threshold":2},{"description":"Your
        Rejuvenation and Regrowth spells have a 10% chance to Timeslip and have double
        the normal duration.","threshold":4}],"items":[76749,76750,76751,76752,76753]}'
  recorded_at: Sun, 27 Sep 2015 14:32:35 GMT
recorded_with: VCR 2.9.3
