---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/item/18803
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b3-73f0-cef0-0be5-fa164df98e5c
      x-trace-spanid:
      - 15b200b3-73f0-d020-0be5-fa164df98e5c
      x-trace-parentspanid:
      - 15b200b3-73f0-cff0-0be5-fa164df98e5c
    body:
      encoding: UTF-8
      string: '{"id":18803,"disenchantingSkillRank":0,"description":"Property of Finkle
        Einhorn, Grandmaster Adventurer","name":"Finkle''s Lava Dredger","icon":"inv_gizmo_02","stackable":1,"itemBind":1,"bonusStats":[{"stat":40,"amount":13},{"stat":5,"amount":68},{"stat":7,"amount":23}],"itemSpells":[],"buyPrice":579383,"itemClass":2,"itemSubClass":5,"containerSlots":0,"weaponInfo":{"damage":{"min":18,"max":23,"exactMin":18.0,"exactMax":23.0},"weaponSpeed":3.6,"dps":5.6944447},"inventoryType":17,"equippable":true,"itemLevel":58,"maxCount":0,"maxDurability":120,"minFactionId":0,"minReputation":0,"quality":4,"sellPrice":115876,"requiredSkill":0,"requiredLevel":60,"requiredSkillRank":0,"itemSource":{"sourceId":179703,"sourceType":"GAME_OBJECT_DROP"},"baseArmor":0,"hasSockets":false,"isAuctionable":false,"armor":0,"displayInfoId":31265,"nameDescription":"","nameDescriptionColor":"000000","upgradable":true,"heroicTooltip":false,"context":"","bonusLists":[],"availableContexts":[""],"bonusSummary":{"defaultBonusLists":[],"chanceBonusLists":[],"bonusChances":[]},"artifactId":0}'
      effective_url: https://us.api.blizzard.com/wow/item/18803
  recorded_at: Thu, 08 Aug 2019 06:11:52 GMT
recorded_with: VCR 2.9.3
