---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/guild-crest/border/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:31 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86601-c5e8-f660-8521-fa165a196292
      x-trace-spanid:
      - 15c86601-c5e8-f9c0-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86601-c5e8-f970-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/border/1?namespace=static-1.13.2_31446-classic-eu"}},"assets":[{"key":"image","value":"https://render-classic-eu.worldofwarcraft.com/guild/tabards/border_01.png"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/guild-crest/border/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 19:51:38 GMT
recorded_with: VCR 2.9.3
