---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/item/19019?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:13:49 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - item
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86389-4289-c670-6753-fa165ab86060
      x-trace-spanid:
      - 15c86389-4289-cb20-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c86389-4289-caf0-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/item/19019?namespace=static-1.13.2_31446-classic-eu"}},"id":19019,"name":"Thunderfury,
        Blessed Blade of the Windseeker","quality":{"type":"LEGENDARY","name":"Legendary"},"level":80,"required_level":60,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/item/19019?namespace=static-1.13.2_31446-classic-eu"},"id":19019},"item_class":{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/2?namespace=static-1.13.2_31446-classic-eu"},"name":"Weapon","id":2},"item_subclass":{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/2/item-subclass/7?namespace=static-1.13.2_31446-classic-eu"},"name":"Sword","id":7},"inventory_type":{"type":"WEAPON","name":"One-Hand"},"purchase_price":1276777,"sell_price":255355,"max_count":1,"is_equippable":true,"is_stackable":false}'
      effective_url: https://eu.api.blizzard.com/data/wow/item/19019?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:05:34 GMT
[...]
