---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-race/index?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:31 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - playable-race
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86389-46b6-aa10-6753-fa165ab86060
      x-trace-spanid:
      - 15c86389-46b6-af20-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c86389-46b6-aef0-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/?namespace=static-1.13.2_31446-classic-eu"}},"races":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-1.13.2_31446-classic-eu"},"name":"Human","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-1.13.2_31446-classic-eu"},"name":"Orc","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/3?namespace=static-1.13.2_31446-classic-eu"},"name":"Dwarf","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/4?namespace=static-1.13.2_31446-classic-eu"},"name":"Night
        Elf","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/5?namespace=static-1.13.2_31446-classic-eu"},"name":"Undead","id":5},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/6?namespace=static-1.13.2_31446-classic-eu"},"name":"Tauren","id":6},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/7?namespace=static-1.13.2_31446-classic-eu"},"name":"Gnome","id":7},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/8?namespace=static-1.13.2_31446-classic-eu"},"name":"Troll","id":8}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-race/index?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:26:37 GMT
recorded_with: VCR 2.9.3
