---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/quests?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Sat, 7 Mar 2020 09:41:13 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-quests
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15f9e473-28ce-8590-18bd-fa165b2fd169
      x-trace-spanid:
      - 15f9e473-28ce-8c70-18bd-fa165b2fd169
      x-trace-parentspanid:
      - 15f9e473-28ce-8c40-18bd-fa165b2fd169
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/quests?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"},"name":"Sheday","id":142650023,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"in_progress":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/quest/54978?namespace=static-8.3.0_32861-eu"},"name":"Against
        Overwhelming Odds","id":54978},{"key":{"href":"https://eu.api.blizzard.com/data/wow/quest/58373?namespace=static-8.3.0_32861-eu"},"name":"Ny''alotha:
        MOTHER''s Guidance","id":58373},{"key":{"href":"https://eu.api.blizzard.com/data/wow/quest/58374?namespace=static-8.3.0_32861-eu"},"name":"Ny''alotha:
        MOTHER''s Guidance","id":58374},{"key":{"href":"https://eu.api.blizzard.com/data/wow/quest/58455?namespace=static-8.3.0_32861-eu"},"name":"Shadowy
        Showdown","id":58455},{"key":{"href":"https://eu.api.blizzard.com/data/wow/quest/58825?namespace=static-8.3.0_32861-eu"},"name":"Super
        Jelly","id":58825}],"completed":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/quests/completed?namespace=profile-eu"}}'
      effective_url: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/quests?namespace=profile-eu&locale=en_gb
  recorded_at: Sun, 08 Mar 2020 12:28:47 GMT
recorded_with: VCR 2.9.3
