---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-class/1?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:02 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - playable-class
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d4-aa9e-0ba0-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d4-aa9e-0cc0-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d4-aa9e-0c90-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/1?namespace=static-8.2.5_31884-eu"}},"id":1,"name":"Warrior","gender_name":{"male":"Warrior","female":"Warrior"},"power_type":{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-8.2.5_31884-eu"},"name":"Rage","id":1},"specializations":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/71?namespace=static-8.2.5_31884-eu"},"name":"Arms","id":71},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/72?namespace=static-8.2.5_31884-eu"},"name":"Fury","id":72},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/73?namespace=static-8.2.5_31884-eu"},"name":"Protection","id":73}],"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/playable-class/1?namespace=static-8.2.5_31884-eu"},"id":1},"pvp_talent_slots":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/1/pvp-talent-slots?namespace=static-8.2.5_31884-eu"}}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-class/1?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:30 GMT
recorded_with: VCR 2.9.3
