---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/reputations?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '3'
      Last-Modified:
      - Sun, 22 Dec 2019 09:05:19 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-reputations
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86553-5f44-54c0-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86553-5f44-67b0-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86553-5f44-6770-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/reputations?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"},"name":"Sheday","id":142650023,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"reputations":[{"faction":{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-faction/21?namespace=static-8.2.5_31884-eu"},"name":"Booty
        Bay","id":21},"standing":{"raw":42000,"value":0,"max":0,"tier":7,"name":"Exalted"}},{"faction":{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-faction/47?namespace=static-8.2.5_31884-eu"},"name":"Ironforge","id":47},"standing":{"raw":42000,"value":0,"max":0,"tier":7,"name":"Exalted"}},{"faction":{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-faction/54?namespace=static-8.2.5_31884-eu"},"name":"Gnomeregan","id":54},"standing":{"raw":42000,"value":0,"max":0,"tier":7,"name":"Exalted"}},{"faction":{"key":{"href":"https://eu.api.[...]
