---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/mythic-keystone/period/index?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 07:00:05 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - mythic-keystone-period
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d4-e902-4c60-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d4-e902-4d80-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d4-e902-4d50-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/?namespace=dynamic-eu"}},"periods":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/641?namespace=dynamic-eu"},"id":641},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/642?namespace=dynamic-eu"},"id":642},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/643?namespace=dynamic-eu"},"id":643},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/644?namespace=dynamic-eu"},"id":644},{"key":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/645?namespace=dynamic-eu"},"id":645},{"key":{"href":"https://eu.api.blizzard.com[...]
