---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/power-type/index?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:31 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - power-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86601-cc5e-7070-8521-fa165a196292
      x-trace-spanid:
      - 15c86601-cc5e-75f0-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86601-cc5e-75c0-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/power-type/?namespace=static-1.13.2_31446-classic-eu"}},"power_types":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/0?namespace=static-1.13.2_31446-classic-eu"},"name":"Mana","id":0},{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-1.13.2_31446-classic-eu"},"name":"Rage","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/2?namespace=static-1.13.2_31446-classic-eu"},"name":"Focus","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/3?namespace=static-1.13.2_31446-classic-eu"},"name":"Energy","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/14?namespace=static-1.13.2_31446-classic-eu"},"name":"Combo
        Points","id":14},{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/4?namespace=static-1.13.2_31446-classic-eu"},"name":"Happiness","id":4}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/power-type/index?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:26:37 GMT
recorded_with: VCR 2.9.3
