---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/data/guild/perks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b6-062c-2600-b567-fa164c660728
      x-trace-spanid:
      - 15b200b6-062c-2a50-b567-fa164c660728
      x-trace-parentspanid:
      - 15b200b6-062c-2a20-b567-fa164c660728
    body:
      encoding: UTF-8
      string: '{"perks":[{"guildLevel":1,"spell":{"id":78633,"name":"Mount Up","subtext":"Guild
        Perk","icon":"achievement_guildperk_mountup","description":"Increases speed
        while mounted by 10%.  Not active in Battlegrounds or Arenas.","castTime":"Passive"}},{"guildLevel":1,"spell":{"id":83944,"name":"Hasty
        Hearth","subtext":"Guild Perk","icon":"achievement_guildperk_hastyhearth","description":"Reduces
        the cooldown on your Hearthstone by 15 minutes.","castTime":"Passive"}},{"guildLevel":1,"spell":{"id":83951,"name":"Guild
        Mail","subtext":"Guild Perk","icon":"achievement_guildperk_gmail","description":"In-game
        mail sent between guild members now arrives instantly.","castTime":"Passive"}},{"guildLevel":1,"spell":{"id":83950,"name":"The
        Quick and the Dead","subtext":"Guild Perk","icon":"achievement_guildperk_quickanddead","description":"Increases
        health gained when resurrected by 50% and increases movement speed while dead
        by 10%.  Does not function in combat or while in a Battleground or Arena.","castTime":"Passive"}},{"guildLevel":1,"spell":{"id":83958,"name":"Mobile
        Banking","subtext":"Guild Perk","icon":"achievement_guildperk_mobilebanking","description":"Summons
        a Guild Chest that allows access to your guild bank for 5 min.  Only guild
        members with guild reputation of friendly and above are allowed to use a Guild
        Chest.","castTime":"3 sec cast","cooldown":"60 min cooldown"}}]}'
      effective_url: https://us.api.blizzard.com/wow/data/guild/perks
  recorded_at: Thu, 08 Aug 2019 06:11:43 GMT
recorded_with: VCR 2.9.3
