---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/creature-display/382?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86551-ab44-05c0-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86551-ab44-0f90-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86551-ab44-0f60-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-display/382?namespace=static-1.13.2_31446-classic-eu"}},"assets":[{"key":"portrait","value":"https://render-classic-eu.worldofwarcraft.com/npcs/portrait/creature-display-382.jpg"},{"key":"rotate","value":"https://render-classic-eu.worldofwarcraft.com/npcs/rotate/creature-display-382.jpg"},{"key":"zoom","value":"https://render-classic-eu.worldofwarcraft.com/npcs/zoom/creature-display-382.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/creature-display/382?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 19:41:40 GMT
recorded_with: VCR 2.9.3
