---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/creature-family/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c0-8e45-2670-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c0-8e45-2c40-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c0-8e45-2c10-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-family/1?namespace=static-1.13.2_31446-classic-eu"}},"assets":[{"key":"icon","value":"https://render-classic-eu.worldofwarcraft.com/icons/56/ability_hunter_pet_wolf.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/creature-family/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 19:42:30 GMT
recorded_with: VCR 2.9.3
