---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-race/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUVm8EwO3fHFv4QPKEr83N7cRXGFSeFbk1
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 30 Sep 2020 01:07:24 GMT
      Battlenet-Namespace:
      - static-8.3.7_35114-eu
      Battlenet-Schema:
      - playable-race
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 803ad19a-3155-3e0e-8624-c0f7372482af
      x-trace-spanid:
      - 16371d6b-feb2-8a00-a77e-fa165a4c8dba
      x-trace-parentspanid:
      - 16371d6b-feb2-89d0-a77e-fa165a4c8dba
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/?namespace=static-8.3.7_35114-eu"}},"races":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-8.3.7_35114-eu"},"name":"Human","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-8.3.7_35114-eu"},"name":"Orc","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/3?namespace=static-8.3.7_35114-eu"},"name":"Dwarf","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/4?namespace=static-8.3.7_35114-eu"},"name":"Night
        Elf","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/5?namespace=static-8.3.7_35114-eu"},"name"[...]
