---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/item-class/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:32 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - item-class
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86389-4288-bb20-6753-fa165ab86060
      x-trace-spanid:
      - 15c86389-4288-beb0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c86389-4288-be80-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1?namespace=static-1.13.2_31446-classic-eu"}},"class_id":1,"name":"Container","item_subclasses":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1/item-subclass/0?namespace=static-1.13.2_31446-classic-eu"},"name":"Bag","id":0},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1/item-subclass/1?namespace=static-1.13.2_31446-classic-eu"},"name":"Soul
        Bag","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1/item-subclass/2?namespace=static-1.13.2_31446-classic-eu"},"name":"Herb
        Bag","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1/item-subclass/3?namespace=static-1.13.2_31446-classic-eu"},"name":"Enchanting
        Bag","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1/item-subclass/4?namespace=static-1.13.2_31446-classic-eu"},"name":"Engineering
        Bag","id":4}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/item-class/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:05:33 GMT
recorded_with: VCR 2.9.3
