---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/playable-class/1?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:02 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-982b-6b00-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-982b-6d00-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-982b-6cd0-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/playable-class/1?namespace=static-8.2.5_31884-eu"}},"assets":[{"key":"icon","value":"https://render-eu.worldofwarcraft.com/icons/56/classicon_warrior.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/playable-class/1?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:29 GMT
recorded_with: VCR 2.9.3
