---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-family/index?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:31 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - creature-family
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c0-822e-e940-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c0-822e-edc0-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c0-822e-ed90-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/?namespace=static-1.13.2_31446-classic-eu"}},"creature_families":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/1?namespace=static-1.13.2_31446-classic-eu"},"name":"Wolf","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/2?namespace=static-1.13.2_31446-classic-eu"},"name":"Cat","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/3?namespace=static-1.13.2_31446-classic-eu"},"name":"Spider","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/4?namespace=static-1.13.2_31446-classic-eu"},"name":"Bear","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/5?namespace=static-[...]
