---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-bracket/3v3?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '7'
      Last-Modified:
      - Sat, 7 Mar 2020 09:41:13 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - pvp-bracket
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15f9e473-41c1-3710-18bd-fa165b2fd169
      x-trace-spanid:
      - 15f9e473-41c1-6230-18bd-fa165b2fd169
      x-trace-parentspanid:
      - 15f9e473-41c1-6200-18bd-fa165b2fd169
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-bracket/3v3?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"},"name":"Sheday","id":142650023,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"faction":{"type":"ALLIANCE","name":"Alliance"},"bracket":{"id":1,"type":"ARENA_3v3"},"rating":1609,"season":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/29?namespace=dynamic-eu"},"id":29},"tier":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-tier/11?namespace=static-8.3.0_32861-eu"},"id":11},"season_match_statistics":{"played":98,"won":47,"lost":51},"weekly_match_statistics":{"played":0,"won":0,"lost":0}}'
      effective_url: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-bracket/3v3?namespace=profile-eu&locale=en_gb
  recorded_at: Sun, 08 Mar 2020 14:30:59 GMT
recorded_with: VCR 2.9.3
