---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-bracket/2v2?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '7'
      Last-Modified:
      - Sat, 7 Mar 2020 09:41:13 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - pvp-bracket
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15f9e46f-2de9-ac00-81e2-fa165bbb2748
      x-trace-spanid:
      - 15f9e46f-2de9-ade0-81e2-fa165bbb2748
      x-trace-parentspanid:
      - 15f9e46f-2de9-adb0-81e2-fa165bbb2748
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-bracket/2v2?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"},"name":"Sheday","id":142650023,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"faction":{"type":"ALLIANCE","name":"Alliance"},"bracket":{"id":0,"type":"ARENA_2v2"},"rating":1466,"season":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/29?namespace=dynamic-eu"},"id":29},"tier":{"key":{"href":"https://eu.api.blizzard.com/data/wow/pvp-tier/2?namespace=static-8.3.0_32861-eu"},"id":2},"season_match_statistics":{"played":25,"won":16,"lost":9},"weekly_match_statistics":{"played":0,"won":0,"lost":0}}'
      effective_url: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/pvp-bracket/2v2?namespace=profile-eu&locale=en_gb
  recorded_at: Sun, 08 Mar 2020 14:30:59 GMT
recorded_with: VCR 2.9.3
