---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/item-class/1/item-subclass/0?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:00 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - item-subclass
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-982b-4770-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-982b-49e0-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-982b-49b0-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1/item-subclass/0?namespace=static-8.2.5_31884-eu"}},"class_id":1,"subclass_id":0,"display_name":"Bag"}'
      effective_url: https://eu.api.blizzard.com/data/wow/item-class/1/item-subclass/0?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:29 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/item-class/0/item-subclass/0?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:00 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - item-subclass
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-982b-4be0-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-982b-4de0-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-982b-4db0-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/item-class/0/item-subclass/0?namespace=static-8.2.5_31884-eu"}},"class_id":0,"subclass_id":0,"display_name":"Explosives
        and Devices","hide_subclass_in_tooltips":true}'
      effective_url: https://eu.api.blizzard.com/data/wow/item-class/0/item-subclass/0?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:29 GMT
recorded_with: VCR 2.9.3
