---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/equipment?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '4'
      Last-Modified:
      - Sun, 22 Dec 2019 09:05:20 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-equipment
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d5-3998-1050-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d5-3998-2370-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d5-3998-2340-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/equipment?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"},"name":"Sheday","id":142650023,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"equipped_items":[{"item":{"key":{"href":"https://eu.api.blizzard.com/data/wow/item/155866?namespace=static-8.2.5_31884-eu"},"id":155866},"slot":{"type":"HEAD","name":"Head"},"quantity":1,"context":35,"bonus_list":[5448,1617,4786,6270],"quality":{"type":"EPIC","name":"Epic"},"name":"Soulspun
        Casque","modified_appearance_id":95621,"azerite_details":{"selected_powers":[{"id":13,"tier":0,"spell_tooltip":{"spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/263978?namespace=static-8.2.5_31884-eu"},"name":"Azerite
        Empowered","id":263978},"description":"Increases Item Level by 5 and increases
        the potency of all Azerite powers granted by this item.","cast_time":"Passive"},"is_display_hidden":true},{"id":85,"tier":1,"spell_tooltip":{"spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/268596?namespace=static-8.2.5_31884-eu"},"name":"Gemhide","id":268596},"description":"When
        dealt damage greater than 10% of your maximum health, gain 185 Avoidance and
        552 Armor for 10 sec.","cast_time":"Passive"}},{"id":30,"tier":2,"spell_tooltip":{"spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/266180?namespace=static-8.2.5_31884-eu"},"name":"Overwhelmi[...]
