---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:02 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - power-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-76da-0660-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-76da-0a90-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-76da-0a60-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-8.2.5_31884-eu"}},"id":1,"name":"Rage"}'
      effective_url: https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:31 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/power-type/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:02 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - power-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-76da-0b40-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-76da-0c60-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-76da-0c30-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/power-type/2?namespace=static-8.2.5_31884-eu"}},"id":2,"name":"Focus"}'
      effective_url: https://eu.api.blizzard.com/data/wow/power-type/2?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:31 GMT
recorded_with: VCR 2.9.3
