---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/appearance?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '10'
      Last-Modified:
      - Sun, 22 Dec 2019 09:05:19 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-appearance
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638b-7eb6-4590-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638b-7eb6-5860-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638b-7eb6-5830-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/appearance?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"},"name":"Sheday","id":142650023,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"playable_race":{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-8.2.5_31884-eu"},"name":"Human","id":1},"playable_class":{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/2?namespace=static-8.2.5_31884-eu"},"name":"Paladin","id":2},"active_spec":{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/70?namespace=static-8.2.5_31884-eu"},"name":"Retribution","id":70},"gender":{"type":"MALE","name":"Male"},"faction":{"type":"ALLIANCE","name":"Alliance"},"guild_crest":{"emblem":{"id":12,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/12?namespace=static-8.2.5_31884-eu"}},"color":{"id":16,"rgba":{"r":223,"g":165,"b":90,"a":1.0}}},"border":{"id":4,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/border/4?namespace=static-8.2.5_31884-eu"}},"color":{"id":16,"rgba":{"r":249,"g":204,"b":48,"a":1.0}}},"background":{"color":{"id":31,"rgba":{"r":44,"g":106,"b":174,"a":1.0}}}},"appearance":{"face_variation":11,"skin_color":6,"hair_variation":1,"hair_color":2,"feature_variation":8,"custom_display_options":[0,0,0]},"items":[{"id":161600,"slot":{"type":"HEAD","name":"Head"},"enchant":0,"item_appearance_modifier_id":3,"internal_slot_id":0,"subclass":4},{"id":161621,"slot":{"type":"SHOULDER","name":"Shoulders"},"enchant":0,"item_appearance_modifier_id":3,"internal_slot_id":2,"subclass":4},{"id":4335,"slot":{"type":"SHIRT","name":"Shirt"},"enchant":0,"item_appearance_modifier_id":0,"internal_slot_id":3,"subclass":0},{"id":161602,"slot":{"type":"CHEST","name":"Chest"},"enchant":0,"item_appearance_modifier_id":3,"internal_slot_id":4,"subclass":4},{"id":161624,"slot":{"type":"WAIST","name":"Waist"},"enchant":0,"item_appearance_modifier_id":3,"internal_slot_id":5,"subclass":4},{"id":161616,"slot":{"type":"LEGS","name":"Legs"},"enchant":0,"item_appearance_modifier_id":3,"internal_slot_id":6,"subclass":4},{"id":161605,"slot":{"type":"FEET","name":"Feet"},"enchant":0,"item_appearance_modifier_id":3,"internal_slot_id":7,"subclass":4},{"id":168387,"slot":{"type":"WRIST","name":"Wrist"},"enchant":0,"item_appearance_modifier_id":3,"internal_slot_id":8,"subclass":4},{"id":161610,"slot":{"type":"HANDS","name":"Hands"},"enchant":0,"item_appearance_modifier_id":3,"internal_slot_id":9,"subclass":4},{"id":134111,"slot":{"type":"BACK","name":"Back"},"enchant":0,"item_appearance_modifier_id":0,"internal_slot_id":14,"subclass":5},{"id":161703,"slot":{"type":"MAIN_HAND","name":"Main
        Hand"},"enchant":0,"item_appearance_modifier_id":0,"internal_slot_id":15,"subclass":5},{"id":142504,"slot":{"type":"TABARD","name":"Tabard"},"enchant":0,"item_appearance_modifier_id":0,"internal_slot_id":18,"subclass":5}]}'
      effective_url: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/appearance?namespace=profile-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 22:30:32 GMT
recorded_with: VCR 2.9.3
