---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature/30?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:21:53 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - creature
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-9829-7640-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-9829-7760-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-9829-7730-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature/30?namespace=static-8.2.5_31884-eu"}},"id":30,"name":"Forest
        Spider","type":{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/1?namespace=static-8.2.5_31884-eu"},"name":"Beast","id":1},"family":{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/3?namespace=static-8.2.5_31884-eu"},"name":"Spider","id":3},"creature_displays":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-display/366?namespace=static-8.2.5_31884-eu"}}],"is_tameable":true}'
      effective_url: https://eu.api.blizzard.com/data/wow/creature/30?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:25 GMT
[...]
