---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/data/wow/token/?namespace=dynamic-us
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Thu, 8 Aug 2019 06:10:16 GMT
      Battlenet-Namespace:
      - dynamic-us
      Battlenet-Schema:
      - token
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b8-27d9-2570-9c49-fa164c2234c3
      x-trace-spanid:
      - 15b200b8-27d9-2750-9c49-fa164c2234c3
      x-trace-parentspanid:
      - 15b200b8-27d9-2720-9c49-fa164c2234c3
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://us.api.blizzard.com/data/wow/token/?namespace=dynamic-us"}},"last_updated_timestamp":1565244616000,"price":1321570000}'
      effective_url: https://us.api.blizzard.com/data/wow/token/?namespace=dynamic-us
  recorded_at: Thu, 08 Aug 2019 06:11:48 GMT
recorded_with: VCR 2.9.3
