---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/power-type/2?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:32 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - power-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f8-6802-9310-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f8-6802-9760-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f8-6802-9730-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/power-type/2?namespace=static-1.13.2_31446-classic-eu"}},"id":2,"name":"Focus"}'
      effective_url: https://eu.api.blizzard.com/data/wow/power-type/2?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:26:37 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:32 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - power-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86601-cc5e-4b80-8521-fa165a196292
      x-trace-spanid:
      - 15c86601-cc5e-4d10-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86601-cc5e-4ce0-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-1.13.2_31446-classic-eu"}},"id":1,"name":"Rage"}'
      effective_url: https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:26:37 GMT
recorded_with: VCR 2.9.3
