---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-type/index?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:31 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - creature-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86551-a08e-32a0-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86551-a08e-34f0-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86551-a08e-34c0-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/?namespace=static-1.13.2_31446-classic-eu"}},"creature_types":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/1?namespace=static-1.13.2_31446-classic-eu"},"name":"Beast","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/2?namespace=static-1.13.2_31446-classic-eu"},"name":"Dragonkin","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/3?namespace=static-1.13.2_31446-classic-eu"},"name":"Demon","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/4?namespace=static-1.13.2_31446-classic-eu"},"name":"Elemental","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/5?namespace=static-1.13.2_31446-classic-eu"},"name":"Giant","id":5},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/6?namespace=static-1.13.2_31446-classic-eu"},"name":"Undead","id":6},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/7?namespace=static-1.13.2_31446-classic-eu"},"name":"Humanoid","id":7},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/8?namespace=static-1.13.2_31446-classic-eu"},"name":"Critter","id":8},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/9?namespace=static-1.13.2_31446-classic-eu"},"name":"Mechanical","id":9},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/10?namespace=static-1.13.2_31446-classic-eu"},"name":"Not
        specified","id":10},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/11?namespace=static-1.13.2_31446-classic-eu"},"name":"Totem","id":11}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/creature-type/index?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 18:32:44 GMT
recorded_with: VCR 2.9.3
