---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/item-class/0/item-subclass/0?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:00 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - item-subclass
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c1-d180-9fb0-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c1-d180-a220-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c1-d180-a1f0-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/item-class/0/item-subclass/0?namespace=static-8.2.5_31884-eu"}},"class_id":0,"subclass_id":0,"display_name":"Explosives
        and Devices","hide_subclass_in_tooltips":true}'
      effective_url: https://eu.api.blizzard.com/data/wow/item-class/0/item-subclass/0?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:29 GMT
recorded_with: VCR 2.9.3
