---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-type/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - creature-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d4-aa9a-59d0-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d4-aa9a-5ba0-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d4-aa9a-5b70-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/?namespace=static-8.2.5_31884-eu"}},"creature_types":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/1?namespace=static-8.2.5_31884-eu"},"name":"Beast","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/2?namespace=static-8.2.5_31884-eu"},"name":"Dragonkin","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/3?namespace=static-8.2.5_31884-eu"},"name":"Demon","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/4?namespace=static-8.2.5_31884-eu"},"name":"Elemental","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/5?namespace=static-8.2.5_31884-eu"},"name":"[...]
