---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/item/19019?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:13:49 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86389-4352-b7f0-6753-fa165ab86060
      x-trace-spanid:
      - 15c86389-4352-bbc0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c86389-4352-bb90-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/item/19019?namespace=static-1.13.2_31446-classic-eu"}},"assets":[{"key":"icon","value":"https://render-classic-eu.worldofwarcraft.com/icons/56/inv_sword_39.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/item/19019?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:09:15 GMT
recorded_with: VCR 2.9.3
