---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-class/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - playable-class
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f8-6801-7380-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f8-6801-7870-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f8-6801-7840-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/1?namespace=static-1.13.2_31446-classic-eu"}},"id":1,"name":"Warrior","gender_name":{"male":"Warrior","female":"Warrior"},"power_type":{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-1.13.2_31446-classic-eu"},"name":"Rage","id":1},"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/playable-class/1?namespace=static-1.13.2_31446-classic-eu"},"id":1},"pvp_talent_slots":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/1/pvp-talent-slots?namespace=static-1.13.2_31446-classic-eu"}}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-class/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:26:36 GMT
recorded_with: VCR 2.9.3
