---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-family/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - creature-family
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638a-f016-a100-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638a-f016-a550-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638a-f016-a520-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/?namespace=static-8.2.5_31884-eu"}},"creature_families":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/1?namespace=static-8.2.5_31884-eu"},"name":"Wolf","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/2?namespace=static-8.2.5_31884-eu"},"name":"Cat","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/3?namespace=static-8.2.5_31884-eu"},"name":"Spider","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/4?namespace=static-8.2.5_31884-eu"},"name":"Bear","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/5?namespace=static-8.2.5_31884-eu"},"name":"Bo[...]
