---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature/30?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - creature
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d2-e0f4-64a0-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d2-e0f4-6a40-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d2-e0f4-6a10-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature/30?namespace=static-1.13.2_31446-classic-eu"}},"id":30,"name":"Forest
        Spider","type":{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/1?namespace=static-1.13.2_31446-classic-eu"},"name":"Beast","id":1},"family":{"key":{"href":"https://eu.api.blizzard.com/data/wow/creature-family/3?namespace=static-1.13.2_31446-classic-eu"},"name":"Spider","id":3},"creature_displays":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-display/382?namespace=static-1.13.2_31446-classic-eu"}}],"is_tameable":true}'
      effective_url: https://eu.api.blizzard.com/data/wow/creature/30?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 18:46:41 GMT
recorded_with: VCR 2.9.3
