---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/item-class/1?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:00 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - item-class
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c1-d17f-f170-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c1-d17f-f290-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c1-d17f-f260-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1?namespace=static-8.2.5_31884-eu"}},"class_id":1,"name":"Container","item_subclasses":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1/item-subclass/0?namespace=static-8.2.5_31884-eu"},"name":"Bag","id":0},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1/item-subclass/1?namespace=static-8.2.5_31884-eu"},"name":"Soul
        Bag","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1/item-subclass/2?namespace=static-8.2.5_31884-eu"},"name":"Herb
        Bag","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1/item-subclass/3?namespace=static-8.2.5_31884-eu"},"name":"Enchanting
        Bag","id":3},{"key":{"href":"https://eu.api.blizzard.c[...]
