---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/titles?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '4'
      Last-Modified:
      - Sun, 22 Dec 2019 09:05:19 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-titles
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c2-3cd0-d070-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c2-3cd0-dca0-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c2-3cd0-dc70-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/titles?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"},"name":"Sheday","id":142650023,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"active_title":{"key":{"href":"https://eu.api.blizzard.com/data/wow/title/400?namespace=static-8.2.5_31884-eu"},"name":"Famed
        Slayer of the Harbinger","id":400,"display_string":"{name}, Famed Slayer of
        the Harbinger"}}'
      effective_url: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/titles?namespace=profile-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 22:30:37 GMT
recorded_with: VCR 2.9.3
