---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/pet/stats/258?&level=25&breedId=5&qualityId=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b6-7a3d-ccb0-91ec-fa164dd23032
      x-trace-spanid:
      - 15b200b6-7a3d-cde0-91ec-fa164dd23032
      x-trace-parentspanid:
      - 15b200b6-7a3d-cdb0-91ec-fa164dd23032
    body:
      encoding: UTF-8
      string: '{"speciesId":258,"breedId":5,"petQualityId":4,"level":25,"health":1587,"power":315,"speed":297}'
      effective_url: https://us.api.blizzard.com/wow/pet/stats/258?&level=25&breedId=5&qualityId=4
  recorded_at: Thu, 08 Aug 2019 06:11:23 GMT
recorded_with: VCR 2.9.3
