---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '8'
      Last-Modified:
      - Fri, 20 Dec 2019 15:41:37 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - guild
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86601-ab4f-d800-8521-fa165a196292
      x-trace-spanid:
      - 15c86601-ab4f-db40-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86601-ab4f-db10-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion?namespace=profile-eu"}},"id":36886834,"name":"Avalerion","faction":{"type":"ALLIANCE","name":"Alliance"},"achievement_points":2895,"member_count":418,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"},"crest":{"emblem":{"id":12,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/12?namespace=static-8.2.5_31884-eu"}},"color":{"id":16,"rgba":{"r":223,"g":165,"b":90,"a":1.0}}},"border":{"id":4,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/border/4?namespace=static-8.2.5_31884-eu"}},"color":{"id":16,"rgba":{"r":249,"g":204,"b":48,"a":1.0}}},"background":{"color":{"id":31,"rgba":{"r":44,"g":106,"b":174,"a":1.0}}}},"roster":{"href":"https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion/roster?namespace=profile-eu"},"achievements":{"href":"https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion/achievements?namespace=profile-eu"},"created_timestamp":1226346041000}'
      effective_url: https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion?namespace=profile-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 17:37:20 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/guild/azuremyst/imperium?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '8'
      Last-Modified:
      - Fri, 20 Dec 2019 14:44:27 GMT
      Battlenet-Namespace:
      - profile-eu
      Battl[...]
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion/achievements?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Fri, 20 Dec 2019 15:41:37 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - guild-achievement-summary
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c0-7a6f-86c0-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c0-7a6f-8b20-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c0-7a6f-8af0-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion/achievements?namespace=profile-eu"}},"guild":{"key":{"href":"https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion?namespace=profile-eu"},"name":"Avalerion","id":36886834,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"total_quantity":306,"total_points":2895,"achievements":[{"id":4860,"achievement":{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement/4860?namespace=static-8.2.5_31884-eu"},"name":"Working
        as a Team","id":4860},"criteria":{"id":16854,"is_completed":true,"child_criteria":[{"id":16858,"amount":950,"is_completed":true},{"id":16857,"amount":975,"is_completed":true},{"id":16859,"amount":975,"is_completed":true},{"id":70916,"amount":975,"is_completed":true},{"id":70925,"amount":975,"is_completed":true},{"id":70934,"amount":975,"is_completed":true},{"id":70943,"amount":975,"is_completed":true},{"id":70952,"amount":975,"is_completed":true},{"id":70961,"amount":975,"is_completed":true},{"id":70970,"amount":975,"is_completed":true},{"id":70979,"amount":975,"is_completed":true},{"id":70988,"amount":975,"is_completed":true},{"id":70997,"amount":975,"is_completed":true},{"id":71006,"amount":975,"is_completed":true}]},"completed_timestamp":1292685297000},{"id":4861,"achievement":{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement/4861?namespace=static-8.2.5_31884-eu"},"name":"We
        Are Legendary","id":4861},"criteria":{"id":17195,"amount":9,"is_completed":true,"child_criteria":[{"id":17201,"amount":1,"is_completed":true},{"id":17197,"amount":1,"is_completed":true},{"id":17196,"amount":1,"is_completed":true},{"id":17198,"amount":1,"is_completed":true},{"id":17199,"amount":1,"is_completed":true},{"id":17200,"amount[...]
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/guild/azuremyst/imperium/achievements?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Fri, 20 Dec 2019 14:44:27 GMT
      Battlenet-Namespace:
      - profile-e[...]
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion/roster?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '7'
      Last-Modified:
      - Fri, 20 Dec 2019 15:41:37 GMT
      Battlenet-Namespace:
      - profile-eu
   [...]
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/guild/azuremyst/imperium/roster?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '7'
      Last-Modified:
      - Fri, 20 Dec 2019 14:44:27 GMT
      Battlenet-Namespace:
      - profile-eu
    [...]
