---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/reputation-faction/21?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:20 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - reputation-faction
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638b-2cac-6240-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638b-2cac-63d0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638b-2cac-63a0-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/reputation-faction/21?namespace=static-8.2.5_31884-eu"}},"id":21,"name":"Booty
        Bay","description":"This booming coastal city is run by Baron Revilgaz of
        the Blackwater Raiders.  Mortal enemies of the Bloodsail Buccaneers and part
        of the Steamwheedle Cartel.","reputation_tiers":{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-tiers/0?namespace=static-8.2.5_31884-eu"},"id":0}}'
      effective_url: https://eu.api.blizzard.com/data/wow/reputation-faction/21?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:50 GMT
recorded_with: VCR 2.9.3
