---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-specialization/62?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:12 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - playable-specialization
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-c3fe-aad0-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-c3fe-acd0-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-c3fe-aca0-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/62?namespace=static-8.2.5_31884-eu"}},"id":62,"playable_class":{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/8?namespace=static-8.2.5_31884-eu"},"name":"Mage","id":8},"name":"Arcane","gender_description":{"male":"Manipulates
        raw Arcane magic, destroying enemies with overwhelming power.\r\n\r\nPreferred
        Weapon: Staff, Wand, Dagger, Sword","female":"Manipulates raw Arcane magic,
        destroying enemies with overwhelming power.\r\n\r\nPreferred Weapon: Staff,
        Wand, Dagger, Sword"},"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/playable-specialization/62?namespace=static-8.2.5_31884-eu"},"id":62},"role":{"type":"DAMAGE","name":"Damage"},"talent_tiers":[{"level":15,"talents":[{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/22458?namespace=static-8.2.5_31884-eu"},"name":"Amplification","id":22458},"spell_tooltip":{"description":"When
        Clearcast, Arcane Missiles fires 1 additional missile.","cast_time":"Passive"},"column_index":0},{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/22461?namespace=static-8.2.5_31884-eu"},"name":"Rule
        of Threes","id":22461},"spell_tooltip":{"description":"When you gain your
        third Arcane Charge, the cost of your next Arcane Blast or Arcane Missiles
        is reduced by 100%.","cast_time":"Passive"},"column_index":1},{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/22464?namespace=static-8.2.5_31884-eu"},"name":"Arcane
        Familiar","id":22464},"spell_tooltip":{"description":"Summon a Familiar that
        attacks your enemies and increases your maximum mana by 10% for 1 hour.","cast_time":"Instant","cooldown":"10
        sec cooldown"},"column_index":2}],"tier_index":0},{"level":30,"talents":[{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/23072?namespace=static-8.2.5_31884-eu"},"name":"Mana
        Shield","id":23072},"spell_tooltip":{"description":"Prismatic Barrier has
        no cooldown, but your mana is drained by 50% of the damage it absorbs.","cast_time":"Passive"},"column_index":0},{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/22443?namespace=static-8.2.5_31884-eu"},"name":"Shimmer","id":22443},"spell_tooltip":{"description":"Teleports
        you 20 yards forward, unless something is in the way. Unaffected by the global
        cooldown and castable while casting.","cast_time":"Instant","power_cost":"2,000
        Mana","cooldown":"0.5 sec cooldown"},"column_index":1},{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/16025?namespace=static-8.2.5_31884-eu"},"name":"Slipstream","id":16025},"spell_tooltip":{"description":"Clearcasting
        allows Arcane Missiles to be channeled while moving.\r\n\r\nEvocation can
        be channeled while moving.","cast_time":"Passive"},"column_index":2}],"tier_index":1},{"level":45,"talents":[{"talent":{"key":{"href":"https://eu.api.bli[...]
