---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/creature-family/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86601-c3fa-5020-8521-fa165a196292
      x-trace-spanid:
      - 15c86601-c3fa-5440-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86601-c3fa-5410-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-family/1?namespace=static-1.13.2_31446-classic-eu"}},"assets":[{"key":"icon","value":"https://render-classic-eu.worldofwarcraft.com/icons/56/ability_hunter_pet_wolf.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/creature-family/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 19:42:31 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/creature-family/2?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864e7-aafc-57b0-c980-fa165ba0f208
      x-trace-spanid:
      - 15c864e7-aafc-5ed0-c980-fa165ba0f208
      x-trace-parentspanid:
      - 15c864e7-aafc-5ea0-c980-fa165ba0f208
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-family/2?namespace=static-1.13.2_31446-classic-eu"}},"assets":[{"key":"icon","value":"https://render-classic-eu.worldofwarcraft.com/icons/56/ability_hunter_pet_cat.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/creature-family/2?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 19:42:31 GMT
recorded_with: VCR 2.9.3
