---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/status?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Sun, 22 Dec 2019 09:05:19 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-status
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-faf7-0b20-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-faf7-0d20-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-faf7-0cf0-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/status?namespace=profile-eu"}},"id":142650023,"is_valid":true}'
      effective_url: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/status?namespace=profile-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 22:30:37 GMT
recorded_with: VCR 2.9.3
