---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/creature-family/1?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:15 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d4-aa98-d020-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d4-aa98-d330-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d4-aa98-d300-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-family/1?namespace=static-8.2.5_31884-eu"}},"assets":[{"key":"icon","value":"https://render-eu.worldofwarcraft.com/icons/56/ability_hunter_pet_wolf.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/creature-family/1?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:24 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/creature-family/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:15 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638a-f016-2f00-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638a-f016-33a0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638a-f016-3370-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/creature-family/2?namespace=static-8.2.5_31884-eu"}},"assets":[{"key":"icon","value":"https://render-eu.worldofwarcraft.com/icons/56/ability_hunter_pet_cat.jpg"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/creature-family/2?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:24 GMT
recorded_with: VCR 2.9.3
