---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/achievement/6?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:21:01 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - achievement
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d4-e8fa-54b0-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d4-e8fa-56b0-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d4-e8fa-5680-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/achievement/6?namespace=static-8.2.5_31884-eu"}},"id":6,"category":{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement-category/92?namespace=static-8.2.5_31884-eu"},"name":"Character","id":92},"name":"Level
        10","description":"Reach level 10.","points":10,"is_account_wide":false,"criteria":{"id":2050,"description":"Reach
        level 10.","amount":0},"next_achievement":{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement/7?namespace=static-8.2.5_31884-eu"},"name":"Level
        20","id":7},"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/achievement/6?namespace=static-8.2.5_31884-eu"},"id":6},"display_order":1}'
      effective_url: https://eu.api.blizzard.com/data/wow/achievement/6?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:30 GMT
recorded_with: VCR 2.9.3
