---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '8'
      Last-Modified:
      - Fri, 20 Dec 2019 15:41:37 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - guild
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f8-4d04-70e0-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f8-4d04-7450-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f8-4d04-7420-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion?namespace=profile-eu"}},"id":36886834,"name":"Avalerion","faction":{"type":"ALLIANCE","name":"Alliance"},"achievement_points":2895,"member_count":418,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"},"crest":{"emblem":{"id":12,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/12?namespace=static-8.2.5_31884-eu"}},"color":{"id":16,"rgba":{"r":223,"g":165,"b":90,"a":1.0}}},"border":{"id":4,"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/border/4?namespace=static-8.2.5_31884-eu"}},"color":{"id":16,"rgba":{"r":249,"g":204,"b":48,"a":1.0}}},"background":{"color":{"id":31,"rgba":{"r":44,"g":106,"b":174,"a":1.0}}}},"roster":{"href":"https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion/roster?namespace=profile-eu"},"achievements":{"href":"https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion/achievements?namespace=profile-eu"},"created_timestamp":1226346041000}'
      effective_url: https://eu.api.blizzard.com/data/wow/guild/stormrage/avalerion?namespace=profile-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 17:37:19 GMT
recorded_with: VCR 2.9.3
