---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-class/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - playable-class
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-76d9-13a0-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-76d9-15a0-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-76d9-1570-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/?namespace=static-8.2.5_31884-eu"}},"classes":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/1?namespace=static-8.2.5_31884-eu"},"name":"Warrior","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/2?namespace=static-8.2.5_31884-eu"},"name":"Paladin","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/3?namespace=static-8.2.5_31884-eu"},"name":"Hunter","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/4?namespace=static-8.2.5_31884-eu"},"name":"Rogue","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/5?namespace=static-8.2.5_31884-eu"},"name":"Priest","id":5},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/6?namespace=static-8.2.5_31884-eu"},"name":"Death
        Knight","id":6},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/7?namespace=static-8.2.5_31884-eu"},"name":"Shaman","id":7},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/8?namespace=static-8.2.5_31884-eu"},"name":"Mage","id":8},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/9?namespace=static-8.2.5_31884-eu"},"name":"Warlock","id":9},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/10?namespace=static-8.2.5_31884-eu"},"name":"Monk","id":10},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/11?namespace=static-8.2.5_31884-eu"},"name":"Druid","id":11},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/12?namespace=static-8.2.5_31884-eu"},"name":"Demon
        Hunter","id":12}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-class/index?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:30 GMT
recorded_with: VCR 2.9.3
