---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/pet/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - pet
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d4-e903-aa00-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d4-e903-ae50-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d4-e903-ae20-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/pet/?namespace=static-8.2.5_31884-eu"}},"pets":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet/39?namespace=static-8.2.5_31884-eu"},"name":"Mechanical
        Squirrel","id":39},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet/40?namespace=static-8.2.5_31884-eu"},"name":"Bombay
        Cat","id":40},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet/41?namespace=static-8.2.5_31884-eu"},"name":"Cornish
        Rex Cat","id":41},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet/42?namespace=static-8.2.5_31884-eu"},"name":"Black
        Tabby Cat","id":42},{"key":{"href":"https://eu.api.blizzard.com/data/wow/pet/43?namespace=static-8.2.5_31884-eu"}[...]
