---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/quests/completed?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUwirJ2L8Z9vFZjdkTFQv52o8jyUe6VkcQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Sat, 7 Mar 2020 09:41:14 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-completed-quests
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15f9e46f-07a4-6c90-f19f-fa165acb3800
      x-trace-spanid:
      - 15f9e46f-07a4-8b30-f19f-fa165acb3800
      x-trace-parentspanid:
      - 15f9e46f-07a4-8b00-f19f-fa165acb3800
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/quests/completed?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"},"name":"Sheday","id":142650023,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"quests":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/quest/11?namespace=static-8.3.0_32861-eu"},"name":"Riverpaw
        Gnoll Bounty","id":11},{"key":{"href":"https://eu.api.blizzard.com/data/wow/quest/35?namespace=static-8.3.0_32861-eu"},"name":"Further
        Concerns","id":35},{"key":{"href":"https://eu.api.blizzard.com/data/wow/quest/37?namespace=static-8.3.0_32861-eu"},"name":"Find
        the Lost Guards","id":37},{"key":{"href":"https://eu.api.blizzard.com/data/wow/quest/40?namespace=s[...]
