---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/connected-realm/509?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '5'
      Last-Modified:
      - Sun, 22 Dec 2019 15:54:26 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - connected-realm
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638b-2c9d-11d0-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638b-2c9d-14d0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638b-2c9d-14a0-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/509?namespace=dynamic-eu"}},"id":509,"has_queue":false,"status":{"type":"UP","name":"Up"},"population":{"type":"MEDIUM","name":"Medium"},"realms":[{"id":509,"region":{"key":{"href":"https://eu.api.blizzard.com/data/wow/region/3?namespace=dynamic-eu"},"name":"Europe","id":3},"connected_realm":{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/509?namespace=dynamic-eu"},"name":"Garona","category":"French","locale":"frFR","timezone":"Europe/Paris","type":{"type":"NORMAL","name":"Normal"},"is_tournament":false,"slug":"garona"},{"id":544,"region":{"key":{"href":"https://eu.api.blizzard.com/data/wow/region/3?namespace=dynamic-eu"},"name":"Europe","id":3},"connected_realm":{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/509?namespace=dynamic-eu"},"name":"Ner''zhul","category":"French","locale":"frFR","timezone":"Europe/Paris","type":{"type":"NORMAL","name":"Normal"},"is_tournament":false,"slug":"nerzhul"},{"id":546,"region":{"key":{"href":"https://eu.api.blizzard.com/data/wow/region/3?namespace=dynamic-eu"},"name":"Europe","id":3},"connected_realm":{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/509?namespace=dynamic-eu"},"name":"Sargeras","category":"French","locale":"frFR","timezone":"Europe/Paris","type":{"type":"NORMAL","name":"Normal"},"is_tournament":false,"slug":"sargeras"}],"mythic_leaderboards":{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/509/mythic-leaderboard/?namespace=dynamic-eu"}}'
      effective_url: https://eu.api.blizzard.com/data/wow/connected-realm/509?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:33 GMT
recorded_with: VCR 2.9.3
