---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/realm/501?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '7'
      Last-Modified:
      - Wed, 30 Sep 2020 01:07:24 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - realm
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - be9435ce-6c28-3546-8a64-84a8b09e13c5
      x-trace-spanid:
      - 16371d6c-05c7-a230-a77e-fa165a4c8dba
      x-trace-parentspanid:
      - 16371d6c-05c7-a200-a77e-fa165a4c8dba
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/realm/501?namespace=dynamic-eu"}},"id":501,"region":{"key":{"href":"https://eu.api.blizzard.com/data/wow/region/3?namespace=dynamic-eu"},"name":"Europe","id":3},"connected_realm":{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/1587?namespace=dynamic-eu"},"name":"Arathor","category":"English","locale":"enGB","timezone":"Europe/Paris","type":{"type":"NORMAL","name":"Normal"},"is_tournament":false,"slug":"arathor"}'
      effective_url: https://eu.api.blizzard.com/data/wow/realm/501?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sat, 03 Oct 2020 20:37:48 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/realm/500?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUVm8EwO3fHFv4QPKEr83N7cRXGFSeFbk1
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '7'
      Last-Modified:
      - Wed, 30 Sep 2020 01:07:24 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - realm
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 0715044f-1b57-3bbf-8d12-28002aa1a946
      x-trace-spanid:
      - 16371d6c-05c7-a1c0-a77e-fa165a4c8dba
      x-trace-parentspanid:
      - 16371d6c-05c7-a190-a77e-fa165a4c8dba
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/realm/500?namespace=dynamic-eu"}},"id":500,"region":{"key":{"href":"https://eu.api.blizzard.com/data/wow/region/3?namespace=dynamic-eu"},"name":"Europe","id":3},"connected_realm":{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/1325?namespace=dynamic-eu"},"name":"Aggramar","category":"English","locale":"enGB","timezone":"Europe/Paris","type":{"type":"NORMAL","name":"Normal"},"is_tournament":false,"slug":"aggramar"}'
      effective_url: https://eu.api.blizzard.com/data/wow/realm/500?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sat, 03 Oct 2020 20:37:48 GMT
recorded_with: VCR 2.9.3
