---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/covenant/conduit/39?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EU9UTgGxUGGNV2468OnmLjJiKYHlMFGSGw
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 25 Nov 2020 02:09:28 GMT
      Battlenet-Namespace:
      - static-9.0.2_36532-eu
      Battlenet-Schema:
      - covenant-conduit
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 398f49ef-5cdd-327c-b6e8-34fcb115183c
      x-trace-spanid:
      - 16480bf4-fc35-d740-a1c0-fa165b82fc6c
      x-trace-parentspanid:
      - 16480bf4-fc35-d710-a1c0-fa165b82fc6c
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/covenant/conduit/39?namespace=static-9.0.2_36532-eu"}},"id":39,"name":"Gift
        of the Lich","item":{"key":{"href":"https://eu.api.blizzard.com/data/wow/item/181553?namespace=static-9.0.2_36532-eu"},"name":"Gift
        of the Lich","id":181553},"socket_type":{"type":"POTENCY","name":"Potency
        Conduit Slot"},"ranks":[{"id":520,"tier":0,"spell_tooltip":{"spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/336999?namespace=static-9.0.2_36532-eu"},"name":"Gift
        of the Lich","id":336999},"description":"Deathborne''s duration is increased
        by 6.0 sec.","cast_time":"Passive"}},{"id":521,"tier":1,"spell_tooltip":{"spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/336999?namespace=static-9.0.2_36532-eu"},"name":"Gift
        of the Lich","id":336999},"description":"Deathborne''s duration is increased
        by 6.6 sec.","cast_time":"Passive"}},{"id":522,"tier":2,"spell_tooltip":{"spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/336999?namespace=static-9.0.2_36532-eu"},"name":"Gift
        of the Lich","id":336999},"descripti[...]
