---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/keystone-affix/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - keystone-affix
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-b380-9160-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-b380-9280-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-b380-9250-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/keystone-affix/?namespace=static-8.2.5_31884-eu"}},"affixes":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/keystone-affix/1?namespace=static-8.2.5_31884-eu"},"name":"Overflowing","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/keystone-affix/2?namespace=static-8.2.5_31884-eu"},"name":"Skittish","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/keystone-affix/3?namespace=static-8.2.5_31884-eu"},"name":"Volcanic","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/keystone-affix/4?namespace=static-8.2.5_31884-eu"},"name":"Necrotic","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/keystone-affix/5?namespace=static-8.2.5_31884-eu"},"na[...]
