---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-type/1?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:15 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - creature-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-9829-a380-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-9829-a550-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-9829-a520-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/1?namespace=static-8.2.5_31884-eu"}},"id":1,"name":"Beast"}'
      effective_url: https://eu.api.blizzard.com/data/wow/creature-type/1?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:26 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-type/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:15 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - creature-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86603-76d4-b9a0-8521-fa165a196292
      x-trace-spanid:
      - 15c86603-76d4-bc90-8521-fa165a196292
      x-trace-parentspanid:
      - 15c86603-76d4-bc50-8521-fa165a196292
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/2?namespace=static-8.2.5_31884-eu"}},"id":2,"name":"Dragonkin"}'
      effective_url: https://eu.api.blizzard.com/data/wow/creature-type/2?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:26 GMT
recorded_with: VCR 2.9.3
