---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-class/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:02 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - playable-class
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86552-f58b-62d0-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86552-f58b-6a80-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86552-f58b-6a50-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/2?namespace=static-8.2.5_31884-eu"}},"id":2,"name":"Paladin","gender_name":{"male":"Paladin","female":"Paladin"},"power_type":{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/0?namespace=static-8.2.5_31884-eu"},"name":"Mana","id":0},"specializations":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/65?namespace=static-8.2.5_31884-eu"},"name":"Holy","id":65},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/66?namespace=static-8.2.5_31884-eu"},"name":"Protection","id":66},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/70?namespace=static-8.2.5_31884-eu"},"name":"Retribution","id":70}],"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/playable-class/2?namespace=static-8.2.5_31884-eu"},"id":2},"pvp_talent_slots":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/2/pvp-talent-slots?namespace=static-8.2.5_31884-eu"}}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-class/2?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:30 GMT
[...]
