---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-class/index?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:31 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - playable-class
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c0-948e-2550-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c0-948e-2d70-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c0-948e-2d40-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/?namespace=static-1.13.2_31446-classic-eu"}},"classes":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/1?namespace=static-1.13.2_31446-classic-eu"},"name":"Warrior","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/2?namespace=static-1.13.2_31446-classic-eu"},"name":"Paladin","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/3?namespace=static-1.13.2_31446-classic-eu"},"name":"Hunter","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/4?namespace=static-1.13.2_31446-classic-eu"},"name":"Rogue","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/5?namespace=static-1.13.2_31446-classic-eu"},"name":"Priest","id":5},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/7?namespace=static-1.13.2_31446-classic-eu"},"name":"Shaman","id":7},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/8?namespace=static-1.13.2_31446-classic-eu"},"name":"Mage","id":8},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/9?namespace=static-1.13.2_31446-classic-eu"},"name":"Warlock","id":9},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/11?namespace=static-1.13.2_31446-classic-eu"},"name":"Druid","id":11}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-class/index?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:26:36 GMT
recorded_with: VCR 2.9.3
