---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/achievement-category/92?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:21:00 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - achievement-category
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86553-2462-b060-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86553-2462-b390-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86553-2462-b360-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/achievement-category/92?namespace=static-8.2.5_31884-eu"}},"id":92,"name":"Character","achievements":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement/6?namespace=static-8.2.5_31884-eu"},"name":"Level
        10","id":6},{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement/7?namespace=static-8.2.5_31884-eu"},"name":"Level
        20","id":7},{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement/8?namespace=static-8.2.5_31884-eu"},"name":"Level
        30","id":8},{"key":{"href":"https://eu.api.blizzard.com/data/wow/achievement/9?namespace=static-8.2.5_31884-eu"},"[...]
[...]
