---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:32 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - power-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d2-f63a-e6c0-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d2-f63a-eec0-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d2-f63a-ee90-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-1.13.2_31446-classic-eu"}},"id":1,"name":"Rage"}'
      effective_url: https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 20:26:37 GMT
recorded_with: VCR 2.9.3
