---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/data/guild/rewards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b6-062b-f3c0-b567-fa164c660728
      x-trace-spanid:
      - 15b200b6-062b-f500-b567-fa164c660728
      x-trace-parentspanid:
      - 15b200b6-062b-f4d0-b567-fa164c660728
    body:
      encoding: UTF-8
      string: '{"rewards":[{"minGuildLevel":0,"minGuildRepLevel":5,"achievement":{"id":6626,"title":"Working
        Better as a Team","points":10,"description":"Obtain 600 skill points between
        all expansions in all professions and secondary professions.","reward":"Reward:
        Heirloom Legs","rewardItems":[{"id":122251,"name":"Polished Legplates of Valor","icon":"inv_pants_04","quality":7,"itemLevel":64,"tooltipParams":{"timewalkerLevel":0,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":32,"amount":22},{"stat":74,"amount":16},{"stat":7,"amount":24}],"armor":36,"context":"","bonusLists":[],"artifactId":0,"displayInfoId":29963,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{}},{"id":122253,"name":"Mystical
        Kilt of Elements","icon":"inv_pants_03","quality":7,"itemLevel":64,"tooltipParams":{"timewalkerLevel":0,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[{"stat":32,"amount":11},{"stat":73,"amount":16},{"stat":36,"amount":11},{"stat":7,"amount":24}],"armor":24,"context":"","bonusLists":[],"artifactId":0,"displayInfoId":31415,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"a[...]
