---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/mythic-keystone/period/682?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 07:00:05 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - mythic-keystone-period
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864e9-2c2e-be60-c980-fa165ba0f208
      x-trace-spanid:
      - 15c864e9-2c2e-c120-c980-fa165ba0f208
      x-trace-parentspanid:
      - 15c864e9-2c2e-c0f0-c980-fa165ba0f208
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/period/682?namespace=dynamic-eu"}},"id":682,"start_timestamp":1548226800000,"end_timestamp":1548831599000}'
      effective_url: https://eu.api.blizzard.com/data/wow/mythic-keystone/period/682?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:39 GMT
recorded_with: VCR 2.9.3
