---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/data/character/races
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200e8-ad13-f140-9756-fa164cbd2448
      x-trace-spanid:
      - 15b200e8-ad13-f270-9756-fa164cbd2448
      x-trace-parentspanid:
      - 15b200e8-ad13-f240-9756-fa164cbd2448
    body:
      encoding: UTF-8
      string: '{"races":[{"id":1,"mask":1,"side":"alliance","name":"Human"},{"id":2,"mask":2,"side":"horde","name":"Orc"},{"id":3,"mask":4,"side":"alliance","name":"Dwarf"},{"id":4,"mask":8,"side":"alliance","name":"Night
        Elf"},{"id":5,"mask":16,"side":"horde","name":"Undead"},{"id":6,"mask":32,"side":"horde","name":"Tauren"},{"id":7,"mask":64,"side":"alliance","name":"Gnome"},{"id":8,"mask":128,"side":"horde","name":"Troll"},{"id":9,"mask":256,"side":"horde","name":"Goblin"},{"id":10,"mask":512,"side":"horde","name":"Blood
        Elf"},{"id":11,"mask":1024,"side":"alliance","name":"Draenei"},{"id":22,"mask":2097152,"side":"alliance","name":"Worgen"},{"id":24,"mask":8388608,"side":"neutral","name":"Pandaren"},{"id":25,"mask":16777216,"side":"alliance","name":"Pandaren"},{"id":26,"mask":33554432,"side":"horde","name":"Pandaren"},{"id":27,"mask":67108864,"side":"horde","name":"Nightborne"},{"id":28,"mask":134217728,"side":"horde","name":"Highmountain
        Tauren"},{"id":29,"mask":268435456,"side":"alliance","name":"Void Elf"},{"id":30,"mask":536870912,"side":"alliance","name":"Lightforged
        Draenei"},{"id":31,"mask":1073741824,"side":"horde","name":"Zandalari Troll"},{"id":32,"mask":-2147483648,"side":"alliance","name":"Kul
        Tiran"},{"id":34,"mask":2,"side":"alliance","name":"Dark Iron Dwarf"},{"id":36,"mask":8,"side":"horde","name":"Mag''har
        Orc"}]}'
      effective_url: https://us.api.blizzard.com/wow/data/character/races
  recorded_at: Thu, 08 Aug 2019 06:11:38 GMT
recorded_with: VCR 2.9.3
