---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/item-class/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - item-class
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c1-d180-3150-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c1-d180-3270-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c1-d180-3240-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/item-class/?namespace=static-8.2.5_31884-eu"}},"item_classes":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/0?namespace=static-8.2.5_31884-eu"},"name":"Consumable","id":0},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/1?namespace=static-8.2.5_31884-eu"},"name":"Container","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/2?namespace=static-8.2.5_31884-eu"},"name":"Weapon","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/3?namespace=static-8.2.5_31884-eu"},"name":"Gem","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/item-class/4?namespace=static-8.2.5_31884-eu"},"name":"Armor","id":4},{"[...]
