---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/region/3?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:57 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - region
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-c402-f000-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-c402-f200-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-c402-f1d0-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/region/3?namespace=dynamic-eu"}},"id":3,"name":"Europe","tag":"EU"}'
      effective_url: https://eu.api.blizzard.com/data/wow/region/3?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:49 GMT
recorded_with: VCR 2.9.3
