---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/azerite-essence/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:22 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - azerite-essence
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-c3f8-7400-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-c3f8-78a0-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-c3f8-7870-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/azerite-essence/2?namespace=static-8.2.5_31884-eu"}},"id":2,"name":"Azeroth''s
        Undying Gift","allowed_specializations":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/66?namespace=static-8.2.5_31884-eu"},"name":"Protection","id":66},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/73?namespace=static-8.2.5_31884-eu"},"name":"Protection","id":73},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/104?namespace=static-8.2.5_31884-eu"},"name":"Guardian","id":104},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/581?namespace=static-8.2.5_31884-eu"},"name":"Vengeance","id":581},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/268?namespace=static-8.2.5_31884-eu"},"name":"Brewmaster","id":268},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/250?namespace=static-8.2.5_31884-eu"},"name":"Blood","id":250}],"powers":[{"id":5,"rank":1,"main_power_spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/293019?namespace=static-8.2.5_31884-eu"},"name":"Azeroth''s
        Undying Gift","id":293019},"passive_power_spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/294668?namespace=static-8.2.5_31884-eu"},"name":"Hardened
        Azerite","id":294668}},{"id":6,"rank":2,"main_power_spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/298080?namespace=static-8.2.5_31884-eu"},"name":"Azeroth''s
        Undying Gift","id":298080},"passive_power_spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/298082?namespace=static-8.2.5_31884-eu"},"name":"Hardened
        Azerite","id":298082}},{"id":7,"rank":3,"main_power_spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/298081?namespace=static-8.2.5_31884-eu"},"name":"Azeroth''s
        Undying Gift","id":298081},"passive_power_spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/298083?namespace=static-8.2.5_31884-eu"},"name":"Hardened
        Azerite","id":298083}},{"id":8,"rank":4,"main_power_spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/298081?namespace=static-8.2.5_31884-eu"},"name":"Azeroth''s
        Undying Gift","id":298081},"passive_power_spell":{"key":{"href":"https://eu.api.blizzard.com/data/wow/spell/298083?namespace=static-8.2.5_31884-eu"},"name":"Hardened
        Azerite","id":298083}}],"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/azerite-essence/2?namespace=static-8.2.5_31884-eu"},"id":2}}'
      effective_url: https://eu.api.blizzard.com/data/wow/azerite-essence/2?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:31 GMT
recorded_with: VCR 2.9.3
