---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/pet/species/258
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b6-1018-ea00-e32b-fa164dc0bcb5
      x-trace-spanid:
      - 15b200b6-1018-ebf0-e32b-fa164dc0bcb5
      x-trace-parentspanid:
      - 15b200b6-1018-ebc0-e32b-fa164dc0bcb5
    body:
      encoding: UTF-8
      string: '{"speciesId":258,"petTypeId":9,"creatureId":42078,"name":"Mini Thor","canBattle":true,"icon":"t_roboticon","description":"Powerful
        artillery of the Terran army. The Thor is always the first one in and the
        last one out!","source":"Promotion: StarCraft II: Wings of Liberty Collector''s
        Edition","abilities":[{"slot":0,"order":0,"requiredLevel":1,"id":777,"name":"Missile","icon":"ability_racial_rocketbarrage","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false},{"slot":1,"order":1,"requiredLevel":2,"id":640,"name":"Toxic
        Smoke","icon":"spell_shadow_plaguecloud","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false},{"slot":2,"order":2,"requiredLevel":4,"id":636,"name":"Sticky
        Grenade","icon":"inv_misc_pyriumgrenade","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false},{"slot":0,"order":3,"requiredLevel":10,"id":455,"name":"Batter","icon":"inv_mace_02","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false},{"slot":1,"order":4,"requiredLevel":15,"id":634,"name":"Minefield","icon":"inv_misc_bomb_09","cooldown":5,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false},{"slot":2,"order":5,"requiredLevel":20,"id":293,"name":"Launch
        Rocket","icon":"ability_mount_rocketmount","cooldown":0,"rounds":1,"petTypeId":9,"isPassive":false,"hideHints":false}]}'
      effective_url: https://us.api.blizzard.com/wow/pet/species/258
  recorded_at: Thu, 08 Aug 2019 06:11:22 GMT
recorded_with: VCR 2.9.3
