---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-specialization/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - playable-specialization
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d4-e904-d930-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d4-e904-e240-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d4-e904-e210-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/?namespace=static-8.2.5_31884-eu"}},"character_specializations":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/62?namespace=static-8.2.5_31884-eu"},"name":"Arcane","id":62},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/63?namespace=static-8.2.5_31884-eu"},"name":"Fire","id":63},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/64?namespace=static-8.2.5_31884-eu"},"name":"Frost","id":64},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/65?namespace=static-8.2.5_31884-eu"},"name":"Holy","id":65},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/66?name[...]
