---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-race/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - playable-race
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d4-aa9e-df50-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d4-aa9e-e1c0-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d4-aa9e-e190-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/?namespace=static-8.2.5_31884-eu"}},"races":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/1?namespace=static-8.2.5_31884-eu"},"name":"Human","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-8.2.5_31884-eu"},"name":"Orc","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/3?namespace=static-8.2.5_31884-eu"},"name":"Dwarf","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/4?namespace=static-8.2.5_31884-eu"},"name":"Night
        Elf","id":4},{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/5?namespace=static-8.2.5_31884-eu"},"name"[...]
