---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/mythic-keystone/dungeon/244?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '3'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:01 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - mythic-keystone-dungeon
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d4-e8ff-fd10-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d4-e8ff-fed0-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d4-e8ff-fea0-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/mythic-keystone/dungeon/244?namespace=dynamic-eu"}},"id":244,"name":"Atal''Dazar","map":{"name":"Atal''Dazar","id":1763},"zone":{"slug":"ataldazar"},"keystone_upgrades":[{"upgrade_level":1,"qualifying_duration":1800000},{"upgrade_level":2,"qualifying_duration":1440000},{"upgrade_level":3,"qualifying_duration":1080000}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/mythic-keystone/dungeon/244?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:37 GMT
recorded_with: VCR 2.9.3
