---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/achievement/2144?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b3-73ec-e650-0be5-fa164df98e5c
      x-trace-spanid:
      - 15b200b3-73ec-e9a0-0be5-fa164df98e5c
      x-trace-parentspanid:
      - 15b200b3-73ec-e970-0be5-fa164df98e5c
    body:
      encoding: UTF-8
      string: '{"id":2144,"title":"What a Long, Strange Trip It''s Been","points":50,"description":"Complete
        the world events achievements listed below.","reward":"Rewards: Violet Proto-Drake","rewardItems":[{"id":44177,"name":"Reins
        of the Violet Proto-Drake","icon":"ability_mount_drake_proto","quality":4,"itemLevel":70,"tooltipParams":{"timewalkerLevel":0,"azeritePower0":0,"azeritePower1":0,"azeritePower2":0,"azeritePower3":0,"azeritePowerLevel":0,"azeritePower4":0},"stats":[],"armor":0,"context":"","bonusLists":[],"artifactId":0,"displayInfoId":0,"artifactAppearanceId":0,"artifactTraits":[],"relics":[],"appearance":{}}],"icon":"achievement_bg_masterofallbgs","criteria":[{"id":7553,"description":"To
        Honor One''s Elders","orderIndex":0,"max":1},{"id":7561,"description":"Fool
        For Love","orderIndex":1,"max":1},{"id":9880,"description":"Noble Gardener","orderIndex":2,"max":1},{"id":7555,"description":"For
        The Children","orderIndex":3,"max":1},{"id":0,"description":"The Flame Warden/Keeper","orderIndex":4,"max":1},{"id":7564,"description":"Brewmaster","orderIndex":5,"max":1},{"id":7558,"description":"Hallowed
        Be Thy Name","orderIndex":6,"max":1},{"id":7566,"description":"Merrymaker","orderIndex":7,"max":1}],"accountWide":true,"factionId":2}'
      effective_url: https://us.api.blizzard.com/wow/achievement/2144?
  recorded_at: Thu, 08 Aug 2019 06:11:20 GMT
recorded_with: VCR 2.9.3
