---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 30 Sep 2020 01:07:25 GMT
      Battlenet-Namespace:
      - static-8.3.7_35114-eu
      Battlenet-Schema:
      - playable-race
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 04ad9ef8-3c9b-378d-ba2b-319e9014eb45
      x-trace-spanid:
      - 16371d6c-7e87-6b70-bbed-fa165b4e7ff2
      x-trace-parentspanid:
      - 16371d6c-7e87-6b40-bbed-fa165b4e7ff2
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-8.3.7_35114-eu"}},"id":2,"name":"Orc","gender_name":{"male":"Orc","female":"Orc"},"faction":{"type":"HORDE","name":"Horde"},"is_selectable":true,"is_allied_race":false}'
      effective_url: https://eu.api.blizzard.com/data/wow/playable-race/2?namespace=static-eu&locale=en_gb
  recorded_at: Sat, 03 Oct 2020 19:37:04 GMT
recorded_with: VCR 2.9.3
