---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/achievements/statistics?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUwirJ2L8Z9vFZjdkTFQv52o8jyUe6VkcQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Sat, 7 Mar 2020 09:41:14 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - character-achievement-statistics
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15f9e46f-07a1-ebd0-f19f-fa165acb3800
      x-trace-spanid:
      - 15f9e46f-07a1-fea0-f19f-fa165acb3800
      x-trace-parentspanid:
      - 15f9e46f-07a1-fe70-f19f-fa165acb3800
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/achievements/statistics?namespace=profile-eu"}},"character":{"key":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday?namespace=profile-eu"},"name":"Sheday","id":142650023,"realm":{"key":{"href":"https://eu.api.blizzard.com/data/wow/realm/550?namespace=dynamic-eu"},"name":"Stormrage","id":550,"slug":"stormrage"}},"statistics":[{"id":130,"name":"Character","sub_categories":[{"id":145,"name":"Consumables","statistics":[{"id":344,"name":"Bandages
        used","last_updated_timestamp":1350250339000,"quantity":78.0},{"id":1125,"name":"Bandage
        used most","last_updated_timestamp":1350250339000,"description":"Heavy Frostweave
        Bandage","quantity":60.0},{"id":1298,"name":"Different bandage types used","last_updated_timestamp":1350250339000,"quantity":4.0},{"id":345,"name":"Health
        potions consumed","last_updated_timestamp":1291398601000,"quantity":73.0},{"id":1299,"name":"Health
        potion used most","last_updated_timestamp":1291398601000,"description":"Runic
        Healing Potion","quantity":45.0},{"id":1300,"name":"Different health potions
        used","last_updated_timestamp":1[...]
