---
http_interactions:
- request:
    method: get
    uri: https://us.api.blizzard.com/wow/recipe/33994
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer USgXv9RzFgNs8jNGt6Si6A4I7ef3VJkkdX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15b200b6-ca48-b3e0-2fdf-fa164ccb1841
      x-trace-spanid:
      - 15b200b6-ca48-b520-2fdf-fa164ccb1841
      x-trace-parentspanid:
      - 15b200b6-ca48-b4f0-2fdf-fa164ccb1841
    body:
      encoding: UTF-8
      string: '{"id":33994,"name":"Precise Strikes","profession":"Enchanting","icon":"spell_holy_greaterheal"}'
      effective_url: https://us.api.blizzard.com/wow/recipe/33994
  recorded_at: Thu, 08 Aug 2019 06:12:01 GMT
recorded_with: VCR 2.9.3
