---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/collections/mounts?namespace=profile-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '4'
      Last-Modified:
      - Sun, 22 Dec 2019 09:05:19 GMT
      Battlenet-Namespace:
      - profile-eu
      Battlenet-Schema:
      - collection-mounts
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-faf6-0cb0-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-faf6-1de0-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-faf6-1db0-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/profile/wow/character/stormrage/sheday/collections/mounts?namespace=profile-eu"}},"mounts":[{"mount":{"key":{"href":"https://eu.api.blizzard.com/data/wow/mount/6?namespace=static-8.2.5_31884-eu"},"name":"Brown
        Horse","id":6}},{"mount":{"key":{"href":"https://eu.api.blizzard.com/data/wow/mount/9?namespace=static-8.2.5_31884-eu"},"name":"Black
        Stallion","id":9}},{"mount":{"key":{"href":"https://eu.api.blizzard.com/data/wow/mount/11?namespace=static-8.2.5_31884-eu"},"name":"Pinto","id":11}},{"mount":{"key":{"href":"https://eu.api.blizzard.com/data/wow/mount/14?namespace=static-8.2.5_31884-eu"},"name":"Timber
        Wolf","id":14}},{"mount":{"key":{"href":"https://eu.api.blizzard.com/data/wow/mount/17?namesp[...]
