---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:31 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d2-ef59-bba0-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d2-ef59-bf50-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d2-ef59-bf20-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/1?namespace=static-1.13.2_31446-classic-eu"}},"assets":[{"key":"image","value":"https://render-classic-eu.worldofwarcraft.com/guild/tabards/emblem_01.png"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 19:51:39 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/2?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:31 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c86551-ace5-e150-f981-fa165bcda32d
      x-trace-spanid:
      - 15c86551-ace5-e3a0-f981-fa165bcda32d
      x-trace-parentspanid:
      - 15c86551-ace5-e370-f981-fa165bcda32d
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/2?namespace=static-1.13.2_31446-classic-eu"}},"assets":[{"key":"image","value":"https://render-classic-eu.worldofwarcraft.com/guild/tabards/emblem_02.png"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/2?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 19:51:39 GMT
recorded_with: VCR 2.9.3
