---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/playable-specialization/63?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '2'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:12 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - playable-specialization
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d4-e904-acf0-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d4-e904-ae10-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d4-e904-ade0-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/playable-specialization/63?namespace=static-8.2.5_31884-eu"}},"id":63,"playable_class":{"key":{"href":"https://eu.api.blizzard.com/data/wow/playable-class/8?namespace=static-8.2.5_31884-eu"},"name":"Mage","id":8},"name":"Fire","gender_description":{"male":"Focuses
        the pure essence of Fire magic, assaulting enemies with combustive flames.\r\n\r\nPreferred
        Weapon: Staff, Wand, Dagger, Sword","female":"Focuses the pure essence of
        Fire magic, assaulting enemies with combustive flames.\r\n\r\nPreferred Weapon:
        Staff, Wand, Dagger, Sword"},"media":{"key":{"href":"https://eu.api.blizzard.com/data/wow/media/playable-specialization/63?namespace=static-8.2.5_31884-eu"},"id":63},"role":{"type":"DAMAGE","name":"Damage"},"talent_tiers":[{"level":15,"talents":[{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/22456?namespace=static-8.2.5_31884-eu"},"name":"Firestarter","id":22456},"spell_tooltip":{"description":"Your
        Fireball and Pyroblast spells always deal a critical strike when the target
        is above 90% health.","cast_time":"Passive"},"column_index":0},{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/22459?namespace=static-8.2.5_31884-eu"},"name":"Pyromaniac","id":22459},"spell_tooltip":{"description":"Casting
        Pyroblast or Flamestrike while Hot Streak is active has an 8% chance to instantly
        reactivate Hot Streak.","cast_time":"Passive"},"column_index":1},{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/22462?namespace=static-8.2.5_31884-eu"},"name":"Searing
        Touch","id":22462},"spell_tooltip":{"description":"Scorch deals 150% increased
        damage and is a guaranteed Critical Strike when the target is below 30% health.","cast_time":"Passive"},"column_index":2}],"tier_index":0},{"level":30,"talents":[{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/23071?namespace=static-8.2.5_31884-eu"},"name":"Blazing
        Soul","id":23071},"spell_tooltip":{"description":"Casting Blink ignites a
        Blazing Barrier around you.","cast_time":"Passive"},"column_index":0},{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/22443?namespace=static-8.2.5_31884-eu"},"name":"Shimmer","id":22443},"spell_tooltip":{"description":"Teleports
        you 20 yards forward, unless something is in the way. Unaffected by the global
        cooldown and castable while casting.","cast_time":"Instant","power_cost":"2,000
        Mana","cooldown":"0.5 sec cooldown"},"column_index":1},{"talent":{"key":{"href":"https://eu.api.blizzard.com/data/wow/talent/23074?namespace=static-8.2.5_31884-eu"},"name":"Blast
        Wave","id":23074},"spell_tooltip":{"description":"Causes an explosion around
        yourself, dealing 2,616 Fire damage to all enemies within 8 yards, knocking
        them back, and reducing movement speed by 70% for 4 sec.","cast_time":"Instant","cooldown":"25
        sec cooldown"},"column_index":2}],"tier_index":1},{"level"[...]
[...]
