---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/pvp-season/27?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '3'
      Last-Modified:
      - Wed, 10 Jul 2019 04:10:52 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - pvp-season
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865d4-e909-cf70-59a1-fa165a07058b
      x-trace-spanid:
      - 15c865d4-e909-d100-59a1-fa165a07058b
      x-trace-parentspanid:
      - 15c865d4-e909-d0d0-59a1-fa165a07058b
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/27?namespace=dynamic-eu"}},"id":27,"leaderboards":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/27/pvp-leaderboard/?namespace=dynamic-eu"},"rewards":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/27/pvp-reward/?namespace=dynamic-eu"},"season_start_timestamp":1548226800000,"season_end_timestamp":1561510800000}'
      effective_url: https://eu.api.blizzard.com/data/wow/pvp-season/27?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:48 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/pvp-season/28?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '3'
      Last-Modified:
      - Sun, 22 Dec 2019 14:19:10 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - pvp-season
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c2-0055-0b90-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c2-0055-0cb0-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c2-0055-0c80-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/28?namespace=dynamic-eu"}},"id":28,"leaderboards":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/28/pvp-leaderboard/?namespace=dynamic-eu"},"rewards":{"href":"https://eu.api.blizzard.com/data/wow/pvp-season/28/pvp-reward/?namespace=dynamic-eu"},"season_start_timestamp":1562742000000}'
      effective_url: https://eu.api.blizzard.com/data/wow/pvp-season/28?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:48 GMT
recorded_with: VCR 2.9.3
