---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/power-type/index?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - power-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c864f9-982c-72f0-fdd2-fa165ba06406
      x-trace-spanid:
      - 15c864f9-982c-7890-fdd2-fa165ba06406
      x-trace-parentspanid:
      - 15c864f9-982c-7860-fdd2-fa165ba06406
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/power-type/?namespace=static-8.2.5_31884-eu"}},"power_types":[{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/0?namespace=static-8.2.5_31884-eu"},"name":"Mana","id":0},{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/1?namespace=static-8.2.5_31884-eu"},"name":"Rage","id":1},{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/2?namespace=static-8.2.5_31884-eu"},"name":"Focus","id":2},{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/3?namespace=static-8.2.5_31884-eu"},"name":"Energy","id":3},{"key":{"href":"https://eu.api.blizzard.com/data/wow/power-type/4?namespace=static-8.2.5_31884-eu"},"name":"Combo
        Points[...]
