---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/1?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:56 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - media
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c1-d17f-44b0-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c1-d17f-4850-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c1-d17f-4820-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/1?namespace=static-8.2.5_31884-eu"}},"assets":[{"key":"image","value":"https://eu.battle.net/wow/static/images/guild/tabards/emblem_01.png"}]}'
      effective_url: https://eu.api.blizzard.com/data/wow/media/guild-crest/emblem/1?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 10:57:27 GMT
recorded_with: VCR 2.9.3
