---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/realm/500?namespace=dynamic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '6'
      Last-Modified:
      - Wed, 18 Dec 2019 02:19:57 GMT
      Battlenet-Namespace:
      - dynamic-eu
      Battlenet-Schema:
      - realm
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638b-2cab-7ec0-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638b-2cab-8a80-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638b-2cab-8a50-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/realm/500?namespace=dynamic-eu"}},"id":500,"region":{"key":{"href":"https://eu.api.blizzard.com/data/wow/region/3?namespace=dynamic-eu"},"name":"Europe","id":3},"connected_realm":{"href":"https://eu.api.blizzard.com/data/wow/connected-realm/1325?namespace=dynamic-eu"},"name":"Aggramar","category":"English","locale":"enGB","timezone":"Europe/Paris","type":{"type":"NORMAL","name":"Normal"},"is_tournament":false,"slug":"aggramar"}'
      effective_url: https://eu.api.blizzard.com/data/wow/realm/500?namespace=dynamic-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:49 GMT
recorded_with: VCR 2.9.3
