---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-type/1?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - creature-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c0-8310-c470-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c0-8310-c790-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c0-8310-c760-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/1?namespace=static-1.13.2_31446-classic-eu"}},"id":1,"name":"Beast"}'
      effective_url: https://eu.api.blizzard.com/data/wow/creature-type/1?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 18:32:44 GMT
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/creature-type/2?namespace=static-classic-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abcdefghijklmnopqrstuvwxyz01234567
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Mon, 9 Dec 2019 02:11:33 GMT
      Battlenet-Namespace:
      - static-1.13.2_31446-classic-eu
      Battlenet-Schema:
      - creature-type
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c865c0-8310-c370-85af-fa165b14433f
      x-trace-spanid:
      - 15c865c0-8310-c720-85af-fa165b14433f
      x-trace-parentspanid:
      - 15c865c0-8310-c6f0-85af-fa165b14433f
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/creature-type/2?namespace=static-1.13.2_31446-classic-eu"}},"id":2,"name":"Dragonkin"}'
      effective_url: https://eu.api.blizzard.com/data/wow/creature-type/2?namespace=static-classic-eu&locale=en_gb
  recorded_at: Fri, 20 Dec 2019 18:32:44 GMT
recorded_with: VCR 2.9.3
