---
http_interactions:
- request:
    method: get
    uri: https://eu.api.blizzard.com/data/wow/reputation-tiers/2?namespace=static-eu&locale=en_gb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer EUUKegKqZAdwS8EL5clKeq67gpz4HqdbQc
  response:
    status:
      code: 200
      message: OK
    headers:
      Battlenet-Schema-Revision:
      - '1'
      Last-Modified:
      - Wed, 18 Dec 2019 02:20:03 GMT
      Battlenet-Namespace:
      - static-8.2.5_31884-eu
      Battlenet-Schema:
      - reputation-tiers
      content-type:
      - application/json;charset=UTF-8
      x-trace-traceid:
      - 15c8638b-2cac-cfb0-6753-fa165ab86060
      x-trace-spanid:
      - 15c8638b-2cac-d1d0-6753-fa165ab86060
      x-trace-parentspanid:
      - 15c8638b-2cac-d1a0-6753-fa165ab86060
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://eu.api.blizzard.com/data/wow/reputation-tiers/2?namespace=static-8.2.5_31884-eu"}},"id":2,"tiers":[{"name":"Stranger","min_value":0,"max_value":8400,"id":0},{"name":"Acquaintance","min_value":8400,"max_value":16800,"id":1},{"name":"Buddy","min_value":16800,"max_value":25200,"id":2},{"name":"Friend","min_value":25200,"max_value":33600,"id":3},{"name":"Good
        Friend","min_value":33600,"max_value":42000,"id":4},{"name":"Best Friend","min_value":42000,"max_value":42000,"id":5}],"faction":{"key":{"href":"https://eu.api.blizzard.com/data/wow/reputation-faction/1283?namespace=static-8.2.5_31884-eu"},"name":"Farmer
        Fung","id":1283}}'
      effective_url: https://eu.api.blizzard.com/data/wow/reputation-tiers/2?namespace=static-eu&locale=en_gb
  recorded_at: Sun, 22 Dec 2019 15:54:51 GMT
[...]
